# HMDA Data Testing

## TODO:
### Data Collection
- [x] download data straight from https://ffiec.cfpb.gov/documentation/api/data-browser/ API
- [ ] check for existence of data download - prompt user for overwrite if already there
- [x] is there a better way to save off the data stream from the API?
- [x] write to output file in chunks, rather than all at once?
- [X] it doesn't look like the API call filters/params are working as intended??

### Data Cleaning
- [X] determine what columns to keep or drop
- [ ] merge like columns together, ex: 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'

In [26]:
import gzip
import os
import requests
import subprocess
import pandas as pd
from pathlib import Path
from hmda_lib import valid_state_codes
from hmda_lib import valid_years

In [22]:
def download_hmda_data(state, year):
    output_file = Path('hmda_data', f'test-{state}-{year}.csv')
    url = f'https://ffiec.cfpb.gov/v2/data-browser-api/view/csv?states={state}&years={year}'

    try:
        with requests.get(url, stream=True) as response:
            response.raise_for_status()
            with open(output_file, 'wb') as fd:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        fd.write(chunk)
        return output_file
    except requests.exceptions.RequestException as e:
        print(f"Error downloading data: {e}")
        return False

In [23]:
def compress_hmda_data(f):
    subprocess.run(['gzip', f])

In [24]:
def existence_check():
    return False

In [25]:
state = 'MN'
years = ['2020', '2021', '2022']

for year in years:
    print(f'Downloading HMDA data for: {year} {state}.....', end='')
    data_file_path = download_hmda_data(state, year)
    print(' compressing.....', end='')
    compress_hmda_data(data_file_path)
    print(' done!')

Downloading HMDA data for: 2020 MN..... compressing..... done!
Downloading HMDA data for: 2021 MN..... compressing..... done!
Downloading HMDA data for: 2022 MN..... compressing..... done!

In [12]:
df = pd.read_csv(Path('hmda_data', 'test-MN-2022.csv'))

/tmp/ipykernel_464065/2430593964.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(Path('hmda_data', 'test-MN-2022.csv'))

In [28]:
data_path = 'hmda_data'
filenames = os.listdir(data_path)
all_dataframes = []

for filename in filenames:
    if filename.endswith('.csv.gz'):
        filepath = Path(data_path, filename)
        with gzip.open(filepath, 'rt') as file:
            df = pd.read_csv(filepath)
        all_dataframes.append(df)

df = pd.concat(all_dataframes, ignore_index=True)

/tmp/ipykernel_464065/2380308564.py:9: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_464065/2380308564.py:9: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_464065/2380308564.py:9: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

In [29]:
df

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,549300Q76VHK6FGPX546,99999,MN,27021.0,2.702196e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2310,20.35,72400,74,941,3848,35
1,2021,549300Q76VHK6FGPX546,99999,MN,27133.0,2.713357e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2384,3.02,72400,111,782,955,66
2,2021,549300Q76VHK6FGPX546,33460,MN,27139.0,2.713908e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5230,5.51,100600,124,1631,1825,26
3,2021,549300Q76VHK6FGPX546,99999,MN,27063.0,2.706348e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2357,3.52,72400,103,819,1146,63
4,2021,549300Q76VHK6FGPX546,99999,MN,27035.0,2.703595e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5300,2.26,72400,134,1728,2666,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200773,2022,549300RBJCM5B02O5U05,99999,MN,27091.0,2.709179e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1722,6.33,83600,106,638,935,69
1200774,2022,549300RBJCM5B02O5U05,99999,MN,27173.0,2.717397e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2302,8.73,83600,101,798,1120,71
1200775,2022,549300RBJCM5B02O5U05,99999,MN,27063.0,2.706348e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2175,4.28,83600,119,839,1136,67
1200776,2022,549300RBJCM5B02O5U05,99999,MN,27033.0,2.703327e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3249,25.02,83600,86,898,1210,63
1200777,2022,549300Y7HCU10KIRLG30,99999,MN,27135.0,2.713597e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,...,NaN,NaN,NaN,3523,9.17,83600,96,1086,1606,37

In [30]:
for c in df.columns:
    print(c)

activity_year
lei
derived_msa-md
state_code
county_code
census_tract
conforming_loan_limit
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
action_taken
purchaser_type
preapproval
loan_type
loan_purpose
lien_status
reverse_mortgage
open-end_line_of_credit
business_or_commercial_purpose
loan_amount
loan_to_value_ratio
interest_rate
rate_spread
hoepa_status
total_loan_costs
total_points_and_fees
origination_charges
discount_points
lender_credits
loan_term
prepayment_penalty_term
intro_rate_period
negative_amortization
interest_only_payment
balloon_payment
other_nonamortizing_features
property_value
construction_method
occupancy_type
manufactured_home_secured_property_type
manufactured_home_land_property_interest
total_units
multifamily_affordable_units
income
debt_to_income_ratio
applicant_credit_score_type
co-applicant_credit_score_type
applicant_ethnicity-1
applicant_ethnicity-2
applicant_ethnicity-3
applicant_ethnicity-4
applicant_ethnicity-5
co-applicant_ethnicity-1
co-applicant_ethnicity-2
co-applicant_ethnicity-3
co-applicant_ethnicity-4
co-applicant_ethnicity-5
applicant_ethnicity_observed
co-applicant_ethnicity_observed
applicant_race-1
applicant_race-2
applicant_race-3
applicant_race-4
applicant_race-5
co-applicant_race-1
co-applicant_race-2
co-applicant_race-3
co-applicant_race-4
co-applicant_race-5
applicant_race_observed
co-applicant_race_observed
applicant_sex
co-applicant_sex
applicant_sex_observed
co-applicant_sex_observed
applicant_age
co-applicant_age
applicant_age_above_62
co-applicant_age_above_62
submission_of_application
initially_payable_to_institution
aus-1
aus-2
aus-3
aus-4
aus-5
denial_reason-1
denial_reason-2
denial_reason-3
denial_reason-4
tract_population
tract_minority_population_percent
ffiec_msa_md_median_family_income
tract_to_msa_income_percentage
tract_owner_occupied_units
tract_one_to_four_family_homes
tract_median_age_of_housing_units

In [31]:
for c in df.columns:
    print(f'Examining column: {c}')
    print(df[c].value_counts())
    print()

Examining column: activity_year
activity_year
2020    493242
2021    460643
2022    246893
Name: count, dtype: int64

Examining column: lei
lei
6BYL5QZYBDK8S7L73M02    95149
KB1H1DSPRFMYMCUFXT09    66536
549300FGXN1K3HLB1R50    50244
549300WYBPIWKK6SQC06    44872
549300HW662MN1WU8550    29582
                        ...
549300LU6Y2TXG48QY48        1
549300MUTFJQGRZJH019        1
2549008684GZZI5B5H82        1
549300C4ZH7G6OB81F33        1
549300323EON4W3CCM44        1
Name: count, Length: 1165, dtype: int64

Examining column: derived_msa-md
derived_msa-md
33460    848390
99999    193196
40340     42995
20260     41354
41060     33821
31860     15684
22020     12749
0          5463
24220      4305
29100      2821
Name: count, dtype: int64

Examining column: state_code
state_code
MN    1200778
Name: count, dtype: int64

Examining column: county_code
county_code
27053.0    285257
27037.0    111249
27123.0     99383
27003.0     94114
27163.0     75582
            ...
27011.0       561
27087.0       407
27069.0       321
27125.0       312
27155.0       257
Name: count, Length: 87, dtype: int64

Examining column: census_tract
census_tract
2.716307e+10    6628
2.717110e+10    5662
2.717110e+10    4568
2.705303e+10    4319
2.705303e+10    4108
                ...
2.705398e+10       8
2.703199e+10       3
2.705310e+10       2
2.712398e+10       1
2.716307e+10       1
Name: count, Length: 1664, dtype: int64

Examining column: conforming_loan_limit
conforming_loan_limit
C     1168561
NC      28562
Name: count, dtype: int64

Examining column: derived_loan_product_type
derived_loan_product_type
Conventional:First Lien          887767
Conventional:Subordinate Lien    121230
FHA:First Lien                   109326
VA:First Lien                     70882
FSA/RHS:First Lien                11244
FHA:Subordinate Lien                220
FSA/RHS:Subordinate Lien            103
VA:Subordinate Lien                   6
Name: count, dtype: int64

Examining column: derived_dwelling_category
derived_dwelling_category
Single Family (1-4 Units):Site-Built      1181410
Single Family (1-4 Units):Manufactured      15713
Multifamily:Site-Built                       3570
Multifamily:Manufactured                       85
Name: count, dtype: int64

Examining column: derived_ethnicity
derived_ethnicity
Not Hispanic or Latino     882780
Ethnicity Not Available    270014
Hispanic or Latino          32820
Joint                       14734
Free Form Text Only           430
Name: count, dtype: int64

Examining column: derived_race
derived_race
White                                        832269
Race Not Available                           254084
Asian                                         50071
Black or African American                     35447
Joint                                         21520
American Indian or Alaska Native               4938
Native Hawaiian or Other Pacific Islander      1256
2 or more minority races                       1106
Free Form Text Only                              87
Name: count, dtype: int64

Examining column: derived_sex
derived_sex
Joint                462638
Male                 328347
Female               216946
Sex Not Available    192847
Name: count, dtype: int64

Examining column: action_taken
action_taken
1    762503
4    137431
6    118942
3    106358
5     49419
2     22972
8      1969
7      1184
Name: count, dtype: int64

Examining column: purchaser_type
purchaser_type
0     550238
1     239549
3     177710
2      85546
71     61419
6      44730
9      32671
8       6000
5       1772
72      1062
4         81
Name: count, dtype: int64

Examining column: preapproval
preapproval
2    1173008
1      27770
Name: count, dtype: int64

Examining column: loan_type
loan_type
1    1008997
2     109546
3      70888
4      11347
Name: count, dtype: int64

Examining column: loan_purpose
loan_purpose
31    440126
1     424504
32    222391
2      54000
4      50304
5       9453
Name: count, dtype: int64

Examining column: lien_status
lien_status
1    1079219
2     121559
Name: count, dtype: int64

Examining column: reverse_mortgage
reverse_mortgage
2       1156515
1111      42316
1          1947
Name: count, dtype: int64

Examining column: open-end_line_of_credit
open-end_line_of_credit
2       1071689
1         86696
1111      42393
Name: count, dtype: int64

Examining column: business_or_commercial_purpose
business_or_commercial_purpose
2       1134995
1111      42233
1         23550
Name: count, dtype: int64

Examining column: loan_amount
loan_amount
205000.0      46733
155000.0      41875
225000.0      40986
185000.0      40903
165000.0      39903
              ...
3465000.0         1
12575000.0        1
19605000.0        1
33345000.0        1
18835000.0        1
Name: count, Length: 1028, dtype: int64

Examining column: loan_to_value_ratio
loan_to_value_ratio
80.0      58760
Exempt    42387
80.0      32034
95.0      29887
90.0      19110
          ...
50.254        1
56.369        1
14.916        1
90.044        1
17.16         1
Name: count, Length: 125490, dtype: int64

Examining column: interest_rate
interest_rate
2.875     46976
Exempt    42390
2.75      41545
3.25      40356
3.0       32387
          ...
2.367         1
2.716         1
2.391         1
2.363         1
6.32          1
Name: count, Length: 5680, dtype: int64

Examining column: rate_spread
rate_spread
Exempt     42109
0.0          957
0.13         645
0.12         636
0.06         628
           ...
-0.0637        1
0.7415         1
1.0409         1
0.3018         1
-2.676         1
Name: count, Length: 22842, dtype: int64

Examining column: hoepa_status
hoepa_status
2    821985
3    378417
1       376
Name: count, dtype: int64

Examining column: total_loan_costs
total_loan_costs
Exempt      42390
0.0         11728
0.0         10394
245.0        1457
150.0        1138
            ...
3999.05         1
13948.21        1
5626.8          1
6464.75         1
4607.5          1
Name: count, Length: 404039, dtype: int64

Examining column: total_points_and_fees
total_points_and_fees
Exempt      42390
799.0         107
749.0          90
2900.0         85
799.0          44
            ...
1857.0          1
1830.58         1
1780.76         1
2755.0          1
11785.91        1
Name: count, Length: 1421, dtype: int64

Examining column: origination_charges
origination_charges
0.0         54952
Exempt      42390
0.0         40921
795.0        7163
995.0        6943
            ...
1833.86         1
2768.44         1
2058.9          1
1370.93         1
11928.68        1
Name: count, Length: 213373, dtype: int64

Examining column: discount_points
discount_points
Exempt     42312
500.0        271
1500.0       254
750.0        225
1000.0       214
           ...
43.05          1
1822.37        1
1121.6         1
1735.9         1
9868.68        1
Name: count, Length: 160858, dtype: int64

Examining column: lender_credits
lender_credits
Exempt     42312
500.0       2954
1000.0      2274
50.0        2205
25.0        1961
           ...
12135.9        1
3182.5         1
2335.04        1
6003.34        1
686.3          1
Name: count, Length: 115160, dtype: int64

Examining column: loan_term
loan_term
360      505852
360.0    287842
180       99899
180.0     61807
240       46811
          ...
411           1
449           1
538           1
451           1
4.0           1
Name: count, Length: 951, dtype: int64

Examining column: prepayment_penalty_term
prepayment_penalty_term
Exempt    42403
36.0       3338
36         1985
2.0         710
2            88
12           53
15.0         29
20.0         26
30.0         14
21.0          7
24.0          5
24            3
12.0          3
27.0          2
9.0           2
120.0         1
1             1
120           1
360.0         1
180           1
60            1
Name: count, dtype: int64

Examining column: intro_rate_period
intro_rate_period
Exempt    42248
1         34281
1.0       24302
120        7260
60         6714
          ...
69.0          1
7.0           1
10.0          1
3.0           1
18.0          1
Name: count, Length: 131, dtype: int64

Examining column: negative_amortization
negative_amortization
2       1158132
1111      42368
1           278
Name: count, dtype: int64

Examining column: interest_only_payment
interest_only_payment
2       1091943
1         66467
1111      42368
Name: count, dtype: int64

Examining column: balloon_payment
balloon_payment
2       1132732
1111      42368
1         25678
Name: count, dtype: int64

Examining column: other_nonamortizing_features
other_nonamortizing_features
2       1157706
1111      42368
1           704
Name: count, dtype: int64

Examining column: property_value
property_value
Exempt       42390
255000       20062
305000       19857
275000       18459
265000       17568
             ...
28435000         1
9635000          1
19435000         1
12465000         1
4515000.0        1
Name: count, Length: 1443, dtype: int64

Examining column: construction_method
construction_method
1    1184980
2      15798
Name: count, dtype: int64

Examining column: occupancy_type
occupancy_type
1    1124474
3      47633
2      28671
Name: count, dtype: int64

Examining column: manufactured_home_secured_property_type
manufactured_home_secured_property_type
3       1143790
1111      42314
2          8377
1          6297
Name: count, dtype: int64

Examining column: manufactured_home_land_property_interest
manufactured_home_land_property_interest
5       1143798
1111      42314
3          7569
1          6756
2           207
4           134
Name: count, dtype: int64

Examining column: total_units
total_units
1          899942
1          276185
2           13252
2            3413
5-24         2076
3            1923
4            1756
25-49         608
50-99         503
4             334
3             318
>149          252
100-149       216
Name: count, dtype: int64

Examining column: multifamily_affordable_units
multifamily_affordable_units
Exempt    42312
0          1524
0.0         271
100         141
100.0        24
21            6
55            5
10            4
87            3
25            3
50            3
40            3
9             3
4             3
80            2
91            2
22            2
20            2
6             2
9.0           2
41            2
67            2
68            2
98            2
77            2
93            2
78            2
20.0          2
19            2
53            1
82            1
22.0          1
73            1
29            1
44            1
3             1
38            1
97            1
79            1
50.0          1
54.0          1
97.0          1
8.0           1
16            1
13            1
51            1
35.0          1
25.0          1
27            1
39            1
96            1
14            1
30            1
43            1
38.0          1
88            1
6.0           1
94            1
Name: count, dtype: int64

Examining column: income
income
60.0        12825
70.0        10734
75.0        10727
65.0        10606
50.0        10483
            ...
186827.0        1
158422.0        1
78385.0         1
136526.0        1
1595.0          1
Name: count, Length: 2687, dtype: int64

Examining column: debt_to_income_ratio
debt_to_income_ratio
20%-<30%    196134
30%-<36%    146257
<20%         89284
Exempt       42032
50%-60%      29288
44           28784
42           27802
41           26845
40           26525
39           26496
43           26241
38           25972
37           25499
36           25118
>60%         21563
49           19414
45           19023
46           16388
47           15901
48           15835
Name: count, dtype: int64

Examining column: applicant_credit_score_type
applicant_credit_score_type
9       394310
1       262343
3       214052
2       196134
8        56049
1111     42390
7        21548
11        9955
4         1767
6         1563
5          667
Name: count, dtype: int64

Examining column: co-applicant_credit_score_type
co-applicant_credit_score_type
9       516043
10      433650
1        71026
3        57112
2        47563
1111     42390
8        20904
7         7251
11        4427
5          315
4           82
6           15
Name: count, dtype: int64

Examining column: applicant_ethnicity-1
applicant_ethnicity-1
2.0     891475
3.0     159873
4.0     110141
1.0      34369
14.0      2945
11.0      1250
12.0       233
13.0        62
Name: count, dtype: int64

Examining column: applicant_ethnicity-2
applicant_ethnicity-2
11.0    10732
14.0     7356
12.0     1323
2.0       643
13.0      379
1.0        98
Name: count, dtype: int64

Examining column: applicant_ethnicity-3
applicant_ethnicity-3
14.0    254
12.0     76
11.0     59
13.0     40
2.0      10
Name: count, dtype: int64

Examining column: applicant_ethnicity-4
applicant_ethnicity-4
14.0    10
13.0     7
12.0     5
11.0     1
Name: count, dtype: int64

Examining column: applicant_ethnicity-5
applicant_ethnicity-5
13.0    4
2.0     4
14.0    3
11.0    1
12.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-1
co-applicant_ethnicity-1
5.0     580302
2.0     429085
4.0      88937
3.0      87400
1.0      13226
14.0       982
11.0       575
12.0       102
13.0        26
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-2
co-applicant_ethnicity-2
11.0    4232
14.0    2458
12.0     532
2.0      241
13.0     129
1.0       35
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-3
co-applicant_ethnicity-3
14.0    72
11.0    37
12.0    25
13.0    20
2.0      3
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-4
co-applicant_ethnicity-4
12.0    3
14.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-5
co-applicant_ethnicity-5
13.0    2
Name: count, dtype: int64

Examining column: applicant_ethnicity_observed
applicant_ethnicity_observed
2    1013889
3     166726
1      20163
Name: count, dtype: int64

Examining column: co-applicant_ethnicity_observed
co-applicant_ethnicity_observed
4    580302
2    487056
3    123919
1      9501
Name: count, dtype: int64

Examining column: applicant_race-1
applicant_race-1
5.0     844679
6.0     143901
7.0     110183
2.0      47716
3.0      38636
1.0       7532
21.0      3153
27.0      1866
4.0       1259
26.0       427
22.0       389
25.0       307
23.0       275
44.0       257
24.0        74
41.0        20
43.0        10
42.0         7
Name: count, dtype: int64

Examining column: applicant_race-2
applicant_race-2
27.0    10895
21.0     9421
5.0      7839
26.0     3644
22.0     3396
25.0     2220
23.0     1684
3.0       603
24.0      531
44.0      441
2.0       342
4.0       163
41.0      110
42.0       53
43.0       51
1.0        20
Name: count, dtype: int64

Examining column: applicant_race-3
applicant_race-3
5.0     571
27.0    502
44.0    430
24.0    301
23.0    298
26.0    287
22.0    277
25.0    276
21.0    222
3.0      64
41.0     40
4.0      22
43.0     20
42.0     11
2.0       3
Name: count, dtype: int64

Examining column: applicant_race-4
applicant_race-4
5.0     40
44.0    34
23.0    29
27.0    27
24.0    24
25.0    23
26.0    22
41.0    20
4.0     17
22.0    16
21.0    13
42.0     4
3.0      2
43.0     1
2.0      1
Name: count, dtype: int64

Examining column: applicant_race-5
applicant_race-5
5.0     18
41.0    17
24.0    15
44.0     9
27.0     7
22.0     4
25.0     3
23.0     3
26.0     2
42.0     2
21.0     2
43.0     2
3.0      2
4.0      1
Name: count, dtype: int64

Examining column: co-applicant_race-1
co-applicant_race-1
8.0     580164
5.0     419179
7.0      88910
6.0      76038
2.0      18621
3.0      12087
1.0       2404
21.0      1056
27.0       797
4.0        460
23.0       236
26.0       202
25.0       191
22.0       179
44.0       101
24.0        85
42.0        14
41.0        11
43.0         7
Name: count, dtype: int64

Examining column: co-applicant_race-2
co-applicant_race-2
27.0    3976
21.0    2706
5.0     2668
26.0    1388
22.0    1272
23.0    1017
25.0     974
24.0     311
3.0      168
44.0     150
2.0      149
41.0      60
4.0       57
42.0      37
43.0      26
1.0       22
Name: count, dtype: int64

Examining column: co-applicant_race-3
co-applicant_race-3
27.0    155
5.0     145
23.0    141
44.0    133
24.0    118
26.0    110
22.0    106
25.0    100
21.0     74
3.0      13
41.0     11
4.0      10
2.0       8
43.0      7
42.0      6
1.0       1
Name: count, dtype: int64

Examining column: co-applicant_race-4
co-applicant_race-4
44.0    14
22.0    10
23.0     9
41.0     9
26.0     8
4.0      7
24.0     6
27.0     6
25.0     5
5.0      5
21.0     4
42.0     1
Name: count, dtype: int64

Examining column: co-applicant_race-5
co-applicant_race-5
5.0     7
41.0    5
23.0    3
43.0    2
44.0    2
21.0    2
24.0    2
Name: count, dtype: int64

Examining column: applicant_race_observed
applicant_race_observed
2    1014893
3     165849
1      20036
Name: count, dtype: int64

Examining column: co-applicant_race_observed
co-applicant_race_observed
4    580164
2    487484
3    123629
1      9501
Name: count, dtype: int64

Examining column: applicant_sex
applicant_sex
1    652822
2    354570
4    110525
3     82322
6       539
Name: count, dtype: int64

Examining column: co-applicant_sex
co-applicant_sex
5    580273
2    336282
1    148917
4     89258
3     45768
6       280
Name: count, dtype: int64

Examining column: applicant_sex_observed
applicant_sex_observed
2    1013425
3     166892
1      20461
Name: count, dtype: int64

Examining column: co-applicant_sex_observed
co-applicant_sex_observed
4    580273
2    486836
3    124024
1      9645
Name: count, dtype: int64

Examining column: applicant_age
applicant_age
35-44    305245
25-34    233728
45-54    231034
55-64    170608
8888     112769
65-74     88520
<25       32545
>74       26322
9999          7
Name: count, dtype: int64

Examining column: co-applicant_age
co-applicant_age
9999     569677
35-44    150154
25-34    111987
45-54    111217
8888     101343
55-64     86072
65-74     46418
<25       12082
>74       11828
Name: count, dtype: int64

Examining column: applicant_age_above_62
applicant_age_above_62
No     930899
Yes    157103
Name: count, dtype: int64

Examining column: co-applicant_age_above_62
co-applicant_age_above_62
No     449567
Yes     80191
Name: count, dtype: int64

Examining column: submission_of_application
submission_of_application
1       931647
3       118277
2       108453
1111     42401
Name: count, dtype: int64

Examining column: initially_payable_to_institution
initially_payable_to_institution
1       954469
3       158167
2        45741
1111     42401
Name: count, dtype: int64

Examining column: aus-1
aus-1
1       483545
6       376246
2       197989
1111     42014
7        34819
3        34077
5        26319
4         5769
Name: count, dtype: int64

Examining column: aus-2
aus-2
1.0    42744
2.0    27549
5.0     4654
3.0     2495
7.0      915
4.0       70
Name: count, dtype: int64

Examining column: aus-3
aus-3
2.0    16748
1.0     8449
3.0     1359
5.0      960
4.0       33
Name: count, dtype: int64

Examining column: aus-4
aus-4
1.0    7540
2.0    1430
3.0    1185
4.0      26
5.0       1
Name: count, dtype: int64

Examining column: aus-5
aus-5
1.0    6255
2.0    1232
3.0    1007
4.0      18
5.0       1
Name: count, dtype: int64

Examining column: denial_reason-1
denial_reason-1
10      1064087
1111      31423
1         29417
3         25038
7         16932
4         14454
9         10729
6          4993
2          1879
5          1802
8            24
Name: count, dtype: int64

Examining column: denial_reason-2
denial_reason-2
3.0    3919
1.0    3269
9.0    3137
6.0    1961
4.0    1841
5.0    1255
2.0    1055
7.0     848
8.0      27
Name: count, dtype: int64

Examining column: denial_reason-3
denial_reason-3
9.0    686
6.0    438
4.0    359
5.0    294
3.0    237
1.0    220
2.0    129
7.0     76
8.0     11
Name: count, dtype: int64

Examining column: denial_reason-4
denial_reason-4
9.0    72
6.0    31
2.0    15
1.0    14