# HMDA Data Testing

## TODO:
### Data Collection
- [x] download data straight from https://ffiec.cfpb.gov/documentation/api/data-browser/ API
- [ ] check for existence of data download - prompt user for overwrite if already there
- [x] is there a better way to save off the data stream from the API?
- [x] write to output file in chunks, rather than all at once?
- [ ] multithreading on pd.read_csv()
- [ ] it doesn't look like the API call filters/params are working as intended??

### Data Cleaning
- [ ] determine what columns to keep or drop
- [ ] merge like columns together, ex: 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'

In [1]:
import requests
import pandas as pd
from pathlib import Path
from hmda_lib import valid_state_codes
from hmda_lib import valid_years

In [2]:
def download_hmda_data(state, year):
    output_file = Path('hmda_data', f'test-{state}-{year}.csv')
    url = 'https://ffiec.cfpb.gov/v2/data-browser-api/view/nationwide/csv'
    params = {
        'states': state,
        'years': year
    }

    try:
        with requests.get(url, params=params, stream=True) as response:
            response.raise_for_status()
            with open(output_file, 'wb') as fd:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        fd.write(chunk)
        return True
    except requests.exceptions.RequestException as e:
        print(f"Error downloading data: {e}")
        return False

In [21]:
download_hmda_data('mn', '2021')

True

In [3]:
df = pd.read_csv(Path('hmda_data', 'smalltest-mn-2021.csv'))

/tmp/ipykernel_436862/3631095536.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(Path('hmda_data', 'smalltest-mn-2021.csv'))

In [4]:
df

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,549300NWBS6MQJX15N44,15764,MA,25017.0,2.501737e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5103,16.07,120200,179,1770,1926,53
1,2021,549300NWBS6MQJX15N44,23540,FL,12001.0,1.200100e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,11217,33.20,68400,144,2741,3541,20
2,2021,549300NWBS6MQJX15N44,19124,TX,48085.0,4.808503e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5312,24.51,89000,107,1551,1870,14
3,2021,549300NWBS6MQJX15N44,43300,TX,48181.0,4.818100e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5771,11.61,70500,115,1962,2451,47
4,2021,549300NWBS6MQJX15N44,26420,TX,48201.0,4.820131e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4366,78.63,79800,75,681,1872,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,2021,549300BRJZYHYKT4BJ84,99999,CO,8107.0,8.107000e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2049,1.02,73500,118,595,1488,26
99995,2021,549300BRJZYHYKT4BJ84,19740,CO,8031.0,8.031008e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Joint,...,NaN,NaN,NaN,8352,80.24,104800,90,1769,2423,16
99996,2021,549300BRJZYHYKT4BJ84,29820,NV,32003.0,3.200301e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,8307,43.01,72400,104,2168,2950,12
99997,2021,549300BRJZYHYKT4BJ84,33340,WI,55133.0,5.513320e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5031,6.86,84400,156,1485,1789,29
99998,2021,549300BRJZYHYKT4BJ84,41940,CA,6085.0,6.085503e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5053,94.32,148700,82,932,1154,43

In [7]:
for c in df.columns:
    print(c)

activity_year
lei
derived_msa-md
state_code
county_code
census_tract
conforming_loan_limit
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
action_taken
purchaser_type
preapproval
loan_type
loan_purpose
lien_status
reverse_mortgage
open-end_line_of_credit
business_or_commercial_purpose
loan_amount
loan_to_value_ratio
interest_rate
rate_spread
hoepa_status
total_loan_costs
total_points_and_fees
origination_charges
discount_points
lender_credits
loan_term
prepayment_penalty_term
intro_rate_period
negative_amortization
interest_only_payment
balloon_payment
other_nonamortizing_features
property_value
construction_method
occupancy_type
manufactured_home_secured_property_type
manufactured_home_land_property_interest
total_units
multifamily_affordable_units
income
debt_to_income_ratio
applicant_credit_score_type
co-applicant_credit_score_type
applicant_ethnicity-1
applicant_ethnicity-2
applicant_ethnicity-3
applicant_ethnicity-4
applicant_ethnicity-5
co-applicant_ethnicity-1
co-applicant_ethnicity-2
co-applicant_ethnicity-3
co-applicant_ethnicity-4
co-applicant_ethnicity-5
applicant_ethnicity_observed
co-applicant_ethnicity_observed
applicant_race-1
applicant_race-2
applicant_race-3
applicant_race-4
applicant_race-5
co-applicant_race-1
co-applicant_race-2
co-applicant_race-3
co-applicant_race-4
co-applicant_race-5
applicant_race_observed
co-applicant_race_observed
applicant_sex
co-applicant_sex
applicant_sex_observed
co-applicant_sex_observed
applicant_age
co-applicant_age
applicant_age_above_62
co-applicant_age_above_62
submission_of_application
initially_payable_to_institution
aus-1
aus-2
aus-3
aus-4
aus-5
denial_reason-1
denial_reason-2
denial_reason-3
denial_reason-4
tract_population
tract_minority_population_percent
ffiec_msa_md_median_family_income
tract_to_msa_income_percentage
tract_owner_occupied_units
tract_one_to_four_family_homes
tract_median_age_of_housing_units

In [25]:
for c in df.columns:
    print(f'Examining column: {c}')
    print(df[c].value_counts())
    print()

Examining column: activity_year
activity_year
2021    99999
Name: count, dtype: int64

Examining column: lei
lei
549300BRJZYHYKT4BJ84    72048
549300NWBS6MQJX15N44    11757
549300DPRWSBUY619V27     9051
549300567BJCXPG9IV35     3478
D32W5EBLENJC27207O81     1160
549300TMWSYX6B5ZOK69      722
549300GQOPGZ1DO0MZ49      490
549300TSIYX9RDYWC806      321
54930053KPO7OG48FP72      310
5493001QR7MEE12WC276      268
549300VE85K2XTVRSG76      214
254900SJONZGRA3CJM44      178
B90YWS6AFX2LGWOXJ111        2
Name: count, dtype: int64

Examining column: derived_msa-md
derived_msa-md
99999    8862
31084    4270
40140    3091
19124    2930
49660    2647
         ...
44940       2
33540       1
21300       1
27060       1
24260       1
Name: count, Length: 404, dtype: int64

Examining column: state_code
state_code
CA    21702
TX     8951
FL     5378
OH     4982
AR     3782
CO     3418
AZ     3369
MO     3293
GA     3179
TN     3169
IL     3167
NJ     2593
NY     2140
WA     1987
UT     1949
KY     1803
VA     1797
KS     1743
PA     1720
MA     1641
IN     1630
MD     1623
MI     1350
NC     1329
NV     1246
AL     1183
LA     1052
MN     1004
OR      960
OK      951
CT      875
HI      692
WI      679
SC      548
IA      389
NE      354
RI      239
ND      223
DE      220
MS      218
ID      210
NH      208
WY      187
NM      174
SD      148
ME      128
DC      110
WV       89
AK       87
MT       45
VT       39
Name: count, dtype: int64

Examining column: county_code
county_code
6037.0     4270
4013.0     2260
6073.0     2143
6059.0     2099
6065.0     1851
           ...
1027.0        1
28095.0       1
42057.0       1
13321.0       1
46047.0       1
Name: count, Length: 2264, dtype: int64

Examining column: census_tract
census_tract
3.915593e+10    103
4.011901e+10     95
3.915593e+10     85
2.921348e+10     85
4.812102e+10     78
               ...
1.810796e+10      1
8.031001e+09      1
2.205103e+10      1
3.702504e+10      1
1.206903e+10      1
Name: count, Length: 36137, dtype: int64

Examining column: conforming_loan_limit
conforming_loan_limit
C     97187
NC     2487
U        26
Name: count, dtype: int64

Examining column: derived_loan_product_type
derived_loan_product_type
Conventional:First Lien          86546
FHA:First Lien                    5521
VA:First Lien                     4681
Conventional:Subordinate Lien     2102
FSA/RHS:First Lien                1149
Name: count, dtype: int64

Examining column: derived_dwelling_category
derived_dwelling_category
Single Family (1-4 Units):Site-Built      98532
Single Family (1-4 Units):Manufactured     1168
Multifamily:Site-Built                      290
Multifamily:Manufactured                      9
Name: count, dtype: int64

Examining column: derived_ethnicity
derived_ethnicity
Not Hispanic or Latino     62269
Ethnicity Not Available    27906
Hispanic or Latino          8172
Joint                       1652
Name: count, dtype: int64

Examining column: derived_race
derived_race
White                                        55505
Race Not Available                           28252
Asian                                        10148
Black or African American                     4147
Joint                                         1409
American Indian or Alaska Native               271
Native Hawaiian or Other Pacific Islander      182
2 or more minority races                        83
Free Form Text Only                              2
Name: count, dtype: int64

Examining column: derived_sex
derived_sex
Joint                31285
Male                 30209
Sex Not Available    20563
Female               17942
Name: count, dtype: int64

Examining column: action_taken
action_taken
1    57984
6    20342
4    10440
3     6790
5     3569
2      681
7      108
8       85
Name: count, dtype: int64

Examining column: purchaser_type
purchaser_type
0     42546
3     26519
1     20176
2      4789
71     2133
9      1803
6      1664
5       369
Name: count, dtype: int64

Examining column: preapproval
preapproval
2    99593
1      406
Name: count, dtype: int64

Examining column: loan_type
loan_type
1    88648
2     5521
3     4681
4     1149
Name: count, dtype: int64

Examining column: loan_purpose
loan_purpose
31    35450
1     34958
32    26353
2      1960
4      1276
5         2
Name: count, dtype: int64

Examining column: lien_status
lien_status
1    97897
2     2102
Name: count, dtype: int64

Examining column: reverse_mortgage
reverse_mortgage
2       99284
1111      715
Name: count, dtype: int64

Examining column: open-end_line_of_credit
open-end_line_of_credit
2       95894
1        3390
1111      715
Name: count, dtype: int64

Examining column: business_or_commercial_purpose
business_or_commercial_purpose
2       93241
1        6043
1111      715
Name: count, dtype: int64

Examining column: loan_amount
loan_amount
545000.0      2855
305000.0      2777
255000.0      2734
265000.0      2495
285000.0      2494
              ...
5465000.0        1
3545000.0        1
6095000.0        1
3895000.0        1
23525000.0       1
Name: count, Length: 333, dtype: int64

Examining column: loan_to_value_ratio
loan_to_value_ratio
80.000    6222
95.000    2490
75.000    2456
96.500    1896
90.000    1311
          ...
37.017       1
52.254       1
84.732       1
54.630       1
52.816       1
Name: count, Length: 26651, dtype: int64

Examining column: interest_rate
interest_rate
2.875    8747
2.75     6665
3.25     6453
3.125    6086
2.99     5569
         ...
8.64        1
6.34        1
4.89        1
9.89        1
3.26        1
Name: count, Length: 402, dtype: int64

Examining column: rate_spread
rate_spread
Exempt                 713
2.42                    89
2.43                    81
0.013                   77
0.004                   77
                      ...
1.675                    1
-0.799                   1
-0.579                   1
-0.766                   1
-0.0720000000000001      1
Name: count, Length: 5039, dtype: int64

Examining column: hoepa_status
hoepa_status
2    69353
3    30633
1       13
Name: count, dtype: int64

Examining column: total_loan_costs
total_loan_costs
0.0        739
Exempt     713
0.0         46
3076.0      44
280.0       38
          ...
1936.24      1
4706.08      1
2704.28      1
6081.85      1
5611.78      1
Name: count, Length: 59614, dtype: int64

Examining column: total_points_and_fees
total_points_and_fees
Exempt    713
744.5       1
694.5       1
Name: count, dtype: int64

Examining column: origination_charges
origination_charges
1095.0     8059
0.0        6828
790.0      2037
995.0      1465
790.0       756
           ...
1149.6        1
1573.13       1
3687.0        1
4588.93       1
3320.68       1
Name: count, Length: 27180, dtype: int64

Examining column: discount_points
discount_points
Exempt     713
500.0       26
3000.0      19
4500.0      18
5000.0      15
          ...
264.55       1
994.07       1
3006.44      1
325.73       1
2225.68      1
Name: count, Length: 18361, dtype: int64

Examining column: lender_credits
lender_credits
Exempt     713
50.0       284
25.0       278
500.0      272
1000.0     194
          ...
5428.44      1
3060.75      1
1680.28      1
1808.77      1
296.7        1
Name: count, Length: 28640, dtype: int64

Examining column: loan_term
loan_term
360    65621
360    10556
180    10545
240     3398
180     2115
       ...
71         1
352        1
140        1
192        1
87         1
Name: count, Length: 126, dtype: int64

Examining column: prepayment_penalty_term
prepayment_penalty_term
Exempt    713
36.0      349
12.0      322
36        153
9.0         1
1.0         1
Name: count, dtype: int64

Examining column: intro_rate_period
intro_rate_period
120       1169
1.0        981
Exempt     713
1          637
84.0       225
60         225
12         168
60.0       149
84          64
120.0       29
36          29
61          21
85          20
6            9
180.0        8
62           6
59           4
12.0         4
83           2
121          2
58           2
2            2
3.0          1
90.0         1
49           1
30           1
86           1
48           1
22.0         1
Name: count, dtype: int64

Examining column: negative_amortization
negative_amortization
2       99284
1111      715
Name: count, dtype: int64

Examining column: interest_only_payment
interest_only_payment
2       96981
1        2303
1111      715
Name: count, dtype: int64

Examining column: balloon_payment
balloon_payment
2       96862
1        2422
1111      715
Name: count, dtype: int64

Examining column: other_nonamortizing_features
other_nonamortizing_features
2       99268
1111      715
1          16
Name: count, dtype: int64

Examining column: property_value
property_value
995000.0     1626
355000.0     1493
455000.0     1445
405000.0     1435
305000.0     1433
             ...
6575000         1
7855000         1
11755000        1
8585000         1
4205000.0       1
Name: count, Length: 724, dtype: int64

Examining column: construction_method
construction_method
1    98822
2     1177
Name: count, dtype: int64

Examining column: occupancy_type
occupancy_type
1    88137
3     9463
2     2399
Name: count, dtype: int64

Examining column: manufactured_home_secured_property_type
manufactured_home_secured_property_type
3       98171
1        1114
1111      713
2           1
Name: count, dtype: int64

Examining column: manufactured_home_land_property_interest
manufactured_home_land_property_interest
5       98171
1        1115
1111      713
Name: count, dtype: int64

Examining column: total_units
total_units
1          65270
1          31584
2           1312
2            586
3            357
4            292
5-24         203
4            164
3            135
25-49         37
50-99         29
>149          24
100-149        6
Name: count, dtype: int64

Examining column: multifamily_affordable_units
multifamily_affordable_units
Exempt    721
0          43
0.0        41
100         1
81          1
25          1
29          1
7.0         1
91.0        1
Name: count, dtype: int64

Examining column: income
income
 60.0      808
 65.0      722
 90.0      701
 80.0      683
 70.0      666
          ...
 1295.0      1
-46.0        1
 625.0       1
 733.0       1
-36.0        1
Name: count, Length: 985, dtype: int64

Examining column: debt_to_income_ratio
debt_to_income_ratio
20%-<30%    12970
30%-<36%    10886
<20%         5243
50%-60%      2673
44           2606
42           2398
43           2296
40           2290
39           2254
41           2237
36           2105
38           2096
37           2075
45           1992
49           1964
46           1671
47           1656
48           1628
>60%         1469
Exempt        713
Name: count, dtype: int64

Examining column: applicant_credit_score_type
applicant_credit_score_type
9       38963
1       20588
3       19164
2       17343
8        2585
1111      713
6         621
7          17
5           3
4           2
Name: count, dtype: int64

Examining column: co-applicant_credit_score_type
co-applicant_credit_score_type
9       55284
10      37220
3        2057
1        2011
2        1583
8         840
1111      713
6         280
7          10
4           1
Name: count, dtype: int64

Examining column: applicant_ethnicity-1
applicant_ethnicity-1
2     63230
4     14509
3     13397
1      8745
14       77
11       32
12        7
13        2
Name: count, dtype: int64

Examining column: applicant_ethnicity-2
applicant_ethnicity-2
11.0    2829
14.0    1087
12.0     305
13.0     281
2.0       15
1.0        1
Name: count, dtype: int64

Examining column: applicant_ethnicity-3
applicant_ethnicity-3
14.0    33
12.0    13
13.0     6
11.0     6
Name: count, dtype: int64

Examining column: applicant_ethnicity-4
applicant_ethnicity-4
13.0    1
Name: count, dtype: int64

Examining column: applicant_ethnicity-5
applicant_ethnicity-5
2.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-1
co-applicant_ethnicity-1
5.0     49495
2.0     26667
4.0     13939
3.0      6310
1.0      3544
14.0       29
11.0        9
13.0        3
12.0        2
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-2
co-applicant_ethnicity-2
11.0    1210
14.0     345
12.0     110
13.0      92
2.0        9
1.0        1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-3
co-applicant_ethnicity-3
14.0    7
12.0    5
13.0    4
11.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-4
Series([], Name: count, dtype: int64)

Examining column: co-applicant_ethnicity-5
Series([], Name: count, dtype: int64)

Examining column: applicant_ethnicity_observed
applicant_ethnicity_observed
2    74934
3    22139
1     2926
Name: count, dtype: int64

Examining column: co-applicant_ethnicity_observed
co-applicant_ethnicity_observed
4    49495
2    31842
3    17756
1      906
Name: count, dtype: int64

Examining column: applicant_race-1
applicant_race-1
5.0     56415
7.0     14500
6.0     13752
2.0     10254
3.0      4343
1.0       404
4.0       196
21.0       62
27.0       33
23.0        8
22.0        7
25.0        7
26.0        7
44.0        4
24.0        4
41.0        1
Name: count, dtype: int64

Examining column: applicant_race-2
applicant_race-2
21.0    3293
22.0    1901
26.0    1018
23.0     674
27.0     525
25.0     384
5.0      291
24.0     166
44.0      67
41.0      40
4.0       22
43.0      12
3.0       11
42.0       8
2.0        4
Name: count, dtype: int64

Examining column: applicant_race-3
applicant_race-3
26.0    29
27.0    29
23.0    27
42.0    23
24.0    21
22.0    18
41.0    17
25.0    16
5.0     13
21.0    12
44.0    12
2.0      1
Name: count, dtype: int64

Examining column: applicant_race-4
applicant_race-4
42.0    12
23.0     5
22.0     4
41.0     4
24.0     4
26.0     3
44.0     2
43.0     1
3.0      1
Name: count, dtype: int64

Examining column: applicant_race-5
applicant_race-5
24.0    4
41.0    4
23.0    1
42.0    1
1.0     1
Name: count, dtype: int64

Examining column: co-applicant_race-1
co-applicant_race-1
8     49497
5     24974
7     13932
6      6448
2      3806
3      1044
1       152
4        90
21       25
27       11
26        6
22        4
25        4
23        3
41        1
24        1
44        1
Name: count, dtype: int64

Examining column: co-applicant_race-2
co-applicant_race-2
21.0    884
22.0    764
26.0    414
23.0    353
27.0    184
5.0     140
25.0    138
24.0     99
41.0     25
44.0     22
4.0      14
43.0      7
42.0      3
3.0       3
2.0       2
1.0       1
Name: count, dtype: int64

Examining column: co-applicant_race-3
co-applicant_race-3
27.0    17
22.0    13
41.0    12
24.0    11
23.0    11
26.0     8
25.0     7
21.0     7
5.0      7
44.0     5
42.0     4
Name: count, dtype: int64

Examining column: co-applicant_race-4
co-applicant_race-4
22.0    6
44.0    2
27.0    1
43.0    1
24.0    1
42.0    1
41.0    1
23.0    1
Name: count, dtype: int64

Examining column: co-applicant_race-5
co-applicant_race-5
41.0    3
23.0    2
24.0    1
42.0    1
5.0     1
Name: count, dtype: int64

Examining column: applicant_race_observed
applicant_race_observed
2    74897
3    22139
1     2963
Name: count, dtype: int64

Examining column: co-applicant_race_observed
co-applicant_race_observed
4    49497
2    31849
3    17755
1      898
Name: count, dtype: int64

Examining column: applicant_sex
applicant_sex
1    54606
2    24795
4    14511
3     6052
6       35
Name: count, dtype: int64

Examining column: co-applicant_sex
co-applicant_sex
5    49496
2    25480
4    13939
1     8062
3     3010
6       12
Name: count, dtype: int64

Examining column: applicant_sex_observed
applicant_sex_observed
2    74868
3    22135
1     2996
Name: count, dtype: int64

Examining column: co-applicant_sex_observed
co-applicant_sex_observed
4    49496
2    31801
3    17742
1      960
Name: count, dtype: int64

Examining column: applicant_age
applicant_age
35-44    21644
8888     21310
45-54    18361
25-34    14536
55-64    13117
65-74     6916
>74       2402
<25       1712
9999         1
Name: count, dtype: int64

Examining column: co-applicant_age
co-applicant_age
9999     45907
8888     20674
35-44     8668
45-54     7545
25-34     6147
55-64     5911
65-74     3424
>74       1005
<25        718
Name: count, dtype: int64

Examining column: applicant_age_above_62
applicant_age_above_62
No     66103
Yes    12585
Name: count, dtype: int64

Examining column: co-applicant_age_above_62
co-applicant_age_above_62
No     27501
Yes     5917
Name: count, dtype: int64

Examining column: submission_of_application
submission_of_application
2       57824
1       21118
3       20342
1111      715
Name: count, dtype: int64

Examining column: initially_payable_to_institution
initially_payable_to_institution
1       64490
3       21016
2       13778
1111      715
Name: count, dtype: int64

Examining column: aus-1
aus-1
1       50733
6       31435
2       16037
1111      713
4         573
3         508
Name: count, dtype: int64

Examining column: aus-2
aus-2
3.0    3860
1.0     871
2.0     488
4.0       4
Name: count, dtype: int64

Examining column: aus-3
aus-3
2.0    33
3.0    29
1.0    29
4.0     2
Name: count, dtype: int64

Examining column: aus-4
aus-4
1.0    7
2.0    6
3.0    5
Name: count, dtype: int64

Examining column: aus-5
aus-5
3.0    1
2.0    1
Name: count, dtype: int64

Examining column: denial_reason-1
denial_reason-1
10      92894
1        1980
7        1678
3        1445
4         793
9         477
1111      217
6         193
5         186
2         134
8           2
Name: count, dtype: int64

Examining column: denial_reason-2
denial_reason-2
1.0    498
3.0    254
9.0    168
6.0    155
4.0    120
2.0     71
5.0     49
7.0     34
8.0      3
Name: count, dtype: int64

Examining column: denial_reason-3
denial_reason-3
9.0    53
6.0    35
1.0    17
4.0    16
5.0    16
2.0     8
3.0     6
7.0     5
8.0     1
Name: count, dtype: int64

Examining column: denial_reason-4
denial_reason-4
9.0    4
7.0    2
6.0    1
2.0    1
Name: count, dtype: int64

Examining column: tract_population
tract_population
0        251
6986     116
5787     102
6451      96
9192      96
        ...
2984       1
1602       1
1876       1
10549      1
649        1
Name: count, Length: 8531, dtype: int64

Examining column: tract_minority_population_percent
tract_minority_population_percent
0.00     288
9.77     148
18.12    127
2.00     118
4.37     107
        ...
90.17      1
76.02      1
75.32      1
51.58      1
85.55      1
Name: count, Length: 9485, dtype: int64

Examining column: ffiec_msa_md_median_family_income
ffiec_msa_md_median_family_income
80000    4287
77500    3097
89000    2930
65500    2668
85700    2559
         ...
54900       3
59300       3
85100       2
52700       2
89600       1
Name: count, Length: 299, dtype: int64

Examining column: tract_to_msa_income_percentage
tract_to_msa_income_percentage
111    1225
116    1221
103    1215
110    1198
98     1193
       ...
311       1
393       1
301       1
294       1
380       1
Name: count, Length: 335, dtype: int64

Examining column: tract_owner_occupied_units
tract_owner_occupied_units
0       263
1146    147
2271    138
1319    138
993     135
       ...
2875      1
4282      1
2538      1
3127      1
5         1
Name: count, Length: 3267, dtype: int64

Examining column: tract_one_to_four_family_homes
tract_one_to_four_family_homes
0       252
1717    134
1560    130
1487    130
2003    121
       ...
338       1
4091      1
3568      1
4080      1
190       1
Name: count, Length: 4144, dtype: int64

Examining column: tract_median_age_of_housing_units
tract_median_age_of_housing_units
76    2953
39    2373
12    2357
22    2306
14    2298
      ...
7       94
75      88
5       28
6       18
4        1
Name: count, Length: 74, dtype: int64