# HMDA Data Testing

## TODO:
### Data Collection

### Data Cleaning
- [ ] merge like columns together, ex: 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'
- [X] fix interest rate column
- [X] fix loan term column

### Statistics
- [x] summary statistics table: interest_rate by race
- [x] ANOVA test: interest_rate by race

### Documentation
- [ ] data exploration and cleanup process
- [ ] other data (show the download, df load, and df) and how poor it was
- [ ] API fixes - was downloading nationwide, and it was too big for jupyterlab/pandas/computer
- [ ] print example, found problem with 'state'.value_counts()
- [ ] data exploration - print columns, print value_counts for each
- [ ] data exploration - pull out a DF and show it of just the primary columns

## Setup
-----

In [100]:
import gzip
import os
import requests
import subprocess
import pandas as pd
import numpy as np
import scipy.stats as stats
from pathlib import Path
from hmda_lib import valid_state_codes
from hmda_lib import valid_years

In [101]:
def download_hmda_data(fd, state, year):
    url = f'https://ffiec.cfpb.gov/v2/data-browser-api/view/csv?states={state}&years={year}'

    try:
        with requests.get(url, stream=True) as response:
            response.raise_for_status()
            with open(output_file, 'wb') as fd:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        fd.write(chunk)
        return True

    except requests.exceptions.RequestException as e:
        print(f"Error downloading data: {e}")
        return False

In [102]:
def compress_hmda_data(f):
    subprocess.run(['gzip', f])

## Data Collection
-----

In [104]:
# download HMDA data from API

state = 'MN'
#years = ['2018', '2019', '2020', '2021', '2022']

for year in years:
    output_file = Path('hmda_data', f'hmda-{state}-{year}.csv')
    if os.path.exists(f'{output_file}.gz'):
        print('File exists already! Skipping!')
        continue
    else:
        print(f'Downloading HMDA data for: {year} {state}.....', end='')
        download_hmda_data(output_file, state, year)
        print(' compressing.....', end='')
        compress_hmda_data(output_file)
        print(' done!')

File exists already! Skipping!
File exists already! Skipping!
File exists already! Skipping!

In [105]:
# load the HMDA data into Pandas DataFrames

data_path = 'hmda_data'
filenames = os.listdir(data_path)
all_dataframes = []

for filename in filenames:
    if filename.endswith('.csv.gz'):
        filepath = Path(data_path, filename)
        with gzip.open(filepath, 'rt') as file:
            df = pd.read_csv(filepath)
        all_dataframes.append(df)

unclean_df = pd.concat(all_dataframes, ignore_index=True)

/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

## Data Cleaning
-----

In [106]:
# remove null values and 'Exempt' interest rate from dataframe

df = unclean_df[unclean_df['interest_rate'].notnull()]
df = df.query('interest_rate != "Exempt"')

In [107]:
# remove null loan terms from dataframe

df = df[df['loan_term'].notnull()]

In [108]:
# data type conversions

df['interest_rate'] = pd.to_numeric(df['interest_rate'], errors='raise')
df['loan_to_value_ratio'] = pd.to_numeric(df['loan_to_value_ratio'], errors='raise')

In [109]:
# rename values

df['derived_race'] = df['derived_race'].replace({
    'Black or African American': 'Black',
    'American Indian or Alaska Native': 'Native',
    'Native Hawaiian or Other Pacific Islander': 'Pacific Islander'
})

## Data Exploration
-----

In [110]:
df['derived_race'].value_counts()

derived_race
White                       596590
Race Not Available          193602
Asian                        33071
Black                        21090
Joint                        15605
Native                        2781
Pacific Islander               748
2 or more minority races       641
Free Form Text Only             43
Name: count, dtype: int64

In [111]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
1,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27123.0,2.712304e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4366,38.91,97300,71,750,878,50
2,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27053.0,2.705303e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3248,8.68,97300,138,1147,1246,49
3,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27163.0,2.716307e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3995,9.31,97300,103,1367,1741,38
4,2020,AD6GFRVSDT01YPT1CS68,99999,MN,27035.0,2.703595e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1910,1.20,70900,90,843,2542,33
5,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27139.0,2.713908e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7709,20.08,97300,158,2415,2818,13

In [112]:
for c in df.columns:
    print(c)

activity_year
lei
derived_msa-md
state_code
county_code
census_tract
conforming_loan_limit
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
action_taken
purchaser_type
preapproval
loan_type
loan_purpose
lien_status
reverse_mortgage
open-end_line_of_credit
business_or_commercial_purpose
loan_amount
loan_to_value_ratio
interest_rate
rate_spread
hoepa_status
total_loan_costs
total_points_and_fees
origination_charges
discount_points
lender_credits
loan_term
prepayment_penalty_term
intro_rate_period
negative_amortization
interest_only_payment
balloon_payment
other_nonamortizing_features
property_value
construction_method
occupancy_type
manufactured_home_secured_property_type
manufactured_home_land_property_interest
total_units
multifamily_affordable_units
income
debt_to_income_ratio
applicant_credit_score_type
co-applicant_credit_score_type
applicant_ethnicity-1
applicant_ethnicity-2
applicant_ethnicity-3
applicant_ethnicity-4
applicant_ethnicity-5
co-applicant_ethnicity-1
co-applicant_ethnicity-2
co-applicant_ethnicity-3
co-applicant_ethnicity-4
co-applicant_ethnicity-5
applicant_ethnicity_observed
co-applicant_ethnicity_observed
applicant_race-1
applicant_race-2
applicant_race-3
applicant_race-4
applicant_race-5
co-applicant_race-1
co-applicant_race-2
co-applicant_race-3
co-applicant_race-4
co-applicant_race-5
applicant_race_observed
co-applicant_race_observed
applicant_sex
co-applicant_sex
applicant_sex_observed
co-applicant_sex_observed
applicant_age
co-applicant_age
applicant_age_above_62
co-applicant_age_above_62
submission_of_application
initially_payable_to_institution
aus-1
aus-2
aus-3
aus-4
aus-5
denial_reason-1
denial_reason-2
denial_reason-3
denial_reason-4
tract_population
tract_minority_population_percent
ffiec_msa_md_median_family_income
tract_to_msa_income_percentage
tract_owner_occupied_units
tract_one_to_four_family_homes
tract_median_age_of_housing_units

In [113]:
for c in df.columns:
    print(f'Examining column: {c}')
    print(df[c].value_counts())
    print()

Examining column: activity_year
activity_year
2020    352175
2021    340417
2022    171579
Name: count, dtype: int64

Examining column: lei
lei
6BYL5QZYBDK8S7L73M02    71531
KB1H1DSPRFMYMCUFXT09    49175
549300FGXN1K3HLB1R50    40437
549300WYBPIWKK6SQC06    39238
549300HW662MN1WU8550    25701
                        ...
5493005QK4NV0ZZ5EM64        1
549300V36YE6JCCEJB76        1
549300XOTES5TCS8T794        1
254900I68BOSEM149Q58        1
549300214PKB2Y1ZWH75        1
Name: count, Length: 890, dtype: int64

Examining column: derived_msa-md
derived_msa-md
33460    622484
99999    132228
40340     31026
20260     27884
41060     25350
22020      9669
31860      9506
24220      2999
29100      2171
0           854
Name: count, dtype: int64

Examining column: state_code
state_code
MN    864171
Name: count, dtype: int64

Examining column: county_code
county_code
27053.0    210362
27037.0     81553
27123.0     71397
27003.0     69074
27163.0     55430
            ...
27077.0       305
27087.0       236
27069.0       185
27155.0       175
27125.0       160
Name: count, Length: 87, dtype: int64

Examining column: census_tract
census_tract
2.716307e+10    4999
2.717110e+10    4293
2.717110e+10    3587
2.705303e+10    3372
2.705303e+10    3015
                ...
2.705310e+10       2
2.703199e+10       2
2.705398e+10       1
2.712398e+10       1
2.716307e+10       1
Name: count, Length: 1664, dtype: int64

Examining column: conforming_loan_limit
conforming_loan_limit
C     841584
NC     20486
Name: count, dtype: int64

Examining column: derived_loan_product_type
derived_loan_product_type
Conventional:First Lien          647717
FHA:First Lien                    78454
Conventional:Subordinate Lien     77412
VA:First Lien                     50970
FSA/RHS:First Lien                 9470
FHA:Subordinate Lien                118
FSA/RHS:Subordinate Lien             29
VA:Subordinate Lien                   1
Name: count, dtype: int64

Examining column: derived_dwelling_category
derived_dwelling_category
Single Family (1-4 Units):Site-Built      855432
Single Family (1-4 Units):Manufactured      6638
Multifamily:Site-Built                      2049
Multifamily:Manufactured                      52
Name: count, dtype: int64

Examining column: derived_ethnicity
derived_ethnicity
Not Hispanic or Latino     627894
Ethnicity Not Available    205247
Hispanic or Latino          20393
Joint                       10404
Free Form Text Only           233
Name: count, dtype: int64

Examining column: derived_race
derived_race
White                       596590
Race Not Available          193602
Asian                        33071
Black                        21090
Joint                        15605
Native                        2781
Pacific Islander               748
2 or more minority races       641
Free Form Text Only             43
Name: count, dtype: int64

Examining column: derived_sex
derived_sex
Joint                341502
Male                 220023
Sex Not Available    154507
Female               148139
Name: count, dtype: int64

Examining column: action_taken
action_taken
1    724615
6    117876
2     20766
8       914
Name: count, dtype: int64

Examining column: purchaser_type
purchaser_type
0     234921
1     233844
3     173294
2      84537
71     60205
6      42533
9      26064
8       5886
5       1758
72      1051
4         78
Name: count, dtype: int64

Examining column: preapproval
preapproval
2    839874
1     24297
Name: count, dtype: int64

Examining column: loan_type
loan_type
1    725129
2     78572
3     50971
4      9499
Name: count, dtype: int64

Examining column: loan_purpose
loan_purpose
1     340615
31    304729
32    147277
2      33029
4      29142
5       9379
Name: count, dtype: int64

Examining column: lien_status
lien_status
1    786611
2     77560
Name: count, dtype: int64

Examining column: reverse_mortgage
reverse_mortgage
2       864169
1111         2
Name: count, dtype: int64

Examining column: open-end_line_of_credit
open-end_line_of_credit
2       807809
1        56360
1111         2
Name: count, dtype: int64

Examining column: business_or_commercial_purpose
business_or_commercial_purpose
2       846085
1        18084
1111         2
Name: count, dtype: int64

Examining column: loan_amount
loan_amount
205000.0      33509
225000.0      30869
185000.0      29607
215000.0      29401
195000.0      28991
              ...
3655000.0         1
35565000.0        1
3055000.0         1
27605000.0        1
13195000.0        1
Name: count, Length: 790, dtype: int64

Examining column: loan_to_value_ratio
loan_to_value_ratio
80.000    84022
95.000    42989
90.000    27003
75.000    18654
97.000    18472
          ...
4.735         1
5.342         1
7.640         1
4.623         1
22.190        1
Name: count, Length: 75415, dtype: int64

Examining column: interest_rate
interest_rate
2.875    78635
2.750    67931
3.250    67865
3.125    51261
3.000    50735
         ...
5.546        1
5.655        1
5.044        1
5.332        1
1.650        1
Name: count, Length: 3711, dtype: int64

Examining column: rate_spread
rate_spread
0.0       948
0.13      640
0.12      631
0.19      627
0.16      624
         ...
0.2879      1
0.1016      1
0.1028      1
0.5199      1
-1.282      1
Name: count, Length: 22770, dtype: int64

Examining column: hoepa_status
hoepa_status
2    793856
3     69961
1       354
Name: count, dtype: int64

Examining column: total_loan_costs
total_loan_costs
0.0        11677
0.0        10393
245.0       1457
150.0       1088
245.0        841
           ...
3140.66        1
3157.19        1
4634.41        1
4802.09        1
3373.63        1
Name: count, Length: 403831, dtype: int64

Examining column: total_points_and_fees
total_points_and_fees
799.0      107
749.0       90
2900.0      85
799.0       44
0.0         41
          ...
1483.4       1
1208.3       1
1336.34      1
1321.02      1
1100.1       1
Name: count, Length: 1420, dtype: int64

Examining column: origination_charges
origination_charges
0.0        54306
0.0        40795
795.0       7163
995.0       6943
1290.0      6687
           ...
2296.06        1
1893.8         1
1805.09        1
2183.85        1
2070.93        1
Name: count, Length: 213269, dtype: int64

Examining column: discount_points
discount_points
500.0      269
1500.0     253
750.0      221
1000.0     212
2000.0     200
          ...
1481.13      1
919.44       1
157.78       1
48.06        1
896.93       1
Name: count, Length: 160770, dtype: int64

Examining column: lender_credits
lender_credits
500.0      2930
1000.0     2274
50.0       2169
25.0       1954
5.0        1921
           ...
92.47         1
783.16        1
2243.61       1
571.06        1
5986.25       1
Name: count, Length: 114986, dtype: int64

Examining column: loan_term
loan_term
360      379401
360.0    223775
180       74917
180.0     47327
240       34896
          ...
491           1
530           1
7.0           1
502           1
65            1
Name: count, Length: 920, dtype: int64

Examining column: prepayment_penalty_term
prepayment_penalty_term
36.0     2115
36        499
2.0       130
12         47
2          42
21.0        4
24.0        1
120.0       1
20.0        1
12.0        1
180         1
120         1
1           1
Name: count, dtype: int64

Examining column: intro_rate_period
intro_rate_period
1      23759
1.0    16168
120     5760
60      5293
84      3734
       ...
83         1
80         1
129        1
7.0        1
30         1
Name: count, Length: 115, dtype: int64

Examining column: negative_amortization
negative_amortization
2       864112
1           40
1111        19
Name: count, dtype: int64

Examining column: interest_only_payment
interest_only_payment
2       816624
1        47528
1111        19
Name: count, dtype: int64

Examining column: balloon_payment
balloon_payment
2       844382
1        19770
1111        19
Name: count, dtype: int64

Examining column: other_nonamortizing_features
other_nonamortizing_features
2       863758
1          394
1111        19
Name: count, dtype: int64

Examining column: property_value
property_value
255000       17756
305000       17530
275000       16668
265000       15937
285000       15767
             ...
9775000          1
9635000          1
19535000         1
4115000          1
5355000.0        1
Name: count, Length: 1414, dtype: int64

Examining column: construction_method
construction_method
1    857481
2      6690
Name: count, dtype: int64

Examining column: occupancy_type
occupancy_type
1    815370
3     28747
2     20054
Name: count, dtype: int64

Examining column: manufactured_home_secured_property_type
manufactured_home_secured_property_type
3       857549
1         4034
2         2587
1111         1
Name: count, dtype: int64

Examining column: manufactured_home_land_property_interest
manufactured_home_land_property_interest
5       857549
1         4343
3         2195
4           46
2           37
1111         1
Name: count, dtype: int64

Examining column: total_units
total_units
1          647584
1          201144
2            8611
2            2062
3            1264
5-24         1115
4            1034
25-49         370
50-99         303
3             188
4             183
>149          172
100-149       141
Name: count, dtype: int64

Examining column: multifamily_affordable_units
multifamily_affordable_units
0        1347
0.0       229
100       115
100.0      18
21          6
55          5
10          3
25          3
93          2
41          2
77          2
9           2
9.0         2
98          2
40          2
87          2
19          2
4           2
22          2
20.0        2
68          1
27          1
50          1
88          1
39          1
97.0        1
14          1
35.0        1
96          1
6.0         1
91          1
38.0        1
43          1
94          1
30          1
53          1
13          1
78          1
8.0         1
51          1
80          1
20          1
16          1
79          1
97          1
38          1
6           1
22.0        1
82          1
67          1
29          1
44          1
54.0        1
25.0        1
Name: count, dtype: int64

Examining column: income
income
60.0      7889
75.0      7440
70.0      7354
65.0      7282
80.0      7114
          ...
1332.0       1
1138.0       1
1273.0       1
1306.0       1
7411.0       1
Name: count, Length: 2124, dtype: int64

Examining column: debt_to_income_ratio
debt_to_income_ratio
20%-<30%    181442
30%-<36%    134948
<20%         78120
44           26273
42           25435
41           24593
39           24400
40           24386
43           23942
38           23900
37           23359
36           23118
49           17215
45           16957
50%-60%      15349
46           14348
47           13892
48           13741
>60%          1745
Name: count, dtype: int64

Examining column: applicant_credit_score_type
applicant_credit_score_type
1     234377
9     194642
3     192993
2     173631
8      38807
7      20041
11      6024
4       1647
6       1388
5        621
Name: count, dtype: int64

Examining column: co-applicant_credit_score_type
co-applicant_credit_score_type
10    365642
9     310619
1      65075
3      52684
2      43398
8      16239
7       7012
11      3108
5        304
4         78
6         12
Name: count, dtype: int64

Examining column: applicant_ethnicity-1
applicant_ethnicity-1
2.0     633966
4.0     102800
3.0     102447
1.0      22328
14.0      1539
11.0       677
12.0       145
13.0        36
Name: count, dtype: int64

Examining column: applicant_ethnicity-2
applicant_ethnicity-2
11.0    6878
14.0    4681
12.0     892
2.0      378
13.0     247
1.0       51
Name: count, dtype: int64

Examining column: applicant_ethnicity-3
applicant_ethnicity-3
14.0    139
12.0     45
11.0     41
13.0     28
2.0       5
Name: count, dtype: int64

Examining column: applicant_ethnicity-4
applicant_ethnicity-4
14.0    6
13.0    3
12.0    2
Name: count, dtype: int64

Examining column: applicant_ethnicity-5
applicant_ethnicity-5
2.0     3
14.0    1
11.0    1
13.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-1
co-applicant_ethnicity-1
5.0     387525
2.0     318452
4.0      87755
3.0      60204
1.0       9158
14.0       582
11.0       333
12.0        63
13.0        19
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-2
co-applicant_ethnicity-2
11.0    2880
14.0    1694
12.0     397
2.0      178
13.0      96
1.0       20
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-3
co-applicant_ethnicity-3
14.0    46
11.0    28
12.0    20
13.0    15
2.0      3
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-4
co-applicant_ethnicity-4
14.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-5
Series([], Name: count, dtype: int64)

Examining column: applicant_ethnicity_observed
applicant_ethnicity_observed
2    708047
3    143115
1     13009
Name: count, dtype: int64

Examining column: co-applicant_ethnicity_observed
co-applicant_ethnicity_observed
4    387525
2    358111
3    112089
1      6446
Name: count, dtype: int64

Examining column: applicant_race-1
applicant_race-1
5.0     605537
7.0     102861
6.0      90741
2.0      32586
3.0      23359
1.0       4422
21.0      1755
27.0      1059
4.0        851
22.0       218
26.0       209
25.0       172
23.0       163
44.0       119
24.0        58
41.0        10
42.0         6
43.0         2
Name: count, dtype: int64

Examining column: applicant_race-2
applicant_race-2
27.0    7386
21.0    6331
5.0     5328
22.0    2458
26.0    2352
25.0    1602
23.0    1130
24.0     379
3.0      353
44.0     265
2.0      203
4.0      117
41.0      68
42.0      37
43.0      37
1.0        9
Name: count, dtype: int64

Examining column: applicant_race-3
applicant_race-3
5.0     364
27.0    364
44.0    329
24.0    221
22.0    220
25.0    212
26.0    210
23.0    210
21.0    161
3.0      41
41.0     24
43.0     15
4.0      12
42.0      5
2.0       1
Name: count, dtype: int64

Examining column: applicant_race-4
applicant_race-4
23.0    29
5.0     19
27.0    18
44.0    18
24.0    17
25.0    15
22.0    14
26.0    12
4.0     12
41.0    11
21.0     8
42.0     2
43.0     1
Name: count, dtype: int64

Examining column: applicant_race-5
applicant_race-5
41.0    15
5.0     15
24.0    11
44.0     4
23.0     3
25.0     3
22.0     2
27.0     2
42.0     1
26.0     1
21.0     1
43.0     1
3.0      1
Name: count, dtype: int64

Examining column: co-applicant_race-1
co-applicant_race-1
8.0     387438
5.0     312245
7.0      87746
6.0      51868
2.0      13370
3.0       7855
1.0       1559
21.0       633
27.0       496
4.0        312
23.0       155
25.0       122
22.0       108
26.0       106
24.0        60
44.0        59
41.0         7
42.0         7
43.0         3
Name: count, dtype: int64

Examining column: co-applicant_race-2
co-applicant_race-2
27.0    2867
5.0     1978
21.0    1879
26.0     977
22.0     941
25.0     738
23.0     717
24.0     238
3.0      105
44.0     104
2.0       60
41.0      48
4.0       33
42.0      24
43.0      18
1.0       14
Name: count, dtype: int64

Examining column: co-applicant_race-3
co-applicant_race-3
27.0    114
23.0    107
44.0    103
5.0      92
26.0     91
24.0     88
22.0     85
25.0     78
21.0     55
41.0      8
3.0       8
43.0      6
4.0       5
42.0      4
Name: count, dtype: int64

Examining column: co-applicant_race-4
co-applicant_race-4
44.0    9
23.0    7
24.0    6
26.0    5
22.0    5
4.0     5
41.0    5
25.0    3
27.0    3
5.0     2
42.0    1
21.0    1
Name: count, dtype: int64

Examining column: co-applicant_race-5
co-applicant_race-5
41.0    4
5.0     4
23.0    3
21.0    2
24.0    2
Name: count, dtype: int64

Examining column: applicant_race_observed
applicant_race_observed
2    708748
3    142462
1     12961
Name: count, dtype: int64

Examining column: co-applicant_race_observed
co-applicant_race_observed
4    387438
2    358411
3    111838
1      6484
Name: count, dtype: int64

Examining column: applicant_sex
applicant_sex
1    458395
2    250924
4    103194
3     51313
6       345
Name: count, dtype: int64

Examining column: co-applicant_sex
co-applicant_sex
5    387526
2    246745
1    110754
4     88102
3     30859
6       185
Name: count, dtype: int64

Examining column: applicant_sex_observed
applicant_sex_observed
2    707763
3    143147
1     13261
Name: count, dtype: int64

Examining column: co-applicant_sex_observed
co-applicant_sex_observed
4    387526
2    357971
3    112097
1      6577
Name: count, dtype: int64

Examining column: applicant_age
applicant_age
35-44    216799
25-34    173665
45-54    159668
55-64    113717
8888     105037
65-74     56432
<25       24127
>74       14719
9999          7
Name: count, dtype: int64

Examining column: co-applicant_age
co-applicant_age
9999     377932
35-44    111910
8888      98967
25-34     85819
45-54     80582
55-64     60809
65-74     31914
<25        8965
>74        7273
Name: count, dtype: int64

Examining column: applicant_age_above_62
applicant_age_above_62
No     660331
Yes     98796
Name: count, dtype: int64

Examining column: co-applicant_age_above_62
co-applicant_age_above_62
No     332767
Yes     54505
Name: count, dtype: int64

Examining column: submission_of_application
submission_of_application
1       655766
3       117876
2        90523
1111         6
Name: count, dtype: int64

Examining column: initially_payable_to_institution
initially_payable_to_institution
1       704918
3       119164
2        40083
1111         6
Name: count, dtype: int64

Examining column: aus-1
aus-1
1       386518
6       256794
2       164066
3        23604
7        15983
5        12142
4         5062
1111         2
Name: count, dtype: int64

Examining column: aus-2
aus-2
1.0    25232
2.0    20486
5.0     3362
3.0     2170
7.0      709
4.0       68
Name: count, dtype: int64

Examining column: aus-3
aus-3
1.0    7591
2.0    4550
3.0    1234
5.0     694
4.0      33
Name: count, dtype: int64

Examining column: aus-4
aus-4
1.0    6975
2.0    1307
3.0    1095
4.0      26
Name: count, dtype: int64

Examining column: aus-5
aus-5
1.0    5838
2.0    1150
3.0     937
4.0      18
Name: count, dtype: int64

Examining column: denial_reason-1
denial_reason-1
10      864169
1111         2
Name: count, dtype: int64

Examining column: denial_reason-2
Series([], Name: count, dtype: int64)

Examining column: denial_reason-3
Series([], Name: count, dtype: int64)

Examining column: denial_reason-4
Series([], Name: count, dtype: int64)

Examining column: tract_population
tract_population
15205    4999
14047    4293
14095    3587
14659    3372
7817     3015
         ...
1472        5
6900        2
1565        2
366         1
378         1
Name: count, Length: 2185, dtype: int64

Examining column: tract_minority_population_percent
tract_minority_population_percent
24.81    5112
7.24     4394
12.25    4085
6.34     4003
6.66     3891
         ...
80.05       2
73.22       1
81.96       1
69.05       1
79.66       1
Name: count, Length: 2080, dtype: int64

Examining column: ffiec_msa_md_median_family_income
ffiec_msa_md_median_family_income
97300     258689
100600    244703
117800    119092
72400      52559
70900      49985
83600      29684
95600      12763
96600      11994
74700      11205
72700      10380
81200      10379
79000       9881
88200       6299
109000      6269
88500       5090
89400       4063
80300       3866
86200       3712
91300       3677
100500      1929
94900       1928
80000       1221
89200       1152
76800        865
0            854
85100        836
92800        626
90800        470
Name: count, dtype: int64

Examining column: tract_to_msa_income_percentage
tract_to_msa_income_percentage
100    24162
89     20827
99     18909
109    18271
103    17487
       ...
28        54
21        50
25        23
30        22
23        20
Name: count, Length: 187, dtype: int64

Examining column: tract_owner_occupied_units
tract_owner_occupied_units
4005    4999

## Statistics Summaries
-----

In [114]:
# Statistics Summary Table - Interest Rates by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Interest Rate": race_group['interest_rate'].mean(),
    "Median Interest Rate": race_group['interest_rate'].median(),
    "Interest Rate Variance": race_group['interest_rate'].var(),
    "Interest Rate Std. Dev.": race_group['interest_rate'].std(),
    "Interest Rate Std. Err.": race_group['interest_rate'].sem()
})

summary_table

,Mean Interest Rate,Median Interest Rate,Interest Rate Variance,Interest Rate Std. Dev.,Interest Rate Std. Err.
derived_race,,,,,
2 or more minority races,3.715591,3.250,2.342016,1.530365,0.060446
Asian,3.376448,3.000,1.355509,1.164263,0.006402
Black,3.521807,3.250,1.768312,1.329779,0.009157
Free Form Text Only,3.417907,3.125,1.598350,1.264259,0.192798
Joint,3.499418,3.125,1.383847,1.176370,0.009417
Native,3.680538,3.250,2.090561,1.445877,0.027418
Pacific Islander,3.540037,3.250,1.720836,1.311807,0.047964
Race Not Available,3.551026,3.250,1.455078,1.206266,0.002741
White,3.419726,3.125,1.228057,1.108178,0.001435

In [115]:
# Statistics Summary Table - Loan Amount by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan Amount": race_group['loan_amount'].mean(),
    "Median Loan Amount": race_group['loan_amount'].median(),
    "Loan Amount Variance": race_group['loan_amount'].var(),
    "Loan Amount Std. Dev.": race_group['loan_amount'].std(),
    "Loan Amount Std. Err.": race_group['loan_amount'].sem()
})

summary_table

,Mean Loan Amount,Median Loan Amount,Loan Amount Variance,Loan Amount Std. Dev.,Loan Amount Std. Err.
derived_race,,,,,
2 or more minority races,229695.787832,225000.0,1.670807e+10,1.292597e+05,5105.451397
Asian,270837.138278,255000.0,2.220633e+10,1.490179e+05,819.435343
Black,245320.056899,235000.0,1.758609e+10,1.326126e+05,913.159007
Free Form Text Only,180813.953488,175000.0,1.003920e+10,1.001958e+05,15279.719541
Joint,283391.541173,265000.0,3.136996e+10,1.771157e+05,1417.833010
Native,210415.318231,195000.0,1.832851e+10,1.353828e+05,2567.219676
Pacific Islander,177941.176471,155000.0,1.593833e+10,1.262471e+05,4616.050505
Race Not Available,308131.579219,235000.0,1.633067e+12,1.277915e+06,2904.337153
White,241416.533968,215000.0,2.632532e+10,1.622508e+05,210.062648

In [116]:
# Statistics Summary Table - loan_to_value_ratio by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan to Value Ratio": race_group['loan_to_value_ratio'].mean(),
    "Median Loan to Value Ratio": race_group['loan_to_value_ratio'].median(),
    "Loan to Value Ratio Variance": race_group['loan_to_value_ratio'].var(),
    "Loan to Value Ratio Std. Dev.": race_group['loan_to_value_ratio'].std(),
    "Loan to Value Ratio Std. Err.": race_group['loan_to_value_ratio'].sem()
})

summary_table

,Mean Loan to Value Ratio,Median Loan to Value Ratio,Loan to Value Ratio Variance,Loan to Value Ratio Std. Dev.,Loan to Value Ratio Std. Err.
derived_race,,,,,
2 or more minority races,82.539619,88.131,342.754056,18.513618,0.761548
Asian,77.427100,80.000,309.903705,17.604082,0.099656
Black,83.885809,90.000,320.985167,17.916059,0.128461
Free Form Text Only,76.931721,80.000,459.568647,21.437552,3.269196
Joint,77.662098,80.000,302.625725,17.396141,0.144125
Native,79.820396,80.000,376.611868,19.406490,0.386971
Pacific Islander,75.343146,79.646,394.420117,19.860013,0.750102
Race Not Available,72.287660,75.000,347.137081,18.631615,0.062066
White,73.648697,77.220,358.633082,18.937610,0.025359

## Hypothesis Testing
-----

### ANOVA Tests

In [117]:
# Extract individual groups
group0 = df[df["derived_race"].str.fullmatch('White')]["interest_rate"]
group1 = df[df["derived_race"].str.fullmatch('Race Not Available')]["interest_rate"]
group2 = df[df["derived_race"].str.fullmatch('Asian')]["interest_rate"]
group3 = df[df["derived_race"].str.fullmatch('Joint')]["interest_rate"]
group4 = df[df["derived_race"].str.fullmatch('Black')]["interest_rate"]
group5 = df[df["derived_race"].str.fullmatch('Native')]["interest_rate"]
group6 = df[df["derived_race"].str.fullmatch('2 or more minority races')]["interest_rate"]
group7 = df[df["derived_race"].str.fullmatch('Pacific Islander')]["interest_rate"]
group8 = df[df["derived_race"].str.fullmatch('Free Form Text Only')]["interest_rate"]

# Perform the ANOVA test
stats.f_oneway(group0, group1, group2, group3, group4, group5, group6, group7, group8)

F_onewayResult(statistic=291.626691486737, pvalue=0.0)

#### Interpretation
Rejecting the Null Hypothesis: A p-value of 0 provides very strong evidence against the null hypothesis. This means there's a statistically significant effect or difference present in the data between racial group and interest rate.

Source: Google Gemini