# HMDA Data Testing

## TODO:
### Data Collection

### Data Cleaning
- [ ] merge like columns together, ex: 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'
- [X] fix interest rate column
- [X] fix loan term column

### Statistics
- [x] summary statistics table: interest_rate by race
- [x] ANOVA test: interest_rate by race

### Documentation
- [ ] data exploration and cleanup process
- [ ] other data (show the download, df load, and df) and how poor it was
- [ ] API fixes - was downloading nationwide, and it was too big for jupyterlab/pandas/computer
- [ ] print example, found problem with 'state'.value_counts()
- [ ] data exploration - print columns, print value_counts for each
- [ ] data exploration - pull out a DF and show it of just the primary columns

## Setup
-----

In [1]:
import gzip
import os
import requests
import subprocess
import pandas as pd
import numpy as np
import scipy.stats as stats
from pathlib import Path
from hmda_lib import valid_state_codes
from hmda_lib import valid_years

In [2]:
def download_hmda_data(fd, state, year):
    url = f'https://ffiec.cfpb.gov/v2/data-browser-api/view/csv?states={state}&years={year}'

    try:
        with requests.get(url, stream=True) as response:
            response.raise_for_status()
            with open(output_file, 'wb') as fd:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        fd.write(chunk)
        return True

    except requests.exceptions.RequestException as e:
        print(f"Error downloading data: {e}")
        return False

In [3]:
def compress_hmda_data(f):
    subprocess.run(['gzip', f])

## Data Collection
-----

In [4]:
# download HMDA data from API

state = 'MN'
years = ['2018', '2019', '2020', '2021', '2022']

for year in years:
    output_file = Path('hmda_data', f'hmda-{state}-{year}.csv')
    if os.path.exists(f'{output_file}.gz'):
        print('File exists already! Skipping!')
        continue
    else:
        print(f'Downloading HMDA data for: {year} {state}.....', end='')
        download_hmda_data(output_file, state, year)
        print(' compressing.....', end='')
        compress_hmda_data(output_file)
        print(' done!')

File exists already! Skipping!
File exists already! Skipping!
File exists already! Skipping!
File exists already! Skipping!
File exists already! Skipping!

In [5]:
# load the HMDA data into Pandas DataFrames

data_path = 'hmda_data'
filenames = os.listdir(data_path)
all_dataframes = []

for filename in filenames:
    if filename.endswith('.csv.gz'):
        filepath = Path(data_path, filename)
        with gzip.open(filepath, 'rt') as file:
            df = pd.read_csv(filepath)
        all_dataframes.append(df)

unclean_df = pd.concat(all_dataframes, ignore_index=True)

C:\Users\XR User 1\AppData\Local\Temp\ipykernel_30832\2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\XR User 1\AppData\Local\Temp\ipykernel_30832\2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\XR User 1\AppData\Local\Temp\ipykernel_30832\2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\XR User 1\AppData\Local\Temp\ipykernel_30832\2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\XR User 1\AppData\Local\Temp\ipykernel_30832\2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

## Data Cleaning
-----

In [6]:
# remove null values and 'Exempt' interest rate from dataframe

df = unclean_df[unclean_df['interest_rate'].notnull()]
df = df.query('interest_rate != "Exempt"')
df = df.query('loan_to_value_ratio != "Exempt"')

In [7]:
# remove null loan terms from dataframe

df = df[df['loan_term'].notnull()]

In [8]:
# data type conversions

df['interest_rate'] = pd.to_numeric(df['interest_rate'], errors='raise')
df['loan_to_value_ratio'] = pd.to_numeric(df['loan_to_value_ratio'], errors='raise')

In [9]:
# rename values

df['derived_race'] = df['derived_race'].replace({
    'Black or African American': 'Black',
    'American Indian or Alaska Native': 'Native',
    'Native Hawaiian or Other Pacific Islander': 'Pacific Islander'
})

## Data Exploration
-----

In [10]:
df['derived_race'].value_counts()

derived_race
White                       882643
Race Not Available          288832
Asian                        47390
Black                        30486
Joint                        23764
Native                        3857
Pacific Islander              1106
2 or more minority races       879
Free Form Text Only             66
Name: count, dtype: int64

In [11]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
2,2018,KB1H1DSPRFMYMCUFXT09,33460,MN,27053.0,2.705311e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4248,16.43,93600,131,1270,1552,76
3,2018,KB1H1DSPRFMYMCUFXT09,33460,MN,27019.0,2.701909e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5956,4.37,93600,108,1898,2158,28
6,2018,KB1H1DSPRFMYMCUFXT09,33460,MN,27037.0,2.703706e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5631,28.61,93600,106,1589,1905,37
9,2018,KB1H1DSPRFMYMCUFXT09,33460,MN,27019.0,2.701909e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4225,14.67,93600,118,1228,1327,31
13,2018,KB1H1DSPRFMYMCUFXT09,33460,MN,27037.0,2.703706e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5814,39.15,93600,78,1778,1888,32

In [12]:
for c in df.columns:
    print(c)

activity_year
lei
derived_msa-md
state_code
county_code
census_tract
conforming_loan_limit
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
action_taken
purchaser_type
preapproval
loan_type
loan_purpose
lien_status
reverse_mortgage
open-end_line_of_credit
business_or_commercial_purpose
loan_amount
loan_to_value_ratio
interest_rate
rate_spread
hoepa_status
total_loan_costs
total_points_and_fees
origination_charges
discount_points
lender_credits
loan_term
prepayment_penalty_term
intro_rate_period
negative_amortization
interest_only_payment
balloon_payment
other_nonamortizing_features
property_value
construction_method
occupancy_type
manufactured_home_secured_property_type
manufactured_home_land_property_interest
total_units
multifamily_affordable_units
income
debt_to_income_ratio
applicant_credit_score_type
co-applicant_credit_score_type
applicant_ethnicity-1
applicant_ethnicity-2
applicant_ethnicity-3
applicant_ethnicity-4
applicant_ethnicity-5
co-applicant_ethnicity-1
co-applicant_ethnicity-2
co-applicant_ethnicity-3
co-applicant_ethnicity-4
co-applicant_ethnicity-5
applicant_ethnicity_observed
co-applicant_ethnicity_observed
applicant_race-1
applicant_race-2
applicant_race-3
applicant_race-4
applicant_race-5
co-applicant_race-1
co-applicant_race-2
co-applicant_race-3
co-applicant_race-4
co-applicant_race-5
applicant_race_observed
co-applicant_race_observed
applicant_sex
co-applicant_sex
applicant_sex_observed
co-applicant_sex_observed
applicant_age
co-applicant_age
applicant_age_above_62
co-applicant_age_above_62
submission_of_application
initially_payable_to_institution
aus-1
aus-2
aus-3
aus-4
aus-5
denial_reason-1
denial_reason-2
denial_reason-3
denial_reason-4
tract_population
tract_minority_population_percent
ffiec_msa_md_median_family_income
tract_to_msa_income_percentage
tract_owner_occupied_units
tract_one_to_four_family_homes
tract_median_age_of_housing_units

In [13]:
for c in df.columns:
    print(f'Examining column: {c}')
    print(df[c].value_counts())
    print()

Examining column: activity_year
activity_year
2020    352175
2021    340417
2019    226539
2018    188313
2022    171579
Name: count, dtype: int64

Examining column: lei
lei
6BYL5QZYBDK8S7L73M02    117008
KB1H1DSPRFMYMCUFXT09     90161
549300WYBPIWKK6SQC06     56778
549300FGXN1K3HLB1R50     55076
549300HW662MN1WU8550     33033
                         ...
5493008WOGGD8641UC13         1
549300PEWJWBNEOSS013         1
549300UXZ76FJVM3UC43         1
549300LTT1PNSPD2JT50         1
5493006KQF5UKZ3Y9N07         1
Name: count, Length: 1018, dtype: int64

Examining column: derived_msa-md
derived_msa-md
33460    922913
99999    194118
40340     46655
20260     40437
41060     37052
22020     14455
31860     13873
24220      4538
29100      3301
0          1662
38060         3
36084         2
12980         1
41700         1
16974         1
28140         1
36740         1
47300         1
38940         1
23580         1
19740         1
39580         1
36100         1
32580         1
31084         1
43620         1
Name: count, dtype: int64

Examining column: state_code
state_code
MN    1279023
Name: count, dtype: int64

Examining column: county_code
county_code
27053.0    311846
27037.0    121816
27123.0    106889
27003.0    103154
27163.0     81346
            ...
4021.0          1
17043.0         1
55095.0         1
26025.0         1
46099.0         1
Name: count, Length: 111, dtype: int64

Examining column: census_tract
census_tract
2.716307e+10    7485
2.717110e+10    6706
2.717110e+10    5427
2.705303e+10    4972
2.713908e+10    4556
                ...
3.801995e+10       1
5.509596e+10       1
4.802916e+10       1
2.909502e+10       1
2.716307e+10       1
Name: count, Length: 1690, dtype: int64

Examining column: conforming_loan_limit
conforming_loan_limit
C     1241792
NC      33900
Name: count, dtype: int64

Examining column: derived_loan_product_type
derived_loan_product_type
Conventional:First Lien          923549
FHA:First Lien                   131139
Conventional:Subordinate Lien    129959
VA:First Lien                     76765
FSA/RHS:First Lien                17368
FHA:Subordinate Lien                210
FSA/RHS:Subordinate Lien             32
VA:Subordinate Lien                   1
Name: count, dtype: int64

Examining column: derived_dwelling_category
derived_dwelling_category
Single Family (1-4 Units):Site-Built      1265688
Single Family (1-4 Units):Manufactured      10004
Multifamily:Site-Built                       3272
Multifamily:Manufactured                       59
Name: count, dtype: int64

Examining column: derived_ethnicity
derived_ethnicity
Not Hispanic or Latino     930520
Ethnicity Not Available    304668
Hispanic or Latino          28924
Joint                       14605
Free Form Text Only           306
Name: count, dtype: int64

Examining column: derived_race
derived_race
White                       882643
Race Not Available          288832
Asian                        47390
Black                        30486
Joint                        23764
Native                        3857
Pacific Islander              1106
2 or more minority races       879
Free Form Text Only             66
Name: count, dtype: int64

Examining column: derived_sex
derived_sex
Joint                498530
Male                 323859
Sex Not Available    236510
Female               220124
Name: count, dtype: int64

Examining column: action_taken
action_taken
1    1043642
6     205746
2      28291
8       1344
Name: count, dtype: int64

Examining column: purchaser_type
purchaser_type
0     360792
1     314740
3     234134
2     134362
71     89327
6      80011
9      52108
8       8684
5       2623
72      2127
4        115
Name: count, dtype: int64

Examining column: preapproval
preapproval
2    1238306
1      40717
Name: count, dtype: int64

Examining column: loan_type
loan_type
1    1053508
2     131349
3      76766
4      17400
Name: count, dtype: int64

Examining column: loan_purpose
loan_purpose
1     572129
31    379365
32    205284
2      55312
4      51219
5      15714
Name: count, dtype: int64

Examining column: lien_status
lien_status
1    1148821
2     130202
Name: count, dtype: int64

Examining column: reverse_mortgage
reverse_mortgage
2       1279021
1111          2
Name: count, dtype: int64

Examining column: open-end_line_of_credit
open-end_line_of_credit
2       1184233
1         94788
1111          2
Name: count, dtype: int64

Examining column: business_or_commercial_purpose
business_or_commercial_purpose
2       1252406
1         26603
1111         14
Name: count, dtype: int64

Examining column: loan_amount
loan_amount
205000.0      49690
225000.0      45918
185000.0      45600
155000.0      44554
165000.0      44429
              ...
16905000.0        1
35505000.0        1
22335000.0        1
24345000.0        1
18835000.0        1
Name: count, Length: 977, dtype: int64

Examining column: loan_to_value_ratio
loan_to_value_ratio
80.000    128098
95.000     65637
90.000     45666
97.000     31847
75.000     26923
           ...
8.328          1
44.814         1
15.301         1
24.534         1
50.937         1
Name: count, Length: 83026, dtype: int64

Examining column: interest_rate
interest_rate
2.875    79555
3.250    73654
2.750    68449
3.125    54491
3.375    53166
         ...
6.537        1
8.839        1
2.144        1
1.965        1
5.455        1
Name: count, Length: 4281, dtype: int64

Examining column: rate_spread
rate_spread
0.0       1497
0.13       956
0.09       945
0.05       945
0.16       939
          ...
0.9921       1
1.4767       1
1.2024       1
0.6599       1
-2.676       1
Name: count, Length: 33245, dtype: int64

Examining column: hoepa_status
hoepa_status
2    1161838
3     116644
1        541
Name: count, dtype: int64

Examining column: total_loan_costs
total_loan_costs
0.0         21002
0.0         13732
225.0        3062
162.0        1844
150.0        1518
            ...
8690.29         1
8905.3          1
5888.61         1
10820.24        1
4607.5          1
Name: count, Length: 529477, dtype: int64

Examining column: total_points_and_fees
total_points_and_fees
749.0       319
2900.0      117
0.0         109
799.0       108
799.0        44
           ...
1989.82       1
1636.18       1
2668.41       1
1336.42       1
11785.91      1
Name: count, Length: 2507, dtype: int64

Examining column: origination_charges
origination_charges
0.0         97088
0.0         50249
1290.0      12094
995.0       11893
770.0        8768
            ...
3915.2          1
2558.14         1
2192.81         1
3871.7          1
11928.68        1
Name: count, Length: 277015, dtype: int64

Examining column: discount_points
discount_points
500.0      410
1500.0     405
1000.0     344
750.0      328
600.0      286
          ...
1891.75      1
3108.45      1
1009.85      1
183.58       1
9868.68      1
Name: count, Length: 204207, dtype: int64

Examining column: lender_credits
lender_credits
500.0      5316
50.0       3429
1000.0     3238
25.0       3182
5.0        3017
           ...
2354.38       1
5157.35       1
4623.96       1
1058.47       1
686.3         1
Name: count, Length: 147286, dtype: int64

Examining column: loan_term
loan_term
360      635237
360.0    282142
180      108998
180.0     52137
240       50989
          ...
531           1
695           1
676           1
594           1
4.0           1
Name: count, Length: 984, dtype: int64

Examining column: prepayment_penalty_term
prepayment_penalty_term
36.0     6535
36       3045
0         131
2.0       130
12         49
2          42
21.0        4
180         3
24          2
15          1
108         1
17          1
120.0       1
20.0        1
12.0        1
120         1
1           1
24.0        1
Name: count, dtype: int64

Examining column: intro_rate_period
intro_rate_period
1       39498
1.0     18954
120      9254
60       8949
12       6398
        ...
22          1
107         1
525         1
69.0        1
27          1
Name: count, Length: 143, dtype: int64

Examining column: negative_amortization
negative_amortization
2       1278950
1            54
1111         19
Name: count, dtype: int64

Examining column: interest_only_payment
interest_only_payment
2       1204759
1         74245
1111         19
Name: count, dtype: int64

Examining column: balloon_payment
balloon_payment
2       1249942
1         29062
1111         19
Name: count, dtype: int64

Examining column: other_nonamortizing_features
other_nonamortizing_features
2       1277983
1          1021
1111         19
Name: count, dtype: int64

Examining column: property_value
property_value
255000       30665
225000       28348
235000       28304
275000       27702
265000       27651
             ...
10665000         1
28435000         1
19435000         1
12465000         1
4515000.0        1
Name: count, Length: 1750, dtype: int64

Examining column: construction_method
construction_method
1    1268960
2      10063
Name: count, dtype: int64

Examining column: occupancy_type
occupancy_type
1    1206228
3      43163
2      29632
Name: count, dtype: int64

Examining column: manufactured_home_secured_property_type
manufactured_home_secured_property_type
3       1268904
1          6031
2          3955
1111        133
Name: count, dtype: int64

Examining column: manufactured_home_land_property_interest
manufactured_home_land_property_interest
5       1268916
1          6523
3          3331
1111        121
4            72
2            60
Name: count, dtype: int64

Examining column: total_units
total_units
1          1020812
1           235041
2            13653
2             2426
3             1773
5-24          1750
4             1559
25-49          574
50-99          484
>149           291
100-149        232
4              218
3              210
Name: count, dtype: int64

Examining column: multifamily_affordable_units
multifamily_affordable_units
0        2049
0.0       300
100       177
100.0      21
20         10
         ...
16          1
54.0        1
78          1
68          1
44          1
Name: count, Length: 71, dtype: int64

Examining column: income
income
60.0        11963
65.0        11143
70.0        11045
75.0        10963
80.0        10701
            ...
97848.0         1
96863.0         1
115477.0        1
60891.0         1
1122.0          1
Name: count, Length: 2365, dtype: int64

Examining column: debt_to_income_ratio
debt_to_income_ratio
20%-<30%    252800
30%-<36%    195344
<20%        104631
44           38507
42           38172
41           36470
40           36275
39           36161
38           35364
43           35287
37           34365
36           34017
49           26380
50%-60%      26326
45           25076
46           21862
48           21202
47           21116
>60%          3290
Exempt          33
Name: count, dtype: int64

Examining column: applicant_credit_score_type
applicant_credit_score_type
1       340616
9       311568
3       275353
2       247703
8        60707
7        32741
11        6024
4         1870
6         1553
5          887
1111         1
Name: count, dtype: int64

Examining column: co-applicant_credit_score_type
co-applicant_credit_score_type
10      528040
9       481891
1        95339
3        73172
2        59771
8        25070
7        11998
11        3108
5          381
4          148
6          104
1111         1
Name: count, dtype: int64

Examining column: applicant_ethnicity-1
applicant_ethnicity-1
2.0     939045
4.0     162772
3.0     141896
1.0      31758
14.0      2112
11.0       886
12.0       199
13.0        49
Name: count, dtype: int64

Examining column: applicant_ethnicity-2
applicant_ethnicity-2
11.0    9428
14.0    6114
12.0    1278
2.0      534
13.0     335
1.0       79
Name: count, dtype: int64

Examining column: applicant_ethnicity-3
applicant_ethnicity-3
14.0    164
12.0     68
11.0     52
13.0     38
2.0       5
1.0       1
Name: count, dtype: int64

Examining column: applicant_ethnicity-4
applicant_ethnicity-4
14.0    7
13.0    4
12.0    3
Name: count, dtype: int64

Examining column: applicant_ethnicity-5
applicant_ethnicity-5
2.0     3
14.0    2
11.0    1
13.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-1
co-applicant_ethnicity-1
5.0     571797
2.0     468862
4.0     140189
3.0      83498
1.0      13204
14.0       828
11.0       430
12.0        88
13.0        26
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-2
co-applicant_ethnicity-2
11.0    4016
14.0    2204
12.0     526
2.0      258
13.0     130
1.0       31
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-3
co-applicant_ethnicity-3
14.0    56
11.0    45
12.0    31
13.0    18
2.0      3
1.0      1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-4
co-applicant_ethnicity-4
13.0    1
14.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-5
co-applicant_ethnicity-5
14.0    1
Name: count, dtype: int64

Examining column: applicant_ethnicity_observed
applicant_ethnicity_observed
2    1029164
3     220103
1      29756
Name: count, dtype: int64

Examining column: co-applicant_ethnicity_observed
co-applicant_ethnicity_observed
4    571797
2    519063
3    173348
1     14815
Name: count, dtype: int64

Examining column: applicant_race-1
applicant_race-1
5.0     896994
7.0     162845
6.0     125987
2.0      46972
3.0      33724
1.0       6120
21.0      2313
27.0      1415
4.0       1242
22.0       298
26.0       298
25.0       226
23.0       218
44.0       192
24.0        80
41.0        17
42.0        11
43.0         5
Name: count, dtype: int64

Examining column: applicant_race-2
applicant_race-2
27.0    9837
21.0    8410
5.0     7179
22.0    3457
26.0    3314
25.0    2203
23.0    1513
24.0     539
3.0      504
44.0     388
2.0      246
4.0      160
41.0      96
43.0      47
42.0      45
1.0       11
Name: count, dtype: int64

Examining column: applicant_race-3
applicant_race-3
27.0    478
5.0     472
44.0    379
22.0    291
24.0    287
25.0    280
23.0    278
26.0    271
21.0    209
3.0      51
41.0     32
4.0      23
43.0     16
42.0     12
2.0       1
Name: count, dtype: int64

Examining column: applicant_race-4
applicant_race-4
23.0    32
5.0     30
44.0    26
27.0    26
24.0    22
25.0    19
22.0    18
26.0    18
4.0     16
41.0    15
21.0    11
42.0     2
3.0      1
43.0     1
Name: count, dtype: int64

Examining column: applicant_race-5
applicant_race-5
5.0     21
41.0    17
24.0    13
44.0     6
22.0     5
27.0     4
23.0     4
25.0     3
26.0     2
21.0     2
42.0     1
43.0     1
3.0      1
Name: count, dtype: int64

Examining column: co-applicant_race-1
co-applicant_race-1
8.0     571590
5.0     457111
7.0     140177
6.0      72152
2.0      19740
3.0      11217
21.0      2590
1.0       2394
27.0       662
4.0        500
23.0       198
25.0       164
22.0       155
26.0       147
44.0       101
24.0        70
41.0        13
42.0         8
43.0         6
Name: count, dtype: int64

Examining column: co-applicant_race-2
co-applicant_race-2
27.0    3852
5.0     2678
21.0    2565
26.0    1415
22.0    1338
25.0    1026
23.0     981
24.0     347
44.0     174
3.0      146
2.0       72
41.0      60
4.0       46
42.0      28
43.0      26
1.0       19
Name: count, dtype: int64

Examining column: co-applicant_race-3
co-applicant_race-3
27.0    150
23.0    142
44.0    136
5.0     125
24.0    116
22.0    112
26.0    107
25.0    105
21.0     69
41.0     11
3.0      11
43.0      6
42.0      5
4.0       5
Name: count, dtype: int64

Examining column: co-applicant_race-4
co-applicant_race-4
24.0    13
44.0    13
23.0     9
22.0     8
4.0      6
26.0     6
41.0     5
27.0     4
25.0     4
42.0     3
5.0      2
43.0     1
21.0     1
Name: count, dtype: int64

Examining column: co-applicant_race-5
co-applicant_race-5
41.0    8
5.0     5
24.0    3
23.0    3
21.0    2
44.0    1
Name: count, dtype: int64

Examining column: applicant_race_observed
applicant_race_observed
2    1030914
3     218501
1      29608
Name: count, dtype: int64

Examining column: co-applicant_race_observed
co-applicant_race_observed
4    571590
2    520030
3    172593
1     14810
Name: count, dtype: int64

Examining column: applicant_sex
applicant_sex
1    675932
2    366079
4    163126
3     73384
6       502
Name: count, dtype: int64

Examining column: co-applicant_sex
co-applicant_sex
5    572376
2    364564
1    157930
4    140188
3     43655
6       310
Name: count, dtype: int64

Examining column: applicant_sex_observed
applicant_sex_observed
2    1029354
3     219468
1      30201
Name: count, dtype: int64

Examining column: co-applicant_sex_observed
co-applicant_sex_observed
4    572376
2    518973
3    172632
1     15042
Name: count, dtype: int64

Examining column: applicant_age
applicant_age
35-44    309803
25-34    263622
45-54    232114
55-64    166919
8888     164745
65-74     81882
<25       38336
>74       21595
9999          7
Name: count, dtype: int64

Examining column: co-applicant_age
co-applicant_age
9999     560070
35-44    157657
8888     153504
25-34    129769
45-54    116171
55-64     89589
65-74     46404
<25       14638
>74       11221
Name: count, dtype: int64

Examining column: applicant_age_above_62
applicant_age_above_62
No     970638
Yes    143633
Name: count, dtype: int64

Examining column: co-applicant_age_above_62
co-applicant_age_above_62
No     485419
Yes     80030
Name: count, dtype: int64

Examining column: submission_of_application
submission_of_application
1       945389
3       205746
2       127880
1111         8
Name: count, dtype: int64

Examining column: initially_payable_to_institution
initially_payable_to_institution
1       1009929
3        207481
2         61605
1111          8
Name: count, dtype: int64

Examining column: aus-1
aus-1
1       547735
6       413469
2       212639
3        42258
5        37907
7        15983
4         9028
1111         4
Name: count, dtype: int64

Examining column: aus-2
aus-2
1.0    34006
2.0    24974
5.0     4857
3.0     3561
7.0      709
4.0      244
Name: count, dtype: int64

Examining column: aus-3
aus-3
1.0    11423
2.0     6424
3.0     2061
5.0      886
4.0       56
Name: count, dtype: int64

Examining column: aus-4
aus-4
1.0    10382
3.0     1852
2.0     1589
4.0       46
5.0        2
Name: count, dtype: int64

Examining column: aus-5
aus-5
1.0    8628
3.0    1581
2.0    1391
4.0      37
Name: count, dtype: int64

Examining column: denial_reason-1
denial_reason-1
10      1276284
1111       2739
Name: count, dtype: int64

Examining column: denial_reason-2
Series([], Name: count, dtype: int64)

Examining column: denial_reason-3
Series([], Name: count, dtype: int64)

Examining column: denial_reason-4
Series([], Name: count, dtype: int64)

Examining column: tract_population
tract_population
15205    7485
14047    6706
14095    5427
14659    4972
15090    4556
         ...
5226        1
8663        1
7026        1
30256       1
378         1
Name: count, Length: 2204, dtype: int64

Examining column: tract_minority_population_percent
tract_minority_population_percent
24.81    7682
7.24     6877
6.34     6437
12.25    6174
6.66     5731
         ...
60.05       1
46.31       1
34.28       1
2.05        1
69.05       1
Name: count, Length: 2094, dtype: int64

Examining column: ffiec_msa_md_median_family_income
ffiec_msa_md_median_family_income
97300     258689
100600    244703
93000     165535
93600     134894
117800    119092
           ...
64200          1
89900          1
84300          1
53400          1
54900          1
Name: count, Length: 61, dtype: int64

Examining column: tract_to_msa_income_percentage
tract_to_msa_income_percentage
100    34314
99     28694
89     28600
109    27062
103    26578
       ...
25        66
23        60
177       58
30        22
187        1
Name: count, Length: 194, dtype: int64

Examining column: tract_owner_occupied_units
tract_owner_occupied_units
4005    7485
4548    6706
1636    5783
4202    5427
2214    5148
        ...
975        1
4532       1
2602       1

## Statistics Summaries
-----

In [14]:
# Statistics Summary Table - Interest Rates by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Interest Rate": race_group['interest_rate'].mean(),
    "Median Interest Rate": race_group['interest_rate'].median(),
    "Interest Rate Variance": race_group['interest_rate'].var(),
    "Interest Rate Std. Dev.": race_group['interest_rate'].std(),
    "Interest Rate Std. Err.": race_group['interest_rate'].sem()
})

summary_table

,Mean Interest Rate,Median Interest Rate,Interest Rate Variance,Interest Rate Std. Dev.,Interest Rate Std. Err.
derived_race,,,,,
2 or more minority races,3.947778,3.625,2.205659,1.485146,0.050093
Asian,3.687475,3.375,1.426056,1.194176,0.005486
Black,3.820617,3.500,10.695898,3.270458,0.018731
Free Form Text Only,4.121212,3.750,2.153253,1.467397,0.180624
Joint,3.803048,3.500,1.382663,1.175867,0.007628
Native,3.943490,3.625,2.024991,1.423022,0.022913
Pacific Islander,3.903947,3.625,1.771620,1.331022,0.040023
Race Not Available,4.013744,3.625,425.640704,20.631062,0.038388
White,3.788169,3.500,63.506752,7.969112,0.008482

In [15]:
# Statistics Summary Table - Loan Amount by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan Amount": race_group['loan_amount'].mean(),
    "Median Loan Amount": race_group['loan_amount'].median(),
    "Loan Amount Variance": race_group['loan_amount'].var(),
    "Loan Amount Std. Dev.": race_group['loan_amount'].std(),
    "Loan Amount Std. Err.": race_group['loan_amount'].sem()
})

summary_table

,Mean Loan Amount,Median Loan Amount,Loan Amount Variance,Loan Amount Std. Dev.,Loan Amount Std. Err.
derived_race,,,,,
2 or more minority races,222792.946530,215000.0,1.509763e+10,1.228724e+05,4144.383518
Asian,259132.306394,245000.0,2.159910e+10,1.469663e+05,675.109934
Black,233876.533491,225000.0,1.672560e+10,1.293275e+05,740.697008
Free Form Text Only,177121.212121,160000.0,1.914005e+10,1.383476e+05,17029.407105
Joint,263156.455142,245000.0,3.046722e+10,1.745486e+05,1132.287305
Native,202814.363495,185000.0,1.710770e+10,1.307964e+05,2106.060973
Pacific Islander,188860.759494,165000.0,1.275095e+11,3.570847e+05,10737.266542
Race Not Available,299401.347496,225000.0,1.590348e+12,1.261090e+06,2346.515169
White,231484.173103,205000.0,2.525568e+10,1.589203e+05,169.155828

In [16]:
# Statistics Summary Table - loan_to_value_ratio by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan to Value Ratio": race_group['loan_to_value_ratio'].mean(),
    "Median Loan to Value Ratio": race_group['loan_to_value_ratio'].median(),
    "Loan to Value Ratio Variance": race_group['loan_to_value_ratio'].var(),
    "Loan to Value Ratio Std. Dev.": race_group['loan_to_value_ratio'].std(),
    "Loan to Value Ratio Std. Err.": race_group['loan_to_value_ratio'].sem()
})

summary_table

,Mean Loan to Value Ratio,Median Loan to Value Ratio,Loan to Value Ratio Variance,Loan to Value Ratio Std. Dev.,Loan to Value Ratio Std. Err.
derived_race,,,,,
2 or more minority races,83.870818,90.0000,3.262467e+02,18.062301,0.639399
Asian,78.711334,80.0000,3.321952e+02,18.226223,0.087076
Black,84.992076,90.0010,3.088362e+02,17.573736,0.105730
Free Form Text Only,74.098766,79.6150,4.812053e+02,21.936393,2.742049
Joint,77.881710,80.0000,3.260366e+02,18.056485,0.121906
Native,80.468634,81.8750,3.725801e+02,19.302335,0.328339
Pacific Islander,76.671769,79.9615,4.062736e+02,20.156230,0.634233
Race Not Available,73.672802,77.0000,3.634651e+02,19.064760,0.053932
White,99.269989,79.7640,4.009625e+08,20024.049157,22.232933

## Hypothesis Testing
-----

### ANOVA Tests

In [17]:
# Extract individual groups
group0 = df[df["derived_race"].str.fullmatch('White')]["interest_rate"]
group1 = df[df["derived_race"].str.fullmatch('Race Not Available')]["interest_rate"]
group2 = df[df["derived_race"].str.fullmatch('Asian')]["interest_rate"]
group3 = df[df["derived_race"].str.fullmatch('Joint')]["interest_rate"]
group4 = df[df["derived_race"].str.fullmatch('Black')]["interest_rate"]
group5 = df[df["derived_race"].str.fullmatch('Native')]["interest_rate"]
group6 = df[df["derived_race"].str.fullmatch('2 or more minority races')]["interest_rate"]
group7 = df[df["derived_race"].str.fullmatch('Pacific Islander')]["interest_rate"]
group8 = df[df["derived_race"].str.fullmatch('Free Form Text Only')]["interest_rate"]

# Perform the ANOVA test
stats.f_oneway(group0, group1, group2, group3, group4, group5, group6, group7, group8)

F_onewayResult(statistic=10.948260161132053, pvalue=1.4375699707682176e-15)

#### Interpretation
A p-value of 1.4375699707682176e-15 (approximately 1.44 x 10^-15) is extremely small. In the context of statistical hypothesis testing, this indicates:

Strong Evidence Against the Null Hypothesis: The observed results are highly unlikely to have occurred by random chance alone if the null hypothesis (the assumption of no effect or no difference) were true.
Statistical Significance: The result is highly statistically significant. This means you can confidently reject the null hypothesis and conclude that there is a significant effect or difference present in your data.

Source: Google Gemini

In [18]:
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################

In [24]:
# Set the maximum number of columns to None (displays all columns)
pd.options.display.max_columns = None

In [26]:
# Only use a copy of df
# do Not mess with original df past this point

map_df = df.copy()

print(map_df)
# 1279023 rows x 99 columns

         activity_year                   lei  derived_msa-md state_code  \
2                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
3                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
6                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
9                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
13                2018  KB1H1DSPRFMYMCUFXT09           33460         MN
...                ...                   ...             ...        ...
1787485           2022  549300RBJCM5B02O5U05           33460         MN
1787487           2022  549300RBJCM5B02O5U05           99999         MN
1787488           2022  549300RBJCM5B02O5U05           99999         MN
1787490           2022  549300RBJCM5B02O5U05           99999         MN
1787491           2022  549300Y7HCU10KIRLG30           99999         MN

         county_code  census_tract conforming_loan_limit  \
2            27053.0  2.705311e+10                    NC
3            27019.0  2.701909e+10                     C
6            27037.0  2.703706e+10                     C
9            27019.0  2.701909e+10                     C
13           27037.0  2.703706e+10                     C
...              ...           ...                   ...
1787485      27123.0  2.712304e+10                     C
1787487      27091.0  2.709179e+10                     C
1787488      27173.0  2.717397e+10                     C
1787490      27033.0  2.703327e+10                     C
1787491      27135.0  2.713597e+10                     C

             derived_loan_product_type  \
2              Conventional:First Lien
3        Conventional:Subordinate Lien
6        Conventional:Subordinate Lien
9        Conventional:Subordinate Lien
13       Conventional:Subordinate Lien
...                                ...
1787485        Conventional:First Lien
1787487  Conventional:Subordinate Lien
1787488  Conventional:Subordinate Lien
1787490        Conventional:First Lien
1787491        Conventional:First Lien

                      derived_dwelling_category        derived_ethnicity  \
2          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
3          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
6          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
9          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
13         Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
...                                         ...                      ...
1787485    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787487    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787488    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787490    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787491  Single Family (1-4 Units):Manufactured  Ethnicity Not Available

               derived_race        derived_sex  action_taken  purchaser_type  \
2                     White              Joint             1               0
3                     White               Male             1               0
6                     White               Male             1               0
9                     White               Male             1               0
13                    White              Joint             1               0
...                     ...                ...           ...             ...
1787485               White             Female             1               0
1787487               White              Joint             1               0
1787488               White             Female             1               0
1787490               White              Joint             1               0
1787491  Race Not Available  Sex Not Available             6               0

         preapproval  loan_type  loan_purpose  lien_status  reverse_mortgage  \
2                  2          1            32            1                 2
3                  2          1             2            2                 2
6                  2          1             2            2                 2
9                  2          1             4            2                 2
13                 2          1             2            2                 2
...              ...        ...           ...          ...               ...
1787485            2          1            31            1                 2
1787487            2          1            31            2                 2
1787488            2          1             1            2                 2
1787490            2          1             1            1                 2
1787491            2          1             1            1                 2

         open-end_line_of_credit  business_or_commercial_purpose  loan_amount  \
2                              1                               2     505000.0
3                              1                               2      35000.0
6                              1                               2      55000.0
9                              1                               2     135000.0
13                             1                               2      55000.0
...                          ...                             ...          ...
1787485                        2                               2      55000.0
1787487                        1                               2     125000.0
1787488                        2                               2      55000.0
1787490                        2                               2     205000.0
1787491                        2                               2     115000.0

         loan_to_value_ratio  interest_rate rate_spread  hoepa_status  \
2                     62.660          5.000       -0.27             2
3                     68.750          6.000        0.74             2
6                     77.440          6.500        1.23             2
9                     79.990          5.500        0.23             2
13                    69.390          5.000       -0.32             2
...                      ...            ...         ...           ...
1787485               17.160          4.000       1.142             3
1787487               70.202          4.990       -1.64             2
1787488               77.560          7.125       2.675             2
1787490               80.000          5.875       0.216             3
1787491                  NaN          6.500         NaN             2

        total_loan_costs total_points_and_fees origination_charges  \
2                    NaN                   NaN                 NaN
3                    NaN                   NaN                 NaN
6                    NaN                   NaN                 NaN
9                    NaN                   NaN                 NaN
13                   NaN                   NaN                 NaN
...                  ...                   ...                 ...
1787485           2300.8                   NaN               575.0
1787487              NaN                   NaN                 NaN
1787488              NaN                   NaN                 0.0
1787490           4607.5                   NaN              2599.0
1787491              NaN                   NaN                 NaN

        discount_points lender_credits loan_term prepayment_penalty_term  \
2                   NaN            NaN       361                      36
3                   NaN            NaN       361                      36
6                   NaN            NaN       361                      36
9                   NaN            NaN       361                      36
13                  NaN            NaN       361                      36
...                 ...            ...       ...                     ...
1787485             NaN           59.6      60.0                     NaN
1787487             NaN            NaN     120.0                     NaN
1787488             NaN            NaN       6.0                     NaN
1787490             NaN            NaN     180.0                     NaN
1787491             NaN            NaN     300.0                     NaN

        intro_rate_period  negative_amortization  interest_only_payment  \
2                     NaN                      2                      2
3                     NaN                      2                      2
6                     NaN                      2                      2
9                     NaN                      2                      2
13                    NaN                      2                      2
...                   ...                    ...                    ...
1787485               NaN                      2                      2
1787487              18.0                      2                      1
1787488               NaN                      2                      2
1787490              60.0                      2                      2
1787491               NaN                      2                      2

         balloon_payment  other_nonamortizing_features property_value  \
2                      2                             2         795000
3                      2                             2         165000
6                      2                             2         435000
9                      2                             2         725000
13                     2                             2         305000
...                  ...                           ...            ...
1787485                2                             2       335000.0
1787487                1                             2       375000.0
1787488                2                             1       105000.0
1787490                2                             2       255000.0
1787491                2                             2       125000.0

         construction_method  occupancy_type  \
2                          1               1
3                          1               1
6                          1               1
9                          1               1
13                         1               1
...                      ...             ...
1787485                    1               2
1787487                    1               1
1787488                    1               1
1787490                    1               2
1787491                    2               1

         manufactured_home_secured_property_type  \
2                                              3
3                                              3
6                                              3
9                                              3
13                                             3
...                                          ...
1787485                                        3
1787487                                        3
1787488                                        3
1787490                                        3
1787491                                        2

         manufactured_home_land_property_interest total_units  \
2                                               5           1
3                                               5           1
6                                               5           1
9                                               5           1
13                                              5           1
...                                           ...         ...
1787485                                         5           1
1787487                                         5           1
1787488                                         5           1
1787490                                         5           1
1787491                                         3           1

        multifamily_affordable_units  income debt_to_income_ratio  \
2                                NaN   385.0                 <20%
3                                NaN    77.0             20%-<30%
6                                NaN   283.0             30%-<36%
9                                NaN   165.0             30%-<36%
13                               NaN   170.0                 <20%
...                              ...     ...                  ...
1787485                          NaN   237.0                   39
1787487                          NaN   168.0                 <20%
1787488                          NaN    83.0                   43
1787490                          NaN   348.0                 <20%
1787491                          NaN     NaN                  NaN

         applicant_credit_score_type  co-applicant_credit_score_type  \
2                                  1                               9
3                                  1                              10
6                                  1                              10
9                                  4                              10
13                                 1                               9
...                              ...                             ...
1787485                            1                               2
1787487                            1                               1
1787488                            1                              10
1787490                            3                               1
1787491                            9                               9

         applicant_ethnicity-1  applicant_ethnicity-2  applicant_ethnicity-3  \
2                          2.0                    NaN                    NaN
3                          2.0                    NaN                    NaN
6                          2.0                    NaN                    NaN
9                          2.0                    NaN                    NaN
13                         2.0                    NaN                    NaN
...                        ...                    ...                    ...
1787485                    2.0                    NaN                    NaN
1787487                    2.0                    NaN                    NaN
1787488                    2.0                    NaN                    NaN
1787490                    2.0                    NaN                    NaN
1787491                    4.0                    NaN                    NaN

         applicant_ethnicity-4  applicant_ethnicity-5  \
2                          NaN                    NaN
3                          NaN                    NaN
6                          NaN                    NaN
9                          NaN                    NaN
13                         NaN                    NaN
...                        ...                    ...
1787485                    NaN                    NaN
1787487                    NaN                    NaN
1787488                    NaN                    NaN
1787490                    NaN                    NaN
1787491                    NaN                    NaN

         co-applicant_ethnicity-1  co-applicant_ethnicity-2  \
2                             2.0                       NaN
3                             5.0                       NaN
6                             5.0                       NaN
9                             5.0                       NaN
13                            2.0                       NaN
...                           ...                       ...
1787485                       3.0                       NaN
1787487                       2.0                       NaN
1787488                       5.0                       NaN
1787490                       2.0                       NaN
1787491                       4.0                       NaN

         co-applicant_ethnicity-3  co-applicant_ethnicity-4  \
2                             NaN                       NaN
3                             NaN                       NaN
6                             NaN                       NaN
9                             NaN                       NaN
13                            NaN                       NaN
...                           ...                       ...
1787485                       NaN                       NaN
1787487                       NaN                       NaN
1787488                       NaN                       NaN
1787490                       NaN                       NaN
1787491                       NaN                       NaN

         co-applicant_ethnicity-5  applicant_ethnicity_observed  \
2                             NaN                             2
3                             NaN                             2
6                             NaN                             2
9                             NaN                             2
13                            NaN                             2
...                           ...                           ...
1787485                       NaN                             2
1787487                       NaN                             2
1787488                       NaN                             2
1787490                       NaN                             2
1787491                       NaN                             3

         co-applicant_ethnicity_observed  applicant_race-1  applicant_race-2  \
2                                      2               5.0               NaN
3                                      4               5.0               NaN
6                                      4               5.0               NaN
9                                      4               5.0               NaN
13                                     2               5.0               NaN
...                                  ...               ...               ...
1787485                                2               5.0               NaN
1787487                                2               5.0               NaN
1787488                                4               5.0               NaN
1787490                                2               5.0               NaN
1787491                                3               7.0               NaN

         applicant_race-3  applicant_race-4  applicant_race-5  \
2                     NaN               NaN               NaN
3                     NaN               NaN               NaN
6                     NaN               NaN               NaN
9                     NaN               NaN               NaN
13                    NaN               NaN               NaN
...                   ...               ...               ...
1787485               NaN               NaN               NaN
1787487               NaN               NaN               NaN
1787488               NaN               NaN               NaN
1787490               NaN               NaN               NaN
1787491               NaN               NaN               NaN

         co-applicant_race-1  co-applicant_race-2  co-applicant_race-3  \
2                        5.0                  NaN                  NaN
3                        8.0                  NaN                  NaN
6                        8.0                  NaN                  NaN
9                        8.0                  NaN                  NaN
13                       5.0                  NaN                  NaN
...                      ...                  ...                  ...
1787485                  6.0                  NaN                  NaN
1787487                  5.0                  NaN                  NaN
1787488                  8.0                  NaN                  NaN
1787490                  5.0                  NaN                  NaN
1787491                  7.0                  NaN                  NaN

         co-applicant_race-4  co-applicant_race-5  applicant_race_observed  \
2                        NaN                  NaN                        2

In [27]:
# ##################
# #  What are those outliers ?
# ##################

##########  Can we throw away the three highest "interest_rate" outliers 

print(map_df)
# 1279023 rows x 99 columns

clean_df = map_df.copy()

non_outlier_df = clean_df[ clean_df['interest_rate'] <= 20 ]

map_df = non_outlier_df.copy()

print(map_df)
# 1278959 rows x 99 columns

         activity_year                   lei  derived_msa-md state_code  \
2                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
3                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
6                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
9                 2018  KB1H1DSPRFMYMCUFXT09           33460         MN
13                2018  KB1H1DSPRFMYMCUFXT09           33460         MN
...                ...                   ...             ...        ...
1787485           2022  549300RBJCM5B02O5U05           33460         MN
1787487           2022  549300RBJCM5B02O5U05           99999         MN
1787488           2022  549300RBJCM5B02O5U05           99999         MN
1787490           2022  549300RBJCM5B02O5U05           99999         MN
1787491           2022  549300Y7HCU10KIRLG30           99999         MN

         county_code  census_tract conforming_loan_limit  \
2            27053.0  2.705311e+10                    NC
3            27019.0  2.701909e+10                     C
6            27037.0  2.703706e+10                     C
9            27019.0  2.701909e+10                     C
13           27037.0  2.703706e+10                     C
...              ...           ...                   ...
1787485      27123.0  2.712304e+10                     C
1787487      27091.0  2.709179e+10                     C
1787488      27173.0  2.717397e+10                     C
1787490      27033.0  2.703327e+10                     C
1787491      27135.0  2.713597e+10                     C

             derived_loan_product_type  \
2              Conventional:First Lien
3        Conventional:Subordinate Lien
6        Conventional:Subordinate Lien
9        Conventional:Subordinate Lien
13       Conventional:Subordinate Lien
...                                ...
1787485        Conventional:First Lien
1787487  Conventional:Subordinate Lien
1787488  Conventional:Subordinate Lien
1787490        Conventional:First Lien
1787491        Conventional:First Lien

                      derived_dwelling_category        derived_ethnicity  \
2          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
3          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
6          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
9          Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
13         Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
...                                         ...                      ...
1787485    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787487    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787488    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787490    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787491  Single Family (1-4 Units):Manufactured  Ethnicity Not Available

               derived_race        derived_sex  action_taken  purchaser_type  \
2                     White              Joint             1               0
3                     White               Male             1               0
6                     White               Male             1               0
9                     White               Male             1               0
13                    White              Joint             1               0
...                     ...                ...           ...             ...
1787485               White             Female             1               0
1787487               White              Joint             1               0
1787488               White             Female             1               0
1787490               White              Joint             1               0
1787491  Race Not Available  Sex Not Available             6               0

         preapproval  loan_type  loan_purpose  lien_status  reverse_mortgage  \
2                  2          1            32            1                 2
3                  2          1             2            2                 2
6                  2          1             2            2                 2
9                  2          1             4            2                 2
13                 2          1             2            2                 2
...              ...        ...           ...          ...               ...
1787485            2          1            31            1                 2
1787487            2          1            31            2                 2
1787488            2          1             1            2                 2
1787490            2          1             1            1                 2
1787491            2          1             1            1                 2

         open-end_line_of_credit  business_or_commercial_purpose  loan_amount  \
2                              1                               2     505000.0
3                              1                               2      35000.0
6                              1                               2      55000.0
9                              1                               2     135000.0
13                             1                               2      55000.0
...                          ...                             ...          ...
1787485                        2                               2      55000.0
1787487                        1                               2     125000.0
1787488                        2                               2      55000.0
1787490                        2                               2     205000.0
1787491                        2                               2     115000.0

         loan_to_value_ratio  interest_rate rate_spread  hoepa_status  \
2                     62.660          5.000       -0.27             2
3                     68.750          6.000        0.74             2
6                     77.440          6.500        1.23             2
9                     79.990          5.500        0.23             2
13                    69.390          5.000       -0.32             2
...                      ...            ...         ...           ...
1787485               17.160          4.000       1.142             3
1787487               70.202          4.990       -1.64             2
1787488               77.560          7.125       2.675             2
1787490               80.000          5.875       0.216             3
1787491                  NaN          6.500         NaN             2

        total_loan_costs total_points_and_fees origination_charges  \
2                    NaN                   NaN                 NaN
3                    NaN                   NaN                 NaN
6                    NaN                   NaN                 NaN
9                    NaN                   NaN                 NaN
13                   NaN                   NaN                 NaN
...                  ...                   ...                 ...
1787485           2300.8                   NaN               575.0
1787487              NaN                   NaN                 NaN
1787488              NaN                   NaN                 0.0
1787490           4607.5                   NaN              2599.0
1787491              NaN                   NaN                 NaN

        discount_points lender_credits loan_term prepayment_penalty_term  \
2                   NaN            NaN       361                      36
3                   NaN            NaN       361                      36
6                   NaN            NaN       361                      36
9                   NaN            NaN       361                      36
13                  NaN            NaN       361                      36
...                 ...            ...       ...                     ...
1787485             NaN           59.6      60.0                     NaN
1787487             NaN            NaN     120.0                     NaN
1787488             NaN            NaN       6.0                     NaN
1787490             NaN            NaN     180.0                     NaN
1787491             NaN            NaN     300.0                     NaN

        intro_rate_period  negative_amortization  interest_only_payment  \
2                     NaN                      2                      2
3                     NaN                      2                      2
6                     NaN                      2                      2
9                     NaN                      2                      2
13                    NaN                      2                      2
...                   ...                    ...                    ...
1787485               NaN                      2                      2
1787487              18.0                      2                      1
1787488               NaN                      2                      2
1787490              60.0                      2                      2
1787491               NaN                      2                      2

         balloon_payment  other_nonamortizing_features property_value  \
2                      2                             2         795000
3                      2                             2         165000
6                      2                             2         435000
9                      2                             2         725000
13                     2                             2         305000
...                  ...                           ...            ...
1787485                2                             2       335000.0
1787487                1                             2       375000.0
1787488                2                             1       105000.0
1787490                2                             2       255000.0
1787491                2                             2       125000.0

         construction_method  occupancy_type  \
2                          1               1
3                          1               1
6                          1               1
9                          1               1
13                         1               1
...                      ...             ...
1787485                    1               2
1787487                    1               1
1787488                    1               1
1787490                    1               2
1787491                    2               1

         manufactured_home_secured_property_type  \
2                                              3
3                                              3
6                                              3
9                                              3
13                                             3
...                                          ...
1787485                                        3
1787487                                        3
1787488                                        3
1787490                                        3
1787491                                        2

         manufactured_home_land_property_interest total_units  \
2                                               5           1
3                                               5           1
6                                               5           1
9                                               5           1
13                                              5           1
...                                           ...         ...
1787485                                         5           1
1787487                                         5           1
1787488                                         5           1
1787490                                         5           1
1787491                                         3           1

        multifamily_affordable_units  income debt_to_income_ratio  \
2                                NaN   385.0                 <20%
3                                NaN    77.0             20%-<30%
6                                NaN   283.0             30%-<36%
9                                NaN   165.0             30%-<36%
13                               NaN   170.0                 <20%
...                              ...     ...                  ...
1787485                          NaN   237.0                   39
1787487                          NaN   168.0                 <20%
1787488                          NaN    83.0                   43
1787490                          NaN   348.0                 <20%
1787491                          NaN     NaN                  NaN

         applicant_credit_score_type  co-applicant_credit_score_type  \
2                                  1                               9
3                                  1                              10
6                                  1                              10
9                                  4                              10
13                                 1                               9
...                              ...                             ...
1787485                            1                               2
1787487                            1                               1
1787488                            1                              10
1787490                            3                               1
1787491                            9                               9

         applicant_ethnicity-1  applicant_ethnicity-2  applicant_ethnicity-3  \
2                          2.0                    NaN                    NaN
3                          2.0                    NaN                    NaN
6                          2.0                    NaN                    NaN
9                          2.0                    NaN                    NaN
13                         2.0                    NaN                    NaN
...                        ...                    ...                    ...
1787485                    2.0                    NaN                    NaN
1787487                    2.0                    NaN                    NaN
1787488                    2.0                    NaN                    NaN
1787490                    2.0                    NaN                    NaN
1787491                    4.0                    NaN                    NaN

         applicant_ethnicity-4  applicant_ethnicity-5  \
2                          NaN                    NaN
3                          NaN                    NaN
6                          NaN                    NaN
9                          NaN                    NaN
13                         NaN                    NaN
...                        ...                    ...
1787485                    NaN                    NaN
1787487                    NaN                    NaN
1787488                    NaN                    NaN
1787490                    NaN                    NaN
1787491                    NaN                    NaN

         co-applicant_ethnicity-1  co-applicant_ethnicity-2  \
2                             2.0                       NaN
3                             5.0                       NaN
6                             5.0                       NaN
9                             5.0                       NaN
13                            2.0                       NaN
...                           ...                       ...
1787485                       3.0                       NaN
1787487                       2.0                       NaN
1787488                       5.0                       NaN
1787490                       2.0                       NaN
1787491                       4.0                       NaN

         co-applicant_ethnicity-3  co-applicant_ethnicity-4  \
2                             NaN                       NaN
3                             NaN                       NaN
6                             NaN                       NaN
9                             NaN                       NaN
13                            NaN                       NaN
...                           ...                       ...
1787485                       NaN                       NaN
1787487                       NaN                       NaN
1787488                       NaN                       NaN
1787490                       NaN                       NaN
1787491                       NaN                       NaN

         co-applicant_ethnicity-5  applicant_ethnicity_observed  \
2                             NaN                             2
3                             NaN                             2
6                             NaN                             2
9                             NaN                             2
13                            NaN                             2
...                           ...                           ...
1787485                       NaN                             2
1787487                       NaN                             2
1787488                       NaN                             2
1787490                       NaN                             2
1787491                       NaN                             3

         co-applicant_ethnicity_observed  applicant_race-1  applicant_race-2  \
2                                      2               5.0               NaN
3                                      4               5.0               NaN
6                                      4               5.0               NaN
9                                      4               5.0               NaN
13                                     2               5.0               NaN
...                                  ...               ...               ...
1787485                                2               5.0               NaN
1787487                                2               5.0               NaN
1787488                                4               5.0               NaN
1787490                                2               5.0               NaN
1787491                                3               7.0               NaN

         applicant_race-3  applicant_race-4  applicant_race-5  \
2                     NaN               NaN               NaN
3                     NaN               NaN               NaN
6                     NaN               NaN               NaN
9                     NaN               NaN               NaN
13                    NaN               NaN               NaN
...                   ...               ...               ...
1787485               NaN               NaN               NaN
1787487               NaN               NaN               NaN
1787488               NaN               NaN               NaN
1787490               NaN               NaN               NaN
1787491               NaN               NaN               NaN

         co-applicant_race-1  co-applicant_race-2  co-applicant_race-3  \
2                        5.0                  NaN                  NaN
3                        8.0                  NaN                  NaN
6                        8.0                  NaN                  NaN
9                        8.0                  NaN                  NaN
13                       5.0                  NaN                  NaN
...                      ...                  ...                  ...
1787485                  6.0                  NaN                  NaN
1787487                  5.0                  NaN                  NaN
1787488                  8.0                  NaN                  NaN
1787490                  5.0                  NaN                  NaN
1787491                  7.0                  NaN                  NaN

         co-applicant_race-4  co-applicant_race-5  applicant_race_observed  \
2                        NaN                  NaN                        2

In [28]:
# ##################
# #  Something wrong with '2018', '2019' data ... dont know what it is yet ... so dropping data for those years
# ##################

# print(map_df)
# # 1278959 rows x 99 columns

# Define the list of valid years
valid_years = [2020, 2021, 2022]

# Filter rows where 'year' is in the list of valid years
new_df = map_df[map_df['activity_year'].isin(valid_years)].copy()

map_df = new_df.copy()

print(map_df)
# 864168 rows x 99 columns

         activity_year                   lei  derived_msa-md state_code  \
586715            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586716            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586717            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586718            2020  AD6GFRVSDT01YPT1CS68           99999         MN
586719            2020  AD6GFRVSDT01YPT1CS68           33460         MN
...                ...                   ...             ...        ...
1787485           2022  549300RBJCM5B02O5U05           33460         MN
1787487           2022  549300RBJCM5B02O5U05           99999         MN
1787488           2022  549300RBJCM5B02O5U05           99999         MN
1787490           2022  549300RBJCM5B02O5U05           99999         MN
1787491           2022  549300Y7HCU10KIRLG30           99999         MN

         county_code  census_tract conforming_loan_limit  \
586715       27123.0  2.712304e+10                     C
586716       27053.0  2.705303e+10                     C
586717       27163.0  2.716307e+10                     C
586718       27035.0  2.703595e+10                     C
586719       27139.0  2.713908e+10                     C
...              ...           ...                   ...
1787485      27123.0  2.712304e+10                     C
1787487      27091.0  2.709179e+10                     C
1787488      27173.0  2.717397e+10                     C
1787490      27033.0  2.703327e+10                     C
1787491      27135.0  2.713597e+10                     C

             derived_loan_product_type  \
586715         Conventional:First Lien
586716         Conventional:First Lien
586717         Conventional:First Lien
586718         Conventional:First Lien
586719         Conventional:First Lien
...                                ...
1787485        Conventional:First Lien
1787487  Conventional:Subordinate Lien
1787488  Conventional:Subordinate Lien
1787490        Conventional:First Lien
1787491        Conventional:First Lien

                      derived_dwelling_category        derived_ethnicity  \
586715     Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
586716     Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
586717     Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
586718     Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
586719     Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
...                                         ...                      ...
1787485    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787487    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787488    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787490    Single Family (1-4 Units):Site-Built   Not Hispanic or Latino
1787491  Single Family (1-4 Units):Manufactured  Ethnicity Not Available

               derived_race        derived_sex  action_taken  purchaser_type  \
586715                White               Male             1               1
586716                White              Joint             1               3
586717                White              Joint             1               0
586718                White              Joint             1               3
586719                White             Female             1               3
...                     ...                ...           ...             ...
1787485               White             Female             1               0
1787487               White              Joint             1               0
1787488               White             Female             1               0
1787490               White              Joint             1               0
1787491  Race Not Available  Sex Not Available             6               0

         preapproval  loan_type  loan_purpose  lien_status  reverse_mortgage  \
586715             2          1             1            1                 2
586716             2          1            31            1                 2
586717             2          1            32            1                 2
586718             2          1            31            1                 2
586719             2          1            32            1                 2
...              ...        ...           ...          ...               ...
1787485            2          1            31            1                 2
1787487            2          1            31            2                 2
1787488            2          1             1            2                 2
1787490            2          1             1            1                 2
1787491            2          1             1            1                 2

         open-end_line_of_credit  business_or_commercial_purpose  loan_amount  \
586715                         2                               2     145000.0
586716                         2                               2     325000.0
586717                         2                               2     395000.0
586718                         2                               2     205000.0
586719                         2                               2     155000.0
...                          ...                             ...          ...
1787485                        2                               2      55000.0
1787487                        1                               2     125000.0
1787488                        2                               2      55000.0
1787490                        2                               2     205000.0
1787491                        2                               2     115000.0

         loan_to_value_ratio  interest_rate rate_spread  hoepa_status  \
586715                80.000          3.000       0.062             2
586716                52.320          3.250        0.25             2
586717                75.000          3.500      -0.266             2
586718                56.690          2.750      -0.192             3
586719                56.364          3.000       0.092             2
...                      ...            ...         ...           ...
1787485               17.160          4.000       1.142             3
1787487               70.202          4.990       -1.64             2
1787488               77.560          7.125       2.675             2
1787490               80.000          5.875       0.216             3
1787491                  NaN          6.500         NaN             2

        total_loan_costs total_points_and_fees origination_charges  \
586715            2850.0                   NaN               975.0
586716           2608.25                   NaN             1547.25
586717           2928.75                   NaN             1173.75
586718           2907.19                   NaN             1327.19
586719           2126.25                   NaN             1246.25
...                  ...                   ...                 ...
1787485           2300.8                   NaN               575.0
1787487              NaN                   NaN                 NaN
1787488              NaN                   NaN                 0.0
1787490           4607.5                   NaN              2599.0
1787491              NaN                   NaN                 NaN

        discount_points lender_credits loan_term prepayment_penalty_term  \
586715              NaN         282.56     180.0                     NaN
586716           572.25            1.0     240.0                     NaN
586717           198.75           45.0     360.0                     NaN
586718           352.19          51.73     180.0                     NaN
586719           271.25            NaN     180.0                     NaN
...                 ...            ...       ...                     ...
1787485             NaN           59.6      60.0                     NaN
1787487             NaN            NaN     120.0                     NaN
1787488             NaN            NaN       6.0                     NaN
1787490             NaN            NaN     180.0                     NaN
1787491             NaN            NaN     300.0                     NaN

        intro_rate_period  negative_amortization  interest_only_payment  \
586715                NaN                      2                      2
586716                NaN                      2                      2
586717              120.0                      2                      2
586718                NaN                      2                      2
586719                NaN                      2                      2
...                   ...                    ...                    ...
1787485               NaN                      2                      2
1787487              18.0                      2                      1
1787488               NaN                      2                      2
1787490              60.0                      2                      2
1787491               NaN                      2                      2

         balloon_payment  other_nonamortizing_features property_value  \
586715                 2                             2       175000.0
586716                 2                             2       625000.0
586717                 2                             2       535000.0
586718                 2                             2       355000.0
586719                 2                             2       275000.0
...                  ...                           ...            ...
1787485                2                             2       335000.0
1787487                1                             2       375000.0
1787488                2                             1       105000.0
1787490                2                             2       255000.0
1787491                2                             2       125000.0

         construction_method  occupancy_type  \
586715                     1               1
586716                     1               1
586717                     1               1
586718                     1               2
586719                     1               1
...                      ...             ...
1787485                    1               2
1787487                    1               1
1787488                    1               1
1787490                    1               2
1787491                    2               1

         manufactured_home_secured_property_type  \
586715                                         3
586716                                         3
586717                                         3
586718                                         3
586719                                         3
...                                          ...
1787485                                        3
1787487                                        3
1787488                                        3
1787490                                        3
1787491                                        2

         manufactured_home_land_property_interest total_units  \
586715                                          5           1
586716                                          5           1
586717                                          5           1
586718                                          5           1
586719                                          5           1
...                                           ...         ...
1787485                                         5           1
1787487                                         5           1
1787488                                         5           1
1787490                                         5           1
1787491                                         3           1

        multifamily_affordable_units  income debt_to_income_ratio  \
586715                           NaN    68.0             20%-<30%
586716                           NaN   286.0                 <20%
586717                           NaN   159.0                   36
586718                           NaN   116.0             20%-<30%
586719                           NaN    64.0                   40
...                              ...     ...                  ...
1787485                          NaN   237.0                   39
1787487                          NaN   168.0                 <20%
1787488                          NaN    83.0                   43
1787490                          NaN   348.0                 <20%
1787491                          NaN     NaN                  NaN

         applicant_credit_score_type  co-applicant_credit_score_type  \
586715                             3                              10
586716                             2                               1
586717                             2                               1
586718                             1                               3
586719                             3                              10
...                              ...                             ...
1787485                            1                               2
1787487                            1                               1
1787488                            1                              10
1787490                            3                               1
1787491                            9                               9

         applicant_ethnicity-1  applicant_ethnicity-2  applicant_ethnicity-3  \
586715                     2.0                    NaN                    NaN
586716                     2.0                    NaN                    NaN
586717                     2.0                    NaN                    NaN
586718                     2.0                    NaN                    NaN
586719                     2.0                    NaN                    NaN
...                        ...                    ...                    ...
1787485                    2.0                    NaN                    NaN
1787487                    2.0                    NaN                    NaN
1787488                    2.0                    NaN                    NaN
1787490                    2.0                    NaN                    NaN
1787491                    4.0                    NaN                    NaN

         applicant_ethnicity-4  applicant_ethnicity-5  \
586715                     NaN                    NaN
586716                     NaN                    NaN
586717                     NaN                    NaN
586718                     NaN                    NaN
586719                     NaN                    NaN
...                        ...                    ...
1787485                    NaN                    NaN
1787487                    NaN                    NaN
1787488                    NaN                    NaN
1787490                    NaN                    NaN
1787491                    NaN                    NaN

         co-applicant_ethnicity-1  co-applicant_ethnicity-2  \
586715                        5.0                       NaN
586716                        2.0                       NaN
586717                        2.0                       NaN
586718                        2.0                       NaN
586719                        5.0                       NaN
...                           ...                       ...
1787485                       3.0                       NaN
1787487                       2.0                       NaN
1787488                       5.0                       NaN
1787490                       2.0                       NaN
1787491                       4.0                       NaN

         co-applicant_ethnicity-3  co-applicant_ethnicity-4  \
586715                        NaN                       NaN
586716                        NaN                       NaN
586717                        NaN                       NaN
586718                        NaN                       NaN
586719                        NaN                       NaN
...                           ...                       ...
1787485                       NaN                       NaN
1787487                       NaN                       NaN
1787488                       NaN                       NaN
1787490                       NaN                       NaN
1787491                       NaN                       NaN

         co-applicant_ethnicity-5  applicant_ethnicity_observed  \
586715                        NaN                             2
586716                        NaN                             2
586717                        NaN                             2
586718                        NaN                             2
586719                        NaN                             2
...                           ...                           ...
1787485                       NaN                             2
1787487                       NaN                             2
1787488                       NaN                             2
1787490                       NaN                             2
1787491                       NaN                             3

         co-applicant_ethnicity_observed  applicant_race-1  applicant_race-2  \
586715                                 4               5.0               NaN
586716                                 2               5.0               NaN
586717                                 2               5.0               NaN
586718                                 2               5.0               NaN
586719                                 4               5.0               NaN
...                                  ...               ...               ...
1787485                                2               5.0               NaN
1787487                                2               5.0               NaN
1787488                                4               5.0               NaN
1787490                                2               5.0               NaN
1787491                                3               7.0               NaN

         applicant_race-3  applicant_race-4  applicant_race-5  \
586715                NaN               NaN               NaN
586716                NaN               NaN               NaN
586717                NaN               NaN               NaN
586718                NaN               NaN               NaN
586719                NaN               NaN               NaN
...                   ...               ...               ...
1787485               NaN               NaN               NaN
1787487               NaN               NaN               NaN
1787488               NaN               NaN               NaN
1787490               NaN               NaN               NaN
1787491               NaN               NaN               NaN

         co-applicant_race-1  co-applicant_race-2  co-applicant_race-3  \
586715                   8.0                  NaN                  NaN
586716                   5.0                  NaN                  NaN
586717                   5.0                  NaN                  NaN
586718                   5.0                  NaN                  NaN
586719                   8.0                  NaN                  NaN
...                      ...                  ...                  ...
1787485                  6.0                  NaN                  NaN
1787487                  5.0                  NaN                  NaN
1787488                  8.0                  NaN                  NaN
1787490                  5.0                  NaN                  NaN
1787491                  7.0                  NaN                  NaN

         co-applicant_race-4  co-applicant_race-5  applicant_race_observed  \
586715                   NaN                  NaN                        2

In [29]:
# ########## explore derived_dwelling_category

der_dwelling_category_counts = map_df['derived_dwelling_category'].value_counts()

# Display the result
print(der_dwelling_category_counts)

derived_dwelling_category
Single Family (1-4 Units):Site-Built      855430
Single Family (1-4 Units):Manufactured      6637
Multifamily:Site-Built                      2049
Multifamily:Manufactured                      52
Name: count, dtype: int64

In [30]:

# ########## restrict analysis to ...
# ##########     derived_dwelling_category = "Single Family (1-4 Units):Site-Built"

temp_df = map_df[ (map_df['derived_dwelling_category'] == "Single Family (1-4 Units):Site-Built") ].copy()

map_df = temp_df.copy()

# clear out temp_df
temp_df = pd.DataFrame()

print(map_df)
# 855430 rows x 99 columns

         activity_year                   lei  derived_msa-md state_code  \
586715            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586716            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586717            2020  AD6GFRVSDT01YPT1CS68           33460         MN
586718            2020  AD6GFRVSDT01YPT1CS68           99999         MN
586719            2020  AD6GFRVSDT01YPT1CS68           33460         MN
...                ...                   ...             ...        ...
1787484           2022  549300RBJCM5B02O5U05           33460         MN
1787485           2022  549300RBJCM5B02O5U05           33460         MN
1787487           2022  549300RBJCM5B02O5U05           99999         MN
1787488           2022  549300RBJCM5B02O5U05           99999         MN
1787490           2022  549300RBJCM5B02O5U05           99999         MN

         county_code  census_tract conforming_loan_limit  \
586715       27123.0  2.712304e+10                     C
586716       27053.0  2.705303e+10                     C
586717       27163.0  2.716307e+10                     C
586718       27035.0  2.703595e+10                     C
586719       27139.0  2.713908e+10                     C
...              ...           ...                   ...
1787484      27053.0  2.705303e+10                     C
1787485      27123.0  2.712304e+10                     C
1787487      27091.0  2.709179e+10                     C
1787488      27173.0  2.717397e+10                     C
1787490      27033.0  2.703327e+10                     C

             derived_loan_product_type             derived_dwelling_category  \
586715         Conventional:First Lien  Single Family (1-4 Units):Site-Built
586716         Conventional:First Lien  Single Family (1-4 Units):Site-Built
586717         Conventional:First Lien  Single Family (1-4 Units):Site-Built
586718         Conventional:First Lien  Single Family (1-4 Units):Site-Built
586719         Conventional:First Lien  Single Family (1-4 Units):Site-Built
...                                ...                                   ...
1787484  Conventional:Subordinate Lien  Single Family (1-4 Units):Site-Built
1787485        Conventional:First Lien  Single Family (1-4 Units):Site-Built
1787487  Conventional:Subordinate Lien  Single Family (1-4 Units):Site-Built
1787488  Conventional:Subordinate Lien  Single Family (1-4 Units):Site-Built
1787490        Conventional:First Lien  Single Family (1-4 Units):Site-Built

              derived_ethnicity derived_race derived_sex  action_taken  \
586715   Not Hispanic or Latino        White        Male             1
586716   Not Hispanic or Latino        White       Joint             1
586717   Not Hispanic or Latino        White       Joint             1
586718   Not Hispanic or Latino        White       Joint             1
586719   Not Hispanic or Latino        White      Female             1
...                         ...          ...         ...           ...
1787484  Not Hispanic or Latino        White       Joint             1
1787485  Not Hispanic or Latino        White      Female             1
1787487  Not Hispanic or Latino        White       Joint             1
1787488  Not Hispanic or Latino        White      Female             1
1787490  Not Hispanic or Latino        White       Joint             1

         purchaser_type  preapproval  loan_type  loan_purpose  lien_status  \
586715                1            2          1             1            1
586716                3            2          1            31            1
586717                0            2          1            32            1
586718                3            2          1            31            1
586719                3            2          1            32            1
...                 ...          ...        ...           ...          ...
1787484               0            2          1            31            2
1787485               0            2          1            31            1
1787487               0            2          1            31            2
1787488               0            2          1             1            2
1787490               0            2          1             1            1

         reverse_mortgage  open-end_line_of_credit  \
586715                  2                        2
586716                  2                        2
586717                  2                        2
586718                  2                        2
586719                  2                        2
...                   ...                      ...
1787484                 2                        1
1787485                 2                        2
1787487                 2                        1
1787488                 2                        2
1787490                 2                        2

         business_or_commercial_purpose  loan_amount  loan_to_value_ratio  \
586715                                2     145000.0               80.000
586716                                2     325000.0               52.320
586717                                2     395000.0               75.000
586718                                2     205000.0               56.690
586719                                2     155000.0               56.364
...                                 ...          ...                  ...
1787484                               2     305000.0               72.704
1787485                               2      55000.0               17.160
1787487                               2     125000.0               70.202
1787488                               2      55000.0               77.560
1787490                               2     205000.0               80.000

         interest_rate rate_spread  hoepa_status total_loan_costs  \
586715           3.000       0.062             2           2850.0
586716           3.250        0.25             2          2608.25
586717           3.500      -0.266             2          2928.75
586718           2.750      -0.192             3          2907.19
586719           3.000       0.092             2          2126.25
...                ...         ...           ...              ...
1787484          5.240       -0.82             2              NaN
1787485          4.000       1.142             3           2300.8
1787487          4.990       -1.64             2              NaN
1787488          7.125       2.675             2              NaN
1787490          5.875       0.216             3           4607.5

        total_points_and_fees origination_charges discount_points  \
586715                    NaN               975.0             NaN
586716                    NaN             1547.25          572.25
586717                    NaN             1173.75          198.75
586718                    NaN             1327.19          352.19
586719                    NaN             1246.25          271.25
...                       ...                 ...             ...
1787484                   NaN                 NaN             NaN
1787485                   NaN               575.0             NaN
1787487                   NaN                 NaN             NaN
1787488                   NaN                 0.0             NaN
1787490                   NaN              2599.0             NaN

        lender_credits loan_term prepayment_penalty_term intro_rate_period  \
586715          282.56     180.0                     NaN               NaN
586716             1.0     240.0                     NaN               NaN
586717            45.0     360.0                     NaN             120.0
586718           51.73     180.0                     NaN               NaN
586719             NaN     180.0                     NaN               NaN
...                ...       ...                     ...               ...
1787484            NaN     120.0                     NaN              36.0
1787485           59.6      60.0                     NaN               NaN
1787487            NaN     120.0                     NaN              18.0
1787488            NaN       6.0                     NaN               NaN
1787490            NaN     180.0                     NaN              60.0

         negative_amortization  interest_only_payment  balloon_payment  \
586715                       2                      2                2
586716                       2                      2                2
586717                       2                      2                2
586718                       2                      2                2
586719                       2                      2                2
...                        ...                    ...              ...
1787484                      2                      1                1
1787485                      2                      2                2
1787487                      2                      1                1
1787488                      2                      2                2
1787490                      2                      2                2

         other_nonamortizing_features property_value  construction_method  \
586715                              2       175000.0                    1
586716                              2       625000.0                    1
586717                              2       535000.0                    1
586718                              2       355000.0                    1
586719                              2       275000.0                    1
...                               ...            ...                  ...
1787484                             2      3505000.0                    1
1787485                             2       335000.0                    1
1787487                             2       375000.0                    1
1787488                             1       105000.0                    1
1787490                             2       255000.0                    1

         occupancy_type  manufactured_home_secured_property_type  \
586715                1                                        3
586716                1                                        3
586717                1                                        3
586718                2                                        3
586719                1                                        3
...                 ...                                      ...
1787484               1                                        3
1787485               2                                        3
1787487               1                                        3
1787488               1                                        3
1787490               2                                        3

         manufactured_home_land_property_interest total_units  \
586715                                          5           1
586716                                          5           1
586717                                          5           1
586718                                          5           1
586719                                          5           1
...                                           ...         ...
1787484                                         5           1
1787485                                         5           1
1787487                                         5           1
1787488                                         5           1
1787490                                         5           1

        multifamily_affordable_units  income debt_to_income_ratio  \
586715                           NaN    68.0             20%-<30%
586716                           NaN   286.0                 <20%
586717                           NaN   159.0                   36
586718                           NaN   116.0             20%-<30%
586719                           NaN    64.0                   40
...                              ...     ...                  ...
1787484                          NaN   444.0                   37
1787485                          NaN   237.0                   39
1787487                          NaN   168.0                 <20%
1787488                          NaN    83.0                   43
1787490                          NaN   348.0                 <20%

         applicant_credit_score_type  co-applicant_credit_score_type  \
586715                             3                              10
586716                             2                               1
586717                             2                               1
586718                             1                               3
586719                             3                              10
...                              ...                             ...
1787484                            1                               1
1787485                            1                               2
1787487                            1                               1
1787488                            1                              10
1787490                            3                               1

         applicant_ethnicity-1  applicant_ethnicity-2  applicant_ethnicity-3  \
586715                     2.0                    NaN                    NaN
586716                     2.0                    NaN                    NaN
586717                     2.0                    NaN                    NaN
586718                     2.0                    NaN                    NaN
586719                     2.0                    NaN                    NaN
...                        ...                    ...                    ...
1787484                    2.0                    NaN                    NaN
1787485                    2.0                    NaN                    NaN
1787487                    2.0                    NaN                    NaN
1787488                    2.0                    NaN                    NaN
1787490                    2.0                    NaN                    NaN

         applicant_ethnicity-4  applicant_ethnicity-5  \
586715                     NaN                    NaN
586716                     NaN                    NaN
586717                     NaN                    NaN
586718                     NaN                    NaN
586719                     NaN                    NaN
...                        ...                    ...
1787484                    NaN                    NaN
1787485                    NaN                    NaN
1787487                    NaN                    NaN
1787488                    NaN                    NaN
1787490                    NaN                    NaN

         co-applicant_ethnicity-1  co-applicant_ethnicity-2  \
586715                        5.0                       NaN
586716                        2.0                       NaN
586717                        2.0                       NaN
586718                        2.0                       NaN
586719                        5.0                       NaN
...                           ...                       ...
1787484                       2.0                       NaN
1787485                       3.0                       NaN
1787487                       2.0                       NaN
1787488                       5.0                       NaN
1787490                       2.0                       NaN

         co-applicant_ethnicity-3  co-applicant_ethnicity-4  \
586715                        NaN                       NaN
586716                        NaN                       NaN
586717                        NaN                       NaN
586718                        NaN                       NaN
586719                        NaN                       NaN
...                           ...                       ...
1787484                       NaN                       NaN
1787485                       NaN                       NaN
1787487                       NaN                       NaN
1787488                       NaN                       NaN
1787490                       NaN                       NaN

         co-applicant_ethnicity-5  applicant_ethnicity_observed  \
586715                        NaN                             2
586716                        NaN                             2
586717                        NaN                             2
586718                        NaN                             2
586719                        NaN                             2
...                           ...                           ...
1787484                       NaN                             2
1787485                       NaN                             2
1787487                       NaN                             2
1787488                       NaN                             2
1787490                       NaN                             2

         co-applicant_ethnicity_observed  applicant_race-1  applicant_race-2  \
586715                                 4               5.0               NaN
586716                                 2               5.0               NaN
586717                                 2               5.0               NaN
586718                                 2               5.0               NaN
586719                                 4               5.0               NaN
...                                  ...               ...               ...
1787484                                2               5.0               NaN
1787485                                2               5.0               NaN
1787487                                2               5.0               NaN
1787488                                4               5.0               NaN
1787490                                2               5.0               NaN

         applicant_race-3  applicant_race-4  applicant_race-5  \
586715                NaN               NaN               NaN
586716                NaN               NaN               NaN
586717                NaN               NaN               NaN
586718                NaN               NaN               NaN
586719                NaN               NaN               NaN
...                   ...               ...               ...
1787484               NaN               NaN               NaN
1787485               NaN               NaN               NaN
1787487               NaN               NaN               NaN
1787488               NaN               NaN               NaN
1787490               NaN               NaN               NaN

         co-applicant_race-1  co-applicant_race-2  co-applicant_race-3  \
586715                   8.0                  NaN                  NaN
586716                   5.0                  NaN                  NaN
586717                   5.0                  NaN                  NaN
586718                   5.0                  NaN                  NaN
586719                   8.0                  NaN                  NaN
...                      ...                  ...                  ...
1787484                  5.0                  NaN                  NaN
1787485                  6.0                  NaN                  NaN
1787487                  5.0                  NaN                  NaN
1787488                  8.0                  NaN                  NaN
1787490                  5.0                  NaN                  NaN

         co-applicant_race-4  co-applicant_race-5  applicant_race_observed  \
586715                   NaN                  NaN                        2
586716                   NaN                  NaN                        2
586717                   NaN                  NaN                        2
586718                   NaN                  NaN                        2
586719                   NaN                  NaN                        2

In [31]:
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################

In [32]:
county_data = {
	27173: {"county": "Wadena County"       , "state": "Minnesota", "latitude": 46.6532, "longitude": -94.9907},
	27155: {"county": "Todd County"         , "state": "Minnesota", "latitude": 46.0207, "longitude": -94.8968},
	27149: {"county": "St. Louis County"    , "state": "Minnesota", "latitude": 47.5207, "longitude": -92.5207},
	27145: {"county": "Sherburne County"    , "state": "Minnesota", "latitude": 45.4658, "longitude": -93.7478},
	27127: {"county": "Pennington County"   , "state": "Minnesota", "latitude": 48.0653, "longitude": -96.0725},
	27089: {"county": "Mahnomen County"     , "state": "Minnesota", "latitude": 47.3322, "longitude": -95.8209},
	27087: {"county": "Marshall County"     , "state": "Minnesota", "latitude": 48.3627, "longitude": -96.3625},
	27073: {"county": "Kittson County"      , "state": "Minnesota", "latitude": 48.7684, "longitude": -96.8188},
	27071: {"county": "Koochiching County"  , "state": "Minnesota", "latitude": 48.2524, "longitude": -93.7832},
	27065: {"county": "Lake County"         , "state": "Minnesota", "latitude": 47.6172, "longitude": -91.4177},
	27055: {"county": "Hubbard County"      , "state": "Minnesota", "latitude": 47.0705, "longitude": -94.9281},
	27033: {"county": "Cook County"         , "state": "Minnesota", "latitude": 47.9349, "longitude": -90.4108},
	27031: {"county": "Cook County"         , "state": "Minnesota", "latitude": 47.9349, "longitude": -90.4108},
	27029: {"county": "Clearwater County"   , "state": "Minnesota", "latitude": 47.5738, "longitude": -95.3641},
	27023: {"county": "Carlton County"      , "state": "Minnesota", "latitude": 46.5567, "longitude": -92.4995},
	27021: {"county": "Clearwater County"   , "state": "Minnesota", "latitude": 47.5738, "longitude": -95.3641},
	27007: {"county": "Beltrami County"     , "state": "Minnesota", "latitude": 47.9439, "longitude": -94.8502},
	27169: {"county": "Steele County"       , "state": "Minnesota", "latitude": 44.0275, "longitude": -93.2079},
	27167: {"county": "Steele County"       , "state": "Minnesota", "latitude": 44.0275, "longitude": -93.2079},
	27153: {"county": "Stearns County"      , "state": "Minnesota", "latitude": 45.5798, "longitude": -94.5979},
	27147: {"county": "Stearns County"      , "state": "Minnesota", "latitude": 45.5798, "longitude": -94.5979},
	27137: {"county": "Polk County"         , "state": "Minnesota", "latitude": 47.7506, "longitude": -96.0039},
	27135: {"county": "Rice County"         , "state": "Minnesota", "latitude": 44.3355, "longitude": -93.283 },
	27133: {"county": "Rice County"         , "state": "Minnesota", "latitude": 44.3355, "longitude": -93.283 },
	27121: {"county": "Otter Tail County"   , "state": "Minnesota", "latitude": 46.3703, "longitude": -95.6982},
	27117: {"county": "Norman County"       , "state": "Minnesota", "latitude": 47.4578, "longitude": -96.4347},
	27103: {"county": "Morrison County"     , "state": "Minnesota", "latitude": 46.0204, "longitude": -94.2214},
	27097: {"county": "Morrison County"     , "state": "Minnesota", "latitude": 46.0204, "longitude": -94.2214},
	27095: {"county": "Mille Lacs County"   , "state": "Minnesota", "latitude": 45.8363, "longitude": -93.5926},
	27093: {"county": "Meeker County"       , "state": "Minnesota", "latitude": 45.1159, "longitude": -94.5128},
	27085: {"county": "McLeod County"       , "state": "Minnesota", "latitude": 44.8994, "longitude": -94.3233},
	27083: {"county": "Martin County"       , "state": "Minnesota", "latitude": 43.6711, "longitude": -94.6015},
	27077: {"county": "Le Sueur County"     , "state": "Minnesota", "latitude": 44.3632, "longitude": -93.6814},
	27075: {"county": "Le Sueur County"     , "state": "Minnesota", "latitude": 44.3632, "longitude": -93.6814},
	27061: {"county": "Kanabec County"      , "state": "Minnesota", "latitude": 45.9137, "longitude": -93.3555},
	27059: {"county": "Isanti County"       , "state": "Minnesota", "latitude": 45.5549, "longitude": -93.3142},
	27049: {"county": "Grant County"        , "state": "Minnesota", "latitude": 45.9657, "longitude": -96.0174},
	27037: {"county": "Crow Wing County"    , "state": "Minnesota", "latitude": 46.5396, "longitude": -94.0643},
	27027: {"county": "Clay County"         , "state": "Minnesota", "latitude": 46.9016, "longitude": -96.4115},
	27019: {"county": "Carver County"       , "state": "Minnesota", "latitude": 44.8223, "longitude": -93.7808},
	27017: {"county": "Brown County"        , "state": "Minnesota", "latitude": 44.2388, "longitude": -94.7238},
	27015: {"county": "Brown County"        , "state": "Minnesota", "latitude": 44.2388, "longitude": -94.7238},
	27013: {"county": "Blue Earth County"   , "state": "Minnesota", "latitude": 44.0601, "longitude": -94.1017},
	27009: {"county": "Benton County"       , "state": "Minnesota", "latitude": 45.6859, "longitude": -94.0297},
	27005: {"county": "Becker County"       , "state": "Minnesota", "latitude": 46.9818, "longitude": -95.7989},
	27001: {"county": "Aitkin County"       , "state": "Minnesota", "latitude": 46.6742, "longitude": -93.4087},
	27143: {"county": "Scott County"        , "state": "Minnesota", "latitude": 44.6618, "longitude": -93.5461},
	27129: {"county": "Ramsey County"       , "state": "Minnesota", "latitude": 45.0134, "longitude": -93.0966},
	27057: {"county": "Hennepin County"     , "state": "Minnesota", "latitude": 44.9244, "longitude": -93.4226},
	27053: {"county": "Hennepin County"     , "state": "Minnesota", "latitude": 44.9244, "longitude": -93.4226},
	27039: {"county": "Dakota County"       , "state": "Minnesota", "latitude": 44.6764, "longitude": -93.0623},
	27003: {"county": "Anoka County"        , "state": "Minnesota", "latitude": 45.3311, "longitude": -93.2778},
	27171: {"county": "Traverse County"     , "state": "Minnesota", "latitude": 45.8237, "longitude": -96.4295},
	27165: {"county": "Swift County"        , "state": "Minnesota", "latitude": 45.1673, "longitude": -95.7552},
	27163: {"county": "Sibley County"       , "state": "Minnesota", "latitude": 44.5745, "longitude": -94.2046},
	27161: {"county": "Waseca County"       , "state": "Minnesota", "latitude": 44.0246, "longitude": -93.5479},
	27159: {"county": "Wabasha County"      , "state": "Minnesota", "latitude": 44.3674, "longitude": -92.1205},
	27157: {"county": "Swift County"        , "state": "Minnesota", "latitude": 45.1673, "longitude": -95.7552},
	27151: {"county": "Stevens County"      , "state": "Minnesota", "latitude": 45.6001, "longitude": -96.0772},
	27141: {"county": "Rock County"         , "state": "Minnesota", "latitude": 43.6773, "longitude": -96.2364},
	27139: {"county": "Renville County"     , "state": "Minnesota", "latitude": 44.7549, "longitude": -94.8989},
	27131: {"county": "Redwood County"      , "state": "Minnesota", "latitude": 44.3899, "longitude": -95.2289},
	27125: {"county": "Pipestone County"    , "state": "Minnesota", "latitude": 43.8584, "longitude": -96.3087},
	27123: {"county": "Pipestone County"    , "state": "Minnesota", "latitude": 43.8584, "longitude": -96.3087},
	27119: {"county": "Olmsted County"      , "state": "Minnesota", "latitude": 44.0216, "longitude": -92.4544},
	27115: {"county": "Nobles County"       , "state": "Minnesota", "latitude": 43.6826, "longitude": -95.7634},
	27113: {"county": "Murray County"       , "state": "Minnesota", "latitude": 44.0036, "longitude": -95.7545},
	27111: {"county": "Murray County"       , "state": "Minnesota", "latitude": 44.0036, "longitude": -95.7545},
	27109: {"county": "Mower County"        , "state": "Minnesota", "latitude": 43.6663, "longitude": -92.7798},
	27107: {"county": "Nicollet County"     , "state": "Minnesota", "latitude": 44.4137, "longitude": -94.1644},
	27105: {"county": "Nobles County"       , "state": "Minnesota", "latitude": 43.6826, "longitude": -95.7634},
	27101: {"county": "Murray County"       , "state": "Minnesota", "latitude": 44.0036, "longitude": -95.7545},
	27099: {"county": "Nicollet County"     , "state": "Minnesota", "latitude": 44.4137, "longitude": -94.1644},
	27091: {"county": "Martin County"       , "state": "Minnesota", "latitude": 43.6711, "longitude": -94.6015},
	27081: {"county": "Lincoln County"      , "state": "Minnesota", "latitude": 44.3737, "longitude": -96.3093},
	27079: {"county": "Lyon County"         , "state": "Minnesota", "latitude": 44.4072, "longitude": -95.7508},
	27069: {"county": "Kandiyohi County"    , "state": "Minnesota", "latitude": 45.1796, "longitude": -95.0212},
	27067: {"county": "Lac qui Parle County", "state": "Minnesota", "latitude": 44.9895, "longitude": -96.0875},
	27063: {"county": "Jackson County"      , "state": "Minnesota", "latitude": 43.6594, "longitude": -95.1528},
	27051: {"county": "Goodhue County"      , "state": "Minnesota", "latitude": 44.4201, "longitude": -92.7238},
	27047: {"county": "Freeborn County"     , "state": "Minnesota", "latitude": 43.6883, "longitude": -93.3484},
	27045: {"county": "Fillmore County"     , "state": "Minnesota", "latitude": 43.6318, "longitude": -92.2454},
	27043: {"county": "Faribault County"    , "state": "Minnesota", "latitude": 43.6767, "longitude": -93.9497},
	27041: {"county": "Dodge County"        , "state": "Minnesota", "latitude": 44.0193, "longitude": -92.8542},
	27035: {"county": "Cottonwood County"   , "state": "Minnesota", "latitude": 43.8877, "longitude": -95.2054},
	27025: {"county": "Chippewa County"     , "state": "Minnesota", "latitude": 45.0386, "longitude": -95.5472},
	27011: {"county": "Big Stone County"    , "state": "Minnesota", "latitude": 45.4219, "longitude": -96.4086}
}


def get_county_info(fips_code):
    typeString = type(fips_code)
    if fips_code in county_data:
        county_info = county_data[fips_code]
        county_name = county_info["county"]
        # state = county_info["state"]
        latitude = county_info["latitude"]
        longitude = county_info["longitude"]
        return county_name, latitude, longitude
        # return county_name, state, latitude, longitude

    else:
        return None, None, None
        # return None, None, None, None

In [33]:
# ####################################################################################################
# ####################################################################################################

In [34]:

# only two columns are of interest
#
clean_df = map_df[["county_code", "interest_rate"]].copy()

# Check the updated DataFrame
print(clean_df)
# 855430 rows x 2 columns

# remove rows where 'interest_rate' is not numeric
clean_df['interest_rate'] = pd.to_numeric(clean_df['interest_rate'], errors='coerce')

# Drop rows with NaN values in any column
clean_df = clean_df.dropna()

# Check the updated DataFrame
print(clean_df)
# 854609 rows x 2 columns

         county_code  interest_rate
586715       27123.0          3.000
586716       27053.0          3.250
586717       27163.0          3.500
586718       27035.0          2.750
586719       27139.0          3.000
...              ...            ...
1787484      27053.0          5.240
1787485      27123.0          4.000
1787487      27091.0          4.990
1787488      27173.0          7.125
1787490      27033.0          5.875

[855430 rows x 2 columns]
         county_code  interest_rate
586715       27123.0          3.000
586716       27053.0          3.250
586717       27163.0          3.500
586718       27035.0          2.750
586719       27139.0          3.000
...              ...            ...
1787484      27053.0          5.240
1787485      27123.0          4.000
1787487      27091.0          4.990
1787488      27173.0          7.125
1787490      27033.0          5.875

[854609 rows x 2 columns]

In [35]:

# Group by 'county_code' ... and calculate the mean of 'interest_rate' for each group
mean_interest_rate_by_county = clean_df.groupby('county_code')['interest_rate'].mean()

# Convert the result to a DataFrame for better readability
mean_interest_rate_by_county_df = mean_interest_rate_by_county.reset_index()

# Rename the 'interest_rate' column to 'mean_interest_rate'
mean_interest_rate_by_county_df = mean_interest_rate_by_county_df.rename(columns={'interest_rate': 'mean_interest_rate'})

# Check the updated DataFrame
print(mean_interest_rate_by_county_df)
# 87 rows x 2 columns

    county_code  mean_interest_rate
0       27001.0            3.509389
1       27003.0            3.442619
2       27005.0            3.343704
3       27007.0            3.485990
4       27009.0            3.442437
..          ...                 ...
82      27165.0            3.537129
83      27167.0            3.594771
84      27169.0            3.411404
85      27171.0            3.435158
86      27173.0            3.554130

[87 rows x 2 columns]

In [36]:

# fix "county_code" values , such as "27001.0" to be "27001"
mean_interest_rate_by_county_df['county_code'] = mean_interest_rate_by_county_df['county_code'].astype(int)

# add three new columns ... will populate these further below
mean_interest_rate_by_county_df['lat'] = ""
mean_interest_rate_by_county_df['lon'] = ""
mean_interest_rate_by_county_df['county_name'] = ""

# Check the updated DataFrame
print(mean_interest_rate_by_county_df)
# 87 rows x 5 columns

    county_code  mean_interest_rate lat lon county_name
0         27001            3.509389
1         27003            3.442619
2         27005            3.343704
3         27007            3.485990
4         27009            3.442437
..          ...                 ...  ..  ..         ...
82        27165            3.537129
83        27167            3.594771
84        27169            3.411404
85        27171            3.435158
86        27173            3.554130

[87 rows x 5 columns]

In [37]:

# for all rows , add "latitude", "longitude", "county_name" from table defined further above
#
for index, row in mean_interest_rate_by_county_df.iterrows():
    county_code = row['county_code']
    
    # Call get_county_info function to get latitude, longitude, county_name for county_code
    county_name, latitude, longitude = get_county_info(county_code)
    
    # Update 'lat', 'lon', 'county_name' columns fetched values
    mean_interest_rate_by_county_df.at[index, 'lat'] = latitude
    mean_interest_rate_by_county_df.at[index, 'lon'] = longitude
    mean_interest_rate_by_county_df.at[index, 'county_name'] = county_name

# Check the updated DataFrame
print(mean_interest_rate_by_county_df)
# 87 rows x 5 columns

    county_code  mean_interest_rate      lat      lon      county_name
0         27001            3.509389  46.6742 -93.4087    Aitkin County
1         27003            3.442619  45.3311 -93.2778     Anoka County
2         27005            3.343704  46.9818 -95.7989    Becker County
3         27007            3.485990  47.9439 -94.8502  Beltrami County
4         27009            3.442437  45.6859 -94.0297    Benton County
..          ...                 ...      ...      ...              ...
82        27165            3.537129  45.1673 -95.7552     Swift County
83        27167            3.594771  44.0275 -93.2079    Steele County
84        27169            3.411404  44.0275 -93.2079    Steele County
85        27171            3.435158  45.8237 -96.4295  Traverse County
86        27173            3.554130  46.6532 -94.9907    Wadena County

[87 rows x 5 columns]

In [38]:
import hvplot.pandas

In [39]:

# Configure the map plot for Minnesota County Mean Interest Rate
#
mn_map_plot = mean_interest_rate_by_county_df.hvplot.points(
    "lon",
    "lat",
    geo   = True,
    tiles = "OSM",                                           # Set the background map image
    title = "Mean Interest Rate (%) by Minnesota County",    # Set the title of the plot
    width  = 600,
    height = 600,
    fontsize = 15,

    color = "mean_interest_rate",
    cmap = ["darkgreen", "green", "red", "darkred"],    # Set the colormap as a list of colors
    
    size="mean_interest_rate",                          # Set the size of each dot based on mean_interest_rate
    scale=5,

    hover_cols=["county_name","county_code"]
)

# Display the map plot
mn_map_plot

C:\Apps\anaconda3\envs\dev\lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated and will be removed in a future release
  "class": algorithms.Blowfish,

:Overlay
   .WMTS.I   :WMTS   [Longitude,Latitude]
   .Points.I :Points   [lon,lat]   (mean_interest_rate,county_name,county_code)

In [ ]:
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################
# ####################################################################################################