# HMDA Data Testing

## TODO:
### Data Collection

### Data Cleaning
- [ ] merge like columns together, ex: 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4'
- [X] fix interest rate column
- [X] fix loan term column

### Statistics
- [x] summary statistics table: interest_rate by race
- [x] ANOVA test: interest_rate by race

### Documentation
- [ ] data exploration and cleanup process
- [ ] other data (show the download, df load, and df) and how poor it was
- [ ] API fixes - was downloading nationwide, and it was too big for jupyterlab/pandas/computer
- [ ] print example, found problem with 'state'.value_counts()
- [ ] data exploration - print columns, print value_counts for each
- [ ] data exploration - pull out a DF and show it of just the primary columns

## Setup
-----

In [118]:
import gzip
import os
import requests
import subprocess
import pandas as pd
import numpy as np
import scipy.stats as stats
from pathlib import Path
from hmda_lib import valid_state_codes
from hmda_lib import valid_years

In [119]:
def download_hmda_data(fd, state, year):
    url = f'https://ffiec.cfpb.gov/v2/data-browser-api/view/csv?states={state}&years={year}'

    try:
        with requests.get(url, stream=True) as response:
            response.raise_for_status()
            with open(output_file, 'wb') as fd:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        fd.write(chunk)
        return True

    except requests.exceptions.RequestException as e:
        print(f"Error downloading data: {e}")
        return False

In [120]:
def compress_hmda_data(f):
    subprocess.run(['gzip', f])

## Data Collection
-----

In [122]:
# download HMDA data from API

state = 'MN'
years = ['2018', '2019', '2020', '2021', '2022']

for year in years:
    output_file = Path('hmda_data', f'hmda-{state}-{year}.csv')
    if os.path.exists(f'{output_file}.gz'):
        print('File exists already! Skipping!')
        continue
    else:
        print(f'Downloading HMDA data for: {year} {state}.....', end='')
        download_hmda_data(output_file, state, year)
        print(' compressing.....', end='')
        compress_hmda_data(output_file)
        print(' done!')

Downloading HMDA data for: 2018 MN..... compressing..... done!
Downloading HMDA data for: 2019 MN..... compressing..... done!
File exists already! Skipping!
File exists already! Skipping!
File exists already! Skipping!

In [123]:
# load the HMDA data into Pandas DataFrames

data_path = 'hmda_data'
filenames = os.listdir(data_path)
all_dataframes = []

for filename in filenames:
    if filename.endswith('.csv.gz'):
        filepath = Path(data_path, filename)
        with gzip.open(filepath, 'rt') as file:
            df = pd.read_csv(filepath)
        all_dataframes.append(df)

unclean_df = pd.concat(all_dataframes, ignore_index=True)

/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_38946/2038427819.py:11: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

## Data Cleaning
-----

In [127]:
# remove null values and 'Exempt' interest rate from dataframe

df = unclean_df[unclean_df['interest_rate'].notnull()]
df = df.query('interest_rate != "Exempt"')
df = df.query('loan_to_value_ratio != "Exempt"')

In [128]:
# remove null loan terms from dataframe

df = df[df['loan_term'].notnull()]

In [129]:
# data type conversions

df['interest_rate'] = pd.to_numeric(df['interest_rate'], errors='raise')
df['loan_to_value_ratio'] = pd.to_numeric(df['loan_to_value_ratio'], errors='raise')

In [130]:
# rename values

df['derived_race'] = df['derived_race'].replace({
    'Black or African American': 'Black',
    'American Indian or Alaska Native': 'Native',
    'Native Hawaiian or Other Pacific Islander': 'Pacific Islander'
})

## Data Exploration
-----

In [131]:
df['derived_race'].value_counts()

derived_race
White                       882643
Race Not Available          288832
Asian                        47390
Black                        30486
Joint                        23764
Native                        3857
Pacific Islander              1106
2 or more minority races       879
Free Form Text Only             66
Name: count, dtype: int64

In [132]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
1,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27123.0,2.712304e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4366,38.91,97300,71,750,878,50
2,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27053.0,2.705303e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3248,8.68,97300,138,1147,1246,49
3,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27163.0,2.716307e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3995,9.31,97300,103,1367,1741,38
4,2020,AD6GFRVSDT01YPT1CS68,99999,MN,27035.0,2.703595e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1910,1.20,70900,90,843,2542,33
5,2020,AD6GFRVSDT01YPT1CS68,33460,MN,27139.0,2.713908e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7709,20.08,97300,158,2415,2818,13

In [133]:
for c in df.columns:
    print(c)

activity_year
lei
derived_msa-md
state_code
county_code
census_tract
conforming_loan_limit
derived_loan_product_type
derived_dwelling_category
derived_ethnicity
derived_race
derived_sex
action_taken
purchaser_type
preapproval
loan_type
loan_purpose
lien_status
reverse_mortgage
open-end_line_of_credit
business_or_commercial_purpose
loan_amount
loan_to_value_ratio
interest_rate
rate_spread
hoepa_status
total_loan_costs
total_points_and_fees
origination_charges
discount_points
lender_credits
loan_term
prepayment_penalty_term
intro_rate_period
negative_amortization
interest_only_payment
balloon_payment
other_nonamortizing_features
property_value
construction_method
occupancy_type
manufactured_home_secured_property_type
manufactured_home_land_property_interest
total_units
multifamily_affordable_units
income
debt_to_income_ratio
applicant_credit_score_type
co-applicant_credit_score_type
applicant_ethnicity-1
applicant_ethnicity-2
applicant_ethnicity-3
applicant_ethnicity-4
applicant_ethnicity-5
co-applicant_ethnicity-1
co-applicant_ethnicity-2
co-applicant_ethnicity-3
co-applicant_ethnicity-4
co-applicant_ethnicity-5
applicant_ethnicity_observed
co-applicant_ethnicity_observed
applicant_race-1
applicant_race-2
applicant_race-3
applicant_race-4
applicant_race-5
co-applicant_race-1
co-applicant_race-2
co-applicant_race-3
co-applicant_race-4
co-applicant_race-5
applicant_race_observed
co-applicant_race_observed
applicant_sex
co-applicant_sex
applicant_sex_observed
co-applicant_sex_observed
applicant_age
co-applicant_age
applicant_age_above_62
co-applicant_age_above_62
submission_of_application
initially_payable_to_institution
aus-1
aus-2
aus-3
aus-4
aus-5
denial_reason-1
denial_reason-2
denial_reason-3
denial_reason-4
tract_population
tract_minority_population_percent
ffiec_msa_md_median_family_income
tract_to_msa_income_percentage
tract_owner_occupied_units
tract_one_to_four_family_homes
tract_median_age_of_housing_units

In [134]:
for c in df.columns:
    print(f'Examining column: {c}')
    print(df[c].value_counts())
    print()

Examining column: activity_year
activity_year
2020    352175
2021    340417
2019    226539
2018    188313
2022    171579
Name: count, dtype: int64

Examining column: lei
lei
6BYL5QZYBDK8S7L73M02    117008
KB1H1DSPRFMYMCUFXT09     90161
549300WYBPIWKK6SQC06     56778
549300FGXN1K3HLB1R50     55076
549300HW662MN1WU8550     33033
                         ...
5493008ICL5D7TS4CI35         1
549300AX5UMUZ61L1X54         1
5493003H8ECZKN77IZ88         1
549300UL36AJZ0WZ4U93         1
549300214PKB2Y1ZWH75         1
Name: count, Length: 1018, dtype: int64

Examining column: derived_msa-md
derived_msa-md
33460    922913
99999    194118
40340     46655
20260     40437
41060     37052
22020     14455
31860     13873
24220      4538
29100      3301
0          1662
38060         3
36084         2
32580         1
36100         1
39580         1
38940         1
19740         1
23580         1
12980         1
47300         1
36740         1
16974         1
41700         1
28140         1
43620         1
31084         1
Name: count, dtype: int64

Examining column: state_code
state_code
MN    1279023
Name: count, dtype: int64

Examining column: county_code
county_code
27053.0    311846
27037.0    121816
27123.0    106889
27003.0    103154
27163.0     81346
            ...
55113.0         1
29095.0         1
46099.0         1
38017.0         1
6037.0          1
Name: count, Length: 111, dtype: int64

Examining column: census_tract
census_tract
2.716307e+10    7485
2.717110e+10    6706
2.717110e+10    5427
2.705303e+10    4972
2.713908e+10    4556
                ...
2.716307e+10       1
4.609901e+10       1
3.801704e+10       1
2.712398e+10       1
6.037503e+09       1
Name: count, Length: 1690, dtype: int64

Examining column: conforming_loan_limit
conforming_loan_limit
C     1241792
NC      33900
Name: count, dtype: int64

Examining column: derived_loan_product_type
derived_loan_product_type
Conventional:First Lien          923549
FHA:First Lien                   131139
Conventional:Subordinate Lien    129959
VA:First Lien                     76765
FSA/RHS:First Lien                17368
FHA:Subordinate Lien                210
FSA/RHS:Subordinate Lien             32
VA:Subordinate Lien                   1
Name: count, dtype: int64

Examining column: derived_dwelling_category
derived_dwelling_category
Single Family (1-4 Units):Site-Built      1265688
Single Family (1-4 Units):Manufactured      10004
Multifamily:Site-Built                       3272
Multifamily:Manufactured                       59
Name: count, dtype: int64

Examining column: derived_ethnicity
derived_ethnicity
Not Hispanic or Latino     930520
Ethnicity Not Available    304668
Hispanic or Latino          28924
Joint                       14605
Free Form Text Only           306
Name: count, dtype: int64

Examining column: derived_race
derived_race
White                       882643
Race Not Available          288832
Asian                        47390
Black                        30486
Joint                        23764
Native                        3857
Pacific Islander              1106
2 or more minority races       879
Free Form Text Only             66
Name: count, dtype: int64

Examining column: derived_sex
derived_sex
Joint                498530
Male                 323859
Sex Not Available    236510
Female               220124
Name: count, dtype: int64

Examining column: action_taken
action_taken
1    1043642
6     205746
2      28291
8       1344
Name: count, dtype: int64

Examining column: purchaser_type
purchaser_type
0     360792
1     314740
3     234134
2     134362
71     89327
6      80011
9      52108
8       8684
5       2623
72      2127
4        115
Name: count, dtype: int64

Examining column: preapproval
preapproval
2    1238306
1      40717
Name: count, dtype: int64

Examining column: loan_type
loan_type
1    1053508
2     131349
3      76766
4      17400
Name: count, dtype: int64

Examining column: loan_purpose
loan_purpose
1     572129
31    379365
32    205284
2      55312
4      51219
5      15714
Name: count, dtype: int64

Examining column: lien_status
lien_status
1    1148821
2     130202
Name: count, dtype: int64

Examining column: reverse_mortgage
reverse_mortgage
2       1279021
1111          2
Name: count, dtype: int64

Examining column: open-end_line_of_credit
open-end_line_of_credit
2       1184233
1         94788
1111          2
Name: count, dtype: int64

Examining column: business_or_commercial_purpose
business_or_commercial_purpose
2       1252406
1         26603
1111         14
Name: count, dtype: int64

Examining column: loan_amount
loan_amount
205000.0      49690
225000.0      45918
185000.0      45600
155000.0      44554
165000.0      44429
              ...
42015000.0        1
12755000.0        1
23405000.0        1
47725000.0        1
13195000.0        1
Name: count, Length: 977, dtype: int64

Examining column: loan_to_value_ratio
loan_to_value_ratio
80.000    128098
95.000     65637
90.000     45666
97.000     31847
75.000     26923
           ...
77.856         1
32.497         1
6.825          1
19.423         1
30.292         1
Name: count, Length: 83026, dtype: int64

Examining column: interest_rate
interest_rate
2.875    79555
3.250    73654
2.750    68449
3.125    54491
3.375    53166
         ...
5.768        1
5.856        1
5.726        1
5.426        1
1.650        1
Name: count, Length: 4281, dtype: int64

Examining column: rate_spread
rate_spread
0.0        1497
0.13        956
0.05        945
0.09        945
0.16        939
           ...
1.1323        1
-0.3212       1
6.529         1
4.536         1
-1.282        1
Name: count, Length: 33245, dtype: int64

Examining column: hoepa_status
hoepa_status
2    1161838
3     116644
1        541
Name: count, dtype: int64

Examining column: total_loan_costs
total_loan_costs
0.0         21002
0.0         13732
225.0        3062
162.0        1844
150.0        1518
            ...
1189.16         1
3396.33         1
8812.24         1
13448.83        1
3373.63         1
Name: count, Length: 529477, dtype: int64

Examining column: total_points_and_fees
total_points_and_fees
749.0      319
2900.0     117
0.0        109
799.0      108
799.0       44
          ...
3700.25      1
2738.81      1
2365.36      1
3118.8       1
1100.1       1
Name: count, Length: 2507, dtype: int64

Examining column: origination_charges
origination_charges
0.0        97088
0.0        50249
1290.0     12094
995.0      11893
770.0       8768
           ...
1332.29        1
1434.93        1
2754.53        1
2392.7         1
6330.81        1
Name: count, Length: 277015, dtype: int64

Examining column: discount_points
discount_points
500.0      410
1500.0     405
1000.0     344
750.0      328
600.0      286
          ...
919.52       1
1492.53      1
2521.74      1
2152.98      1
896.93       1
Name: count, Length: 204207, dtype: int64

Examining column: lender_credits
lender_credits
500.0      5316
50.0       3429
1000.0     3238
25.0       3182
5.0        3017
           ...
672.94        1
3487.27       1
1533.89       1
612.86        1
5986.25       1
Name: count, Length: 147286, dtype: int64

Examining column: loan_term
loan_term
360      635237
360.0    282142
180      108998
180.0     52137
240       50989
          ...
488           1
438           1
10.0          1
45            1
65            1
Name: count, Length: 984, dtype: int64

Examining column: prepayment_penalty_term
prepayment_penalty_term
36.0     6535
36       3045
0         131
2.0       130
12         49
2          42
21.0        4
180         3
24          2
120         1
17          1
15          1
108         1
24.0        1
12.0        1
20.0        1
120.0       1
1           1
Name: count, dtype: int64

Examining column: intro_rate_period
intro_rate_period
1        39498
1.0      18954
120       9254
60        8949
12        6398
         ...
340          1
115.0        1
103.0        1
51           1
20           1
Name: count, Length: 143, dtype: int64

Examining column: negative_amortization
negative_amortization
2       1278950
1            54
1111         19
Name: count, dtype: int64

Examining column: interest_only_payment
interest_only_payment
2       1204759
1         74245
1111         19
Name: count, dtype: int64

Examining column: balloon_payment
balloon_payment
2       1249942
1         29062
1111         19
Name: count, dtype: int64

Examining column: other_nonamortizing_features
other_nonamortizing_features
2       1277983
1          1021
1111         19
Name: count, dtype: int64

Examining column: property_value
property_value
255000       30665
225000       28348
235000       28304
275000       27702
265000       27651
             ...
30735000         1
9745000          1
4665000          1
9155000          1
5355000.0        1
Name: count, Length: 1750, dtype: int64

Examining column: construction_method
construction_method
1    1268960
2      10063
Name: count, dtype: int64

Examining column: occupancy_type
occupancy_type
1    1206228
3      43163
2      29632
Name: count, dtype: int64

Examining column: manufactured_home_secured_property_type
manufactured_home_secured_property_type
3       1268904
1          6031
2          3955
1111        133
Name: count, dtype: int64

Examining column: manufactured_home_land_property_interest
manufactured_home_land_property_interest
5       1268916
1          6523
3          3331
1111        121
4            72
2            60
Name: count, dtype: int64

Examining column: total_units
total_units
1          1020812
1           235041
2            13653
2             2426
3             1773
5-24          1750
4             1559
25-49          574
50-99          484
>149           291
100-149        232
4              218
3              210
Name: count, dtype: int64

Examining column: multifamily_affordable_units
multifamily_affordable_units
0        2049
0.0       300
100       177
100.0      21
20         10
         ...
29          1
44          1
33.0        1
15.0        1
25.0        1
Name: count, Length: 71, dtype: int64

Examining column: income
income
60.0      11963
65.0      11143
70.0      11045
75.0      10963
80.0      10701
          ...
2294.0        1
3495.0        1
1431.0        1
1499.0        1
7411.0        1
Name: count, Length: 2365, dtype: int64

Examining column: debt_to_income_ratio
debt_to_income_ratio
20%-<30%    252800
30%-<36%    195344
<20%        104631
44           38507
42           38172
41           36470
40           36275
39           36161
38           35364
43           35287
37           34365
36           34017
49           26380
50%-60%      26326
45           25076
46           21862
48           21202
47           21116
>60%          3290
Exempt          33
Name: count, dtype: int64

Examining column: applicant_credit_score_type
applicant_credit_score_type
1       340616
9       311568
3       275353
2       247703
8        60707
7        32741
11        6024
4         1870
6         1553
5          887
1111         1
Name: count, dtype: int64

Examining column: co-applicant_credit_score_type
co-applicant_credit_score_type
10      528040
9       481891
1        95339
3        73172
2        59771
8        25070
7        11998
11        3108
5          381
4          148
6          104
1111         1
Name: count, dtype: int64

Examining column: applicant_ethnicity-1
applicant_ethnicity-1
2.0     939045
4.0     162772
3.0     141896
1.0      31758
14.0      2112
11.0       886
12.0       199
13.0        49
Name: count, dtype: int64

Examining column: applicant_ethnicity-2
applicant_ethnicity-2
11.0    9428
14.0    6114
12.0    1278
2.0      534
13.0     335
1.0       79
Name: count, dtype: int64

Examining column: applicant_ethnicity-3
applicant_ethnicity-3
14.0    164
12.0     68
11.0     52
13.0     38
2.0       5
1.0       1
Name: count, dtype: int64

Examining column: applicant_ethnicity-4
applicant_ethnicity-4
14.0    7
13.0    4
12.0    3
Name: count, dtype: int64

Examining column: applicant_ethnicity-5
applicant_ethnicity-5
2.0     3
14.0    2
11.0    1
13.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-1
co-applicant_ethnicity-1
5.0     571797
2.0     468862
4.0     140189
3.0      83498
1.0      13204
14.0       828
11.0       430
12.0        88
13.0        26
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-2
co-applicant_ethnicity-2
11.0    4016
14.0    2204
12.0     526
2.0      258
13.0     130
1.0       31
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-3
co-applicant_ethnicity-3
14.0    56
11.0    45
12.0    31
13.0    18
2.0      3
1.0      1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-4
co-applicant_ethnicity-4
14.0    1
13.0    1
Name: count, dtype: int64

Examining column: co-applicant_ethnicity-5
co-applicant_ethnicity-5
14.0    1
Name: count, dtype: int64

Examining column: applicant_ethnicity_observed
applicant_ethnicity_observed
2    1029164
3     220103
1      29756
Name: count, dtype: int64

Examining column: co-applicant_ethnicity_observed
co-applicant_ethnicity_observed
4    571797
2    519063
3    173348
1     14815
Name: count, dtype: int64

Examining column: applicant_race-1
applicant_race-1
5.0     896994
7.0     162845
6.0     125987
2.0      46972
3.0      33724
1.0       6120
21.0      2313
27.0      1415
4.0       1242
22.0       298
26.0       298
25.0       226
23.0       218
44.0       192
24.0        80
41.0        17
42.0        11
43.0         5
Name: count, dtype: int64

Examining column: applicant_race-2
applicant_race-2
27.0    9837
21.0    8410
5.0     7179
22.0    3457
26.0    3314
25.0    2203
23.0    1513
24.0     539
3.0      504
44.0     388
2.0      246
4.0      160
41.0      96
43.0      47
42.0      45
1.0       11
Name: count, dtype: int64

Examining column: applicant_race-3
applicant_race-3
27.0    478
5.0     472
44.0    379
22.0    291
24.0    287
25.0    280
23.0    278
26.0    271
21.0    209
3.0      51
41.0     32
4.0      23
43.0     16
42.0     12
2.0       1
Name: count, dtype: int64

Examining column: applicant_race-4
applicant_race-4
23.0    32
5.0     30
27.0    26
44.0    26
24.0    22
25.0    19
26.0    18
22.0    18
4.0     16
41.0    15
21.0    11
42.0     2
43.0     1
3.0      1
Name: count, dtype: int64

Examining column: applicant_race-5
applicant_race-5
5.0     21
41.0    17
24.0    13
44.0     6
22.0     5
23.0     4
27.0     4
25.0     3
26.0     2
21.0     2
42.0     1
43.0     1
3.0      1
Name: count, dtype: int64

Examining column: co-applicant_race-1
co-applicant_race-1
8.0     571590
5.0     457111
7.0     140177
6.0      72152
2.0      19740
3.0      11217
21.0      2590
1.0       2394
27.0       662
4.0        500
23.0       198
25.0       164
22.0       155
26.0       147
44.0       101
24.0        70
41.0        13
42.0         8
43.0         6
Name: count, dtype: int64

Examining column: co-applicant_race-2
co-applicant_race-2
27.0    3852
5.0     2678
21.0    2565
26.0    1415
22.0    1338
25.0    1026
23.0     981
24.0     347
44.0     174
3.0      146
2.0       72
41.0      60
4.0       46
42.0      28
43.0      26
1.0       19
Name: count, dtype: int64

Examining column: co-applicant_race-3
co-applicant_race-3
27.0    150
23.0    142
44.0    136
5.0     125
24.0    116
22.0    112
26.0    107
25.0    105
21.0     69
41.0     11
3.0      11
43.0      6
42.0      5
4.0       5
Name: count, dtype: int64

Examining column: co-applicant_race-4
co-applicant_race-4
44.0    13
24.0    13
23.0     9
22.0     8
26.0     6
4.0      6
41.0     5
25.0     4
27.0     4
42.0     3
5.0      2
21.0     1
43.0     1
Name: count, dtype: int64

Examining column: co-applicant_race-5
co-applicant_race-5
41.0    8
5.0     5
23.0    3
24.0    3
21.0    2
44.0    1
Name: count, dtype: int64

Examining column: applicant_race_observed
applicant_race_observed
2    1030914
3     218501
1      29608
Name: count, dtype: int64

Examining column: co-applicant_race_observed
co-applicant_race_observed
4    571590
2    520030
3    172593
1     14810
Name: count, dtype: int64

Examining column: applicant_sex
applicant_sex
1    675932
2    366079
4    163126
3     73384
6       502
Name: count, dtype: int64

Examining column: co-applicant_sex
co-applicant_sex
5    572376
2    364564
1    157930
4    140188
3     43655
6       310
Name: count, dtype: int64

Examining column: applicant_sex_observed
applicant_sex_observed
2    1029354
3     219468
1      30201
Name: count, dtype: int64

Examining column: co-applicant_sex_observed
co-applicant_sex_observed
4    572376
2    518973
3    172632
1     15042
Name: count, dtype: int64

Examining column: applicant_age
applicant_age
35-44    309803
25-34    263622
45-54    232114
55-64    166919
8888     164745
65-74     81882
<25       38336
>74       21595
9999          7
Name: count, dtype: int64

Examining column: co-applicant_age
co-applicant_age
9999     560070
35-44    157657
8888     153504
25-34    129769
45-54    116171
55-64     89589
65-74     46404
<25       14638
>74       11221
Name: count, dtype: int64

Examining column: applicant_age_above_62
applicant_age_above_62
No     970638
Yes    143633
Name: count, dtype: int64

Examining column: co-applicant_age_above_62
co-applicant_age_above_62
No     485419
Yes     80030
Name: count, dtype: int64

Examining column: submission_of_application
submission_of_application
1       945389
3       205746
2       127880
1111         8
Name: count, dtype: int64

Examining column: initially_payable_to_institution
initially_payable_to_institution
1       1009929
3        207481
2         61605
1111          8
Name: count, dtype: int64

Examining column: aus-1
aus-1
1       547735
6       413469
2       212639
3        42258
5        37907
7        15983
4         9028
1111         4
Name: count, dtype: int64

Examining column: aus-2
aus-2
1.0    34006
2.0    24974
5.0     4857
3.0     3561
7.0      709
4.0      244
Name: count, dtype: int64

Examining column: aus-3
aus-3
1.0    11423
2.0     6424
3.0     2061
5.0      886
4.0       56
Name: count, dtype: int64

Examining column: aus-4
aus-4
1.0    10382
3.0     1852
2.0     1589
4.0       46
5.0        2
Name: count, dtype: int64

Examining column: aus-5
aus-5
1.0    8628
3.0    1581
2.0    1391
4.0      37
Name: count, dtype: int64

Examining column: denial_reason-1
denial_reason-1
10      1276284
1111       2739
Name: count, dtype: int64

Examining column: denial_reason-2
Series([], Name: count, dtype: int64)

Examining column: denial_reason-3
Series([], Name: count, dtype: int64)

Examining column: denial_reason-4
Series([], Name: count, dtype: int64)

Examining column: tract_population
tract_population
15205    7485
14047    6706
14095    5427
14659    4972
15090    4556
         ...
7623        1
2379        1
378         1
30256       1
7026        1
Name: count, Length: 2204, dtype: int64

Examining column: tract_minority_population_percent
tract_minority_population_percent
24.81    7682
7.24     6877
6.34     6437
12.25    6174
6.66     5731
         ...
61.36       1
95.81       1
42.00       1
14.12       1
34.28       1
Name: count, Length: 2094, dtype: int64

Examining column: ffiec_msa_md_median_family_income
ffiec_msa_md_median_family_income
97300     258689
100600    244703
93000     165535
93600     134894
117800    119092
           ...
64200          1
60500          1
49200          1
62900          1
82400          1
Name: count, Length: 61, dtype: int64

Examining column: tract_to_msa_income_percentage
tract_to_msa_income_percentage
100    34314
99     28694
89     28600
109    27062
103    26578
       ...
25        66
23        60
177       58
30        22
187        1
Name: count, Length: 194, dtype: int64

Examining column: tract_owner_occupied_units
tract_owner_occupied_units
4005    7485
4548    6706
1636    5783
4202    5427
2214    5148
        ...
6756       1
975        1
4532       1
1502       1
2602       1

## Statistics Summaries
-----

In [135]:
# Statistics Summary Table - Interest Rates by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Interest Rate": race_group['interest_rate'].mean(),
    "Median Interest Rate": race_group['interest_rate'].median(),
    "Interest Rate Variance": race_group['interest_rate'].var(),
    "Interest Rate Std. Dev.": race_group['interest_rate'].std(),
    "Interest Rate Std. Err.": race_group['interest_rate'].sem()
})

summary_table

,Mean Interest Rate,Median Interest Rate,Interest Rate Variance,Interest Rate Std. Dev.,Interest Rate Std. Err.
derived_race,,,,,
2 or more minority races,3.947778,3.625,2.205659,1.485146,0.050093
Asian,3.687475,3.375,1.426056,1.194176,0.005486
Black,3.820617,3.500,10.695898,3.270458,0.018731
Free Form Text Only,4.121212,3.750,2.153253,1.467397,0.180624
Joint,3.803048,3.500,1.382663,1.175867,0.007628
Native,3.943490,3.625,2.024991,1.423022,0.022913
Pacific Islander,3.903947,3.625,1.771620,1.331022,0.040023
Race Not Available,4.013744,3.625,425.640704,20.631062,0.038388
White,3.788169,3.500,63.506752,7.969112,0.008482

In [136]:
# Statistics Summary Table - Loan Amount by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan Amount": race_group['loan_amount'].mean(),
    "Median Loan Amount": race_group['loan_amount'].median(),
    "Loan Amount Variance": race_group['loan_amount'].var(),
    "Loan Amount Std. Dev.": race_group['loan_amount'].std(),
    "Loan Amount Std. Err.": race_group['loan_amount'].sem()
})

summary_table

,Mean Loan Amount,Median Loan Amount,Loan Amount Variance,Loan Amount Std. Dev.,Loan Amount Std. Err.
derived_race,,,,,
2 or more minority races,222792.946530,215000.0,1.509763e+10,1.228724e+05,4144.383518
Asian,259132.306394,245000.0,2.159910e+10,1.469663e+05,675.109934
Black,233876.533491,225000.0,1.672560e+10,1.293275e+05,740.697008
Free Form Text Only,177121.212121,160000.0,1.914005e+10,1.383476e+05,17029.407105
Joint,263156.455142,245000.0,3.046722e+10,1.745486e+05,1132.287305
Native,202814.363495,185000.0,1.710770e+10,1.307964e+05,2106.060973
Pacific Islander,188860.759494,165000.0,1.275095e+11,3.570847e+05,10737.266542
Race Not Available,299401.347496,225000.0,1.590348e+12,1.261090e+06,2346.515169
White,231484.173103,205000.0,2.525568e+10,1.589203e+05,169.155828

In [137]:
# Statistics Summary Table - loan_to_value_ratio by Race
race_group = df.groupby('derived_race')

summary_table = pd.DataFrame({
    "Mean Loan to Value Ratio": race_group['loan_to_value_ratio'].mean(),
    "Median Loan to Value Ratio": race_group['loan_to_value_ratio'].median(),
    "Loan to Value Ratio Variance": race_group['loan_to_value_ratio'].var(),
    "Loan to Value Ratio Std. Dev.": race_group['loan_to_value_ratio'].std(),
    "Loan to Value Ratio Std. Err.": race_group['loan_to_value_ratio'].sem()
})

summary_table

,Mean Loan to Value Ratio,Median Loan to Value Ratio,Loan to Value Ratio Variance,Loan to Value Ratio Std. Dev.,Loan to Value Ratio Std. Err.
derived_race,,,,,
2 or more minority races,83.870818,90.0000,3.262467e+02,18.062301,0.639399
Asian,78.711334,80.0000,3.321952e+02,18.226223,0.087076
Black,84.992076,90.0010,3.088362e+02,17.573736,0.105730
Free Form Text Only,74.098766,79.6150,4.812053e+02,21.936393,2.742049
Joint,77.881710,80.0000,3.260366e+02,18.056485,0.121906
Native,80.468634,81.8750,3.725801e+02,19.302335,0.328339
Pacific Islander,76.671769,79.9615,4.062736e+02,20.156230,0.634233
Race Not Available,73.672802,77.0000,3.634651e+02,19.064760,0.053932
White,99.269989,79.7640,4.009625e+08,20024.049157,22.232933

## Hypothesis Testing
-----

### ANOVA Tests

In [138]:
# Extract individual groups
group0 = df[df["derived_race"].str.fullmatch('White')]["interest_rate"]
group1 = df[df["derived_race"].str.fullmatch('Race Not Available')]["interest_rate"]
group2 = df[df["derived_race"].str.fullmatch('Asian')]["interest_rate"]
group3 = df[df["derived_race"].str.fullmatch('Joint')]["interest_rate"]
group4 = df[df["derived_race"].str.fullmatch('Black')]["interest_rate"]
group5 = df[df["derived_race"].str.fullmatch('Native')]["interest_rate"]
group6 = df[df["derived_race"].str.fullmatch('2 or more minority races')]["interest_rate"]
group7 = df[df["derived_race"].str.fullmatch('Pacific Islander')]["interest_rate"]
group8 = df[df["derived_race"].str.fullmatch('Free Form Text Only')]["interest_rate"]

# Perform the ANOVA test
stats.f_oneway(group0, group1, group2, group3, group4, group5, group6, group7, group8)

F_onewayResult(statistic=10.948260161132048, pvalue=1.4375699707682176e-15)

#### Interpretation
A p-value of 1.4375699707682176e-15 (approximately 1.44 x 10^-15) is extremely small. In the context of statistical hypothesis testing, this indicates:

Strong Evidence Against the Null Hypothesis: The observed results are highly unlikely to have occurred by random chance alone if the null hypothesis (the assumption of no effect or no difference) were true.
Statistical Significance: The result is highly statistically significant. This means you can confidently reject the null hypothesis and conclude that there is a significant effect or difference present in your data.

Source: Google Gemini